<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SAHL.X2Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="SAHL.Common.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TestHarness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="LogSection" type="SAHL.X2.Framework.Logging.LogSection, SAHL.X2.Framework"/>
	</configSections>
	<connectionStrings>
		<add name="SAHL.X2.Framework.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id = eworkadmin2;Password=W0rdpass;Connect Timeout=30;Max Pool Size=10" providerName="System.Data.SqlClient"/>
		<add name="SAHL.X2.Framework.Properties.Settings.X2" connectionString="Data Source=DEVA03;Initial Catalog=x2skinny;Persist Security Info=True;User Id = eworkadmin2;Password=W0rdpass;Connect Timeout=30;Max Pool Size=10" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="UISTATEMENT" name="UISTATEMENT"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="X2" name="X2"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="SAHLPrincipalStore" name="SAHLPrincipalStore"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="FACTORY" name="FACTORY"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="STATE" name="STATE"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="UISTATEMENT" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="X2" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="SAHLPrincipalStore" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="FACTORY" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="STATE" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		</backingStores>
	</cachingConfiguration>
	<LogSection>
		<Logging>
			<add name="File" level="3" Lock="false" path="d:\Logs\"/>
			<!--<add name="EventLog" level="1" Lock="true" />-->
			<add name="Console" level="3" Lock="false"/>
		</Logging>
	</LogSection>

	<applicationSettings>
		<SAHL.X2Engine.Properties.Settings>
			<setting name="SystemWaitTime" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="MaxSystemThreads" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="ConcurrentSystemThreads" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="MaxUserThreads" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="ConcurrentUserThreads" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="ServerName" serializeAs="String">
				<value>X2.sahls103</value>
			</setting>
			<setting name="SessionIdleTimeMins" serializeAs="String">
				<value>30</value>
			</setting>
		</SAHL.X2Engine.Properties.Settings>
		<SAHL.Common.DataAccess.Properties.Settings>
			<setting name="Application" serializeAs="String">
				<value>RCS</value>
			</setting>
			<setting name="RepositoryFind" serializeAs="String">
				<value>
					select Statement from [2AM].dbo.uiStatement where Version = 	( select max(Version) from [2AM].dbo.uiStatement
					where ApplicationName = @Application and StatementName = @Statement)
					and ApplicationName = @Application and StatementName = @Statement
				</value>
			</setting>
		</SAHL.Common.DataAccess.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<add key="Port" value="8089"/>
		<add key="ChannelName" value="Paul Dev"/>
    <add key="DomainServiceIP" value="192.168.108.43"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
