@model SAHL.Core.UI.Elements.Tiles.ActionMiniTileElement
<div class="tile tile-mini tile-action scrollable-item" id="@Model.Id" @DataAttributes.attributes(Model)>
	@Html.DisplayForModel(x => x)
</div>