@model SAHL.Core.UI.Elements.Tiles.MinorTileElement
<div class="tile tile-minor scrollable-item @Model.TileSize" id="@Model.Id" @DataAttributes.attributes(Model)>
    @Html.DisplayForModel(x => x)
</div>
