<div>
    <div class="apply-users-menu">
        <span id="applicant_{{$index}}"class="applicant" ng-repeat='applicant in application.applicants' ng-class="{'applicant-active':currentApplicant == $index}" ng-click="selectApplicant($index)">{{$index+1}}</span>
        <img id="imgAddApplicant" ng-src="./assets/img/adduserinactive.png" class="add-applicant" ng-click="addApplicant()" ng-show="showAddApplicant()">
    </div>
    <form id="clientCaptureForm" name="clientCaptureForm">
        <div class="onethird">
            <img id="clientInfo" ng-src="{{wizard.getCurrentStep() == 'one' && './assets/img/clientinformation.png' || './assets/img/clientinformationinactive.png'}}" title="Client Information" />
            <img id="clientAddress" ng-src="{{wizard.getCurrentStep() == 'two' && './assets/img/clientaddress.png' || './assets/img/clientaddressinactive.png'}}" title="Client Address" />
            <img id="clientFinancials" ng-src="{{wizard.getCurrentStep() == 'three' && './assets/img/clientfinancials.png' || './assets/img/clientfinancialsinactive.png'}}" title="Client Financial Information" />
            <img id="clientDeclarations" ng-src="{{wizard.getCurrentStep() == 'four' && './assets/img/clientdeclarations.png' || './assets/img/clientdeclarationsinactive.png'}}" title="Client Declarations" />
            <img id="removeClient" src="./assets/img/removeuser.png" ng-click="confirm();" title="Remove Client" class="clickable" />
        </div>
       
        <div class="twothirdsborder applyPages">
            <div ng-show="(wizard.getCurrentStep() == 'one')" id="clientpage1" class="twoColumn clientInfo">
                <table>
                    <tr>
                        <td>
                            <fieldset>
                                <label for="identityNumber">ID Number</label>
                                <input type="text" id="identityNumber" name="identityNumber" ng-model="getCurrentApplicant().information.identityNumber" ng-change="checkExistingApplicationsForIdentityNumber()" focus="model.identityNumberFocus" />
                            </fieldset>
                        </td>
                        <td>
                            <fieldset>
                                <label for="dateOfBirth">Date of Birth</label>
                                <div  name="dateOfBirth" dropdown-datepicker date="getCurrentApplicant().information.$dateOfBirthObject" min-year="minBirthYear" max-year="maxBirthYear" />
                            </fieldset>
                        </td>
                    </tr>
					<tr>
						<td>
							<fieldset>
								<label for="salutation">Title</label>
								<span class="selectContainer short" style="height:28px;">
									<select name="salutationEnumId" id="salutationEnumId" ng-model="getCurrentApplicant().information.salutationEnumId" ng-options="o.Id as o.Name for o in salutationLookup"></select>
									<span id="salutationEnumIdSpan">{{getLookupName(getCurrentApplicant().information.salutationEnumId, salutationLookup)}}</span>
								</span>
							</fieldset>
						</td>
						<td>
							<fieldset>
								<label for="firstName">First Name</label>
								<input type="text" id="firstName" name="firstName" ng-model="getCurrentApplicant().information.firstName" />
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset>
								<label for="surname">Surname</label>
								<input type="text" id="surname" name="surname" ng-model="getCurrentApplicant().information.surname" />
							</fieldset>
						</td>
						<td>
							<fieldset>
								<label for="emailAddress">Email Address</label>
								<input type="text" id="emailAddress" name="emailAddress" ng-model="getCurrentApplicant().information.emailAddress" />
							</fieldset>
						</td>
					</tr>
					
					<tr>
						<td>
							<fieldset>
								<label for="cellphoneNumber">Cellphone Number</label>
								<input type="text" id="cellPhoneNumber" name="cellPhoneNumber" ng-model="getCurrentApplicant().information.cellPhoneNumber" /><div qtip="tip2" msg="Please use local format, no spaces e.g. 0836521345 (required field)"></div>
							</fieldset>
						</td>
						<td>
							<fieldset>
								<label for="workNumber">Work Number</label>
								<input type="text" id="workPhoneNumber" name="workPhoneNumber" ng-model="getCurrentApplicant().information.workPhoneNumber" /><div qtip="tip2" msg="Please use local format, no spaces e.g. 0316521345"></div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<span>
								<label for="mainContact">Main Contact</label>
								<input type="checkbox" name="mainContact" ng-model="getCurrentApplicant().information.mainContact" ng-change="checkMainContactSelectedForApplication()" />
							</span>
						</td>
						<td>
						</td>
					</tr>
                </table>

            </div>
            <div ng-show="(wizard.getCurrentStep() == 'two')" id="clientpage2" class="inline clientAddress">

                <fieldset class="fortyPercent">
                    <label for="title">Unit Number</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <input type="text" id="unitNumber" name="unitNumber" style="width: 70px; margin-right: 10px;" ng-model="getCurrentApplicant().residentialAddress.unitNumber" focus="model.unitNumber"/>
                    <div ng-show="notFirstApplicant()">
                        <label for="selectPreviousAddress">
                            Use previous applicant's address
                            <input type="checkbox" ng-click="defaultToPreviousCapturedAddress($event)" />
                        </label>
                    </div>
                </fieldset>
                <fieldset class="fortyPercent">
                    <label for="buildingNumber">Building No &amp; Name</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <input type="text" id="buildingNumber" name="buildingNumber" style="width: 70px; margin-right: 10px;" ng-model="getCurrentApplicant().residentialAddress.buildingNumber" />
                    <input type="text" id="buildingName" name="buildingName" style="width: 310px;" ng-model="getCurrentApplicant().residentialAddress.buildingName" />
                </fieldset>
                <fieldset class="fortyPercent">
                    <label for="streetNumber">Street No &amp; Name</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <input type="text" id="streetNumber" name="streetNumber" style="width: 70px; margin-right: 10px;" ng-model="getCurrentApplicant().residentialAddress.streetNumber" /><input type="text" id="streetName" name="streetName" style="width: 310px;" ng-model="getCurrentApplicant().residentialAddress.streetName" />
                </fieldset>
                <fieldset class="fortyPercent">
                    <label for="suburb">Suburb</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <div class="searchBoxContainer">
                        <input type="text" name="suburb" sahl-autocomplete="item.SuburbName in-query FilterSuburbsByNameQuery for-model searchText" ng-model="getCurrentApplicant().residentialAddress.suburb" />
                        <ul id="searchText" class="searchBox"></ul>
                    </div>
                </fieldset>
                <fieldset class="fortyPercent">
                    <label for="province">Province</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <input type="text" id="province" name="province" ng-model="getCurrentApplicant().residentialAddress.province" readonly />
                </fieldset>
                <fieldset class="fortyPercent">
                    <label for="city">City</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <input type="text" id="city" name="city" ng-model="getCurrentApplicant().residentialAddress.city" readonly />
                </fieldset>
                <fieldset class="fortyPercent">
                    <label for="postalCode">Postal Code</label>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <input type="text" id="postalCode" name="postalCode" ng-model="getCurrentApplicant().residentialAddress.postalCode" readonly />
                </fieldset>
            </div>
            <div ng-show="(wizard.getCurrentStep() == 'three')" id="clientpage3" class="employmentInfo">
                <div>
                    <fieldset>
                        <label for="title">Employment Type</label>
                        <div class="selectContainer">
                            <select id="employmentTypeEnumId" name="employmentTypeEnumId" data-validate="required" ng-model="getCurrentApplicant().employmentDetails.employmentTypeEnumId" ng-options="o.Id as o.Name for o in employmentTypeLookup" ng-change="onEmploymentTypeChanged();" focus="model.employmentTypeFocus"></select>
                            <span id="employmentTypeEnumIdSpan">{{getLookupName(getCurrentApplicant().employmentDetails.employmentTypeEnumId, employmentTypeLookup) || 'Please select'}}</span>
                        </div>
                    </fieldset>
                    <fieldset ng-hide="currentlySelectedEmployment() == 'Unemployed'">
                        <label id="lblGrossIncome" ng-show="currentlySelectedEmployment() == 'Salaried'" for="grossMonthlyIncome">Gross Monthly Individual Income</label>
                        <label id="lblGrossIncomeThreeMonthAvg" ng-show="currentlySelectedEmployment() == 'Self Employed'" for="grossMonthlyIncome">Gross Monthly Individual Income (3 Month Average)</label>
                        <label id="lblGrossIncomeExCommission" ng-show="currentlySelectedEmployment() == 'Salaried with Commission'" for="grossMonthlyIncome">Gross Monthly Individual Income (Excl. Commission)</label>
                        <label id="lblGrossIncomeExHousingAllowance" ng-show="currentlySelectedEmployment() == 'Salaried with Housing Allowance'" for="grossMonthlyIncome">Gross Monthly Individual Income (Excl. Housing Allowance)</label>
                        <div>
                            <input ng-hide="currentlySelectedEmployment() == ''" type="text" id="grossMonthlyIncome" name="grossMonthlyIncome" ng-model="getCurrentApplicant().employmentDetails.incomeDetail.grossMonthlyIncome" format="currency" />
                            <div qtip="SalariedTooltip" ng-show="currentlySelectedEmployment() == 'Salaried'" msg="Includes Basic Salary, Overtime, Recurring income, etc.. Excludes once-off income such as a bonus."></div>
                            <div qtip="salariedWithCommissionTooltip" ng-show="currentlySelectedEmployment() == 'Salaried with Commission'" msg="Includes Basic Salary, Overtime, Recurring income, etc.. Excludes once-off income such as a bonus. Excludes Commission."></div>
                            <div qtip="salariedWithHousingAllowanceTooltip" ng-show="currentlySelectedEmployment() == 'Salaried with Housing Allowance'" msg="Includes Basic Salary, Overtime, Recurring income, etc.. Excludes once-off income such as a bonus. Excludes Housing Allowance."></div>
                            <div qtip="selfEmployedTooltip" ng-show="currentlySelectedEmployment() == 'Self Employed'" msg="List the average monthly turnover generated. This is calculated as the average over a 3 month period."></div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset ng-show="currentlySelectedEmployment() == 'Salaried with Commission'">
                        <label id="lblMonthlyCommission" for="threeMonthAverageCommission">Monthly Commission (3-Month Average)</label>
                        <input type="text" id="threeMonthAverageCommission" name="threeMonthAverageCommission" ng-model="getCurrentApplicant().employmentDetails.incomeDetail.threeMonthAverageCommission" format="currency" />
                        <div qtip="txtSalariedWithCommissionTooltip" msg="List the average monthly commission. This is calculated as the average over a 3 month period."></div>
                    </fieldset>
                    <fieldset ng-show="currentlySelectedEmployment() == 'Salaried with Housing Allowance'">
                        <label id="lblHousingAllowance" for="housingAllowance">Monthly Housing Allowance</label>
                        <input type="text" id="housingAllowance" name="housingAllowance" ng-model="getCurrentApplicant().employmentDetails.incomeDetail.housingAllowance" format="currency" />
                        <div qtip="txtSalariedWithHousingAllowanceTooltip" msg="List the monthly Housing Allowance received."></div>
                    </fieldset>
                </div>
            </div>
            <div ng-show="(wizard.getCurrentStep() == 'four')" id="clientpage4" class="inline clientDeclarations">
                <fieldset class="sixtyPercent">
                    <label for="title" id="lblIncomeContributor">Are you an income contributor?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="incomeContributor_{{$index}}">
                        <input name="incomeContributor"
                               type="radio"
                               focus="model.incomeContributorFocus"
                               id="incomeContributor_{{$index}}"
                               value="{{declarationAnswer.Id}}"
                               ng-model="getCurrentApplicant().declarations.incomeContributor" />
                        {{declarationAnswer.Name}}
                        </label>
                    </div>
                </fieldset>            
                <fieldset class="sixtyPercent">
                    <label for="allowCreditBureauCheckSpan" id="lblCreditBureauCheck">Do you give permission for SA Home Loans to conduct a credit bureau check?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="allowCreditBureauCheck_{{$index}}">
                        <input name="allowCreditBureauCheck"
                               type="radio"
                               id="allowCreditBureauCheck_{{$index}}"
                               value="{{ declarationAnswer.Id }}"
                               ng-model="getCurrentApplicant().declarations.allowCreditBureauCheck" />
                        {{declarationAnswer.Name}}
                        </label>
                    </div>
                    <div ng-show="requiresItcPermission()" validationtooltip="itcPermistionTooltip" msg="If an applicant is present at the time of capture, SA Home Loans requires their permission prior to performing a Credit Bureau Check." style="display:inline"></div>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <label for="hasCapitecTransactionAccount" id="lblCapitecAccount">Is your salary paid into a Capitec transactional account?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="hasCapitecTransactionAccount_{{$index}}">
                        <input name="hasCapitecTransactionAccount"
                               type="radio"
                               id="hasCapitecTransactionAccount_{{$index}}"
                               value="{{declarationAnswer.Id}}"
                               ng-model="getCurrentApplicant().declarations.hasCapitecTransactionAccount" />
                        {{declarationAnswer.Name}}
                        </label>
                    </div>
                </fieldset>
                <fieldset class="sixtyPercent">
                    <label for="marriedInCommunityOfProperty" id="lblMarriedCOP">Are you married in community of property?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="marriedInCommunityOfProperty_{{$index}}">
                        <input name="marriedInCommunityOfProperty"
                               type="radio"
                               id="marriedInCommunityOfProperty_{{$index}}"
                               value="{{declarationAnswer.Id}}"
                               ng-model="getCurrentApplicant().declarations.marriedInCommunityOfProperty" />
                        {{declarationAnswer.Name}}
                        </label>
                    </div>
                </fieldset>
            </div>
            <br />
        </div>
        <fieldset class="submitContainer">
            <button id="backButton" type="button" ng-click="wizard.previous()" ng-show="!wizard.isFirstStep()">Back</button>
            <button id="NextButton" type="submit" ng-click="wizard.next(dismiss)" validate-on-submit ng-show="!wizard.isLastStep()" class="pull-right">{{getNextLabel()}}</button>
            <button id="printConsentButton" type="submit" ng-show="wizard.isLastStep()" ng-disabled="!enableSubmitButton()" validate-on-submit spin-click="submitApplication()" class="pull-right">
                {{getSubmitLabel()}} 
            </button>
        </fieldset>
    </form>

    <div id="backgrounDiv" class="modal-backdrop" ng-if="isConfirmingDeletion"></div>
    <div class="modal" id="confirmationModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-if="isConfirmingDeletion">
        <div class="medium modal-dialog">
            <div class="modal-content modal-confirmation">
                <div class="modal-header">
                    <h4 id="myModalLabel">please confirm that you want to remove this client from the application.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-confirmation" ng-click="onClickCancel();">Cancel</button>
                    <button type="button" ng-click="onClickRemoveClient();">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>