<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name ="DBCONNECTION_ServiceArchitect" connectionString="Data Source=SAHLS03;Initial Catalog=Cuttlefish;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;Connect Timeout=300;" providerName="System.Data.SqlClient" />    
	<add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=SAHLS03;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
  </connectionStrings>
  <appSettings>
    <add key="DisplayName" value="SAHL.Services.Windows.CommandService" />
    <add key="Description" value="SAHL.Services.Windows.CommandService" />
    <add key="ServiceName" value="SAHL.Services.Windows.CommandService" />
    <add key="messageBusServer" value="localhost" />
	  <add key="messageBusPassword" value="W0rdpass"/>
    <add key="MessagePollInterval" value="1000" />
    <add key="NugetServerLocations" value="D:\git\dev-b\DeployPackages" />
    <add key="supportedProcesses" value="[{'ProcessName':'Third Party Invoices','Workflows':[{'WorkflowName':'Third Party Invoices','ProcessName':'Third Party Invoices'}]" />
    <add key="nodeExchangeName" value="node" />
    <add key="intervalToSendHealthMessagesInMilliseconds" value="1000" />
    <add key="engineExchangeName" value="engine" />
    <add key="engineQueueName" value="queue" />
    <add key="NuGetCachePath" value="C:\NuGetPackageCache" />
    <add key="NuGetCacheEnvironmentVariableName" value="NuGetCachePath" />
    <add key="PublishingNode" value="false"/>
    <add key="LogFilePath" value="c:\temp\"/>
    <add key="EnableLogging" value="true"/>
  </appSettings>
</configuration>