#serviceName {
	 font-size: 200%;
	 font-style: normal;
}
#commandOrQueryName {
 	font-size: 50%;
	font-style: normal;
	margin-left: 50px;
}
body {
	font-family: arial;
	font-size:12px;
}
label {
	color:#FF0000;
	font-size:12px;
}
#jsonResponse{
	background-color:#E6E6E6
}
#params{
	background-color:#E6E6FA
}

