.metro .ui-pnotify-container {
  border: 1px solid #aaaaaa;
}
.metro .notifySuccess {
  background: #2ecc71;
}
.metro .notifyWarning {
  background: #3498db;
}
.metro .notifyError {
  background: #e74c3c;
}
.metro .notifyInfo {
  background: #e74c3c;
}
.metro .notifyForbidden {
  background: #e67e22;
}
.metro .notifyHelp {
  background: #f1c40f;
}

/* Text */
.ui-pnotify-title {
  float: left;
  font-size: 1.2em;
}
.ui-pnotify-text {
  text-align: left;
  clear: left;
  font-size: 1em;
}
.ui-pnotify-history-container {
  text-align: center;
}
#formContainer { text-align: left; width: 80%; margin: 0 auto; color: white; position: relative; z-index: 5; }
#formContainer h1 { color: #dddd24; text-align: center; }
.wrap