<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="LogSection" type="PDFDocumentWriter.Logging.LogSection, PDFDocumentWriter"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="LDAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="DBConnectionString" connectionString="Data Source=sahls103a;Initial Catalog=2AM;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass" providerName="System.Data.SqlClient"/>
  <add name="LDAP.Properties.Settings._2AMConnectionString" connectionString="Data Source=sahls103a;Initial Catalog=2AM;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <applicationSettings>
  <LDAP.Properties.Settings>
   <setting name="LDAP_ldap_LDAPQueryService" serializeAs="String">
    <value>http://sahls115/SAHL.Reporting.WebServices/Services/LDAPQueryService.asmx</value>
   </setting>
  </LDAP.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
