@model SAHL.Web.Public.Models.ReportViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_CaseLayout.cshtml";
}

<h2>Detail</h2>

<fieldset>
    <legend>ReportViewModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
