<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDomainProcessManagerService" maxBufferPoolSize="524288" maxReceivedMessageSize="102400000" receiveTimeout="24:20:31">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/SAHL/Services/DomainProcessManager"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDomainProcessManagerService"
                contract="DpmServiceReference.IDomainProcessManagerService"
                name="WSHttpBinding_IDomainProcessManagerService" />
        </client>
    </system.serviceModel>
</configuration>