<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAHL.X2.Framework.Logging.LogSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SAHL.X2.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SAHL.X2.Framework.Properties.Settings.X2" connectionString="Data Source=DEVA03;Initial Catalog=X2;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass" />
        <add name="SAHL.X2.Framework.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;" />
        <add name="SAHL.X2.Framework.Properties.Settings.Warehouse" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;" />
        <add name="SAHL.X2.Framework.Properties.Settings.RepositoryFind" connectionString="select Statement, statementkey from dbo.uiStatement where Version =  ( select max(Version) from dbo.uiStatement&#xA;   where ApplicationName = @Application and StatementName = @Statement)&#xA;and ApplicationName = @Application and StatementName = @Statement" />
        <add name="SAHL.X2.Framework.Properties.Settings.ImageIndexConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=ImageIndex;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect" />
    </connectionStrings>
    <applicationSettings>
        <SAHL.X2.Framework.Logging.LogSettings>
            <setting name="X2Log" serializeAs="String">
                <value>X2Log</value>
            </setting>
            <setting name="WorkflowLog" serializeAs="String">
                <value>WorkflowLog</value>
            </setting>
            <setting name="InfrastructureLog" serializeAs="String">
                <value>InfrastructureLog</value>
            </setting>
        </SAHL.X2.Framework.Logging.LogSettings>
        <SAHL.X2.Framework.Properties.Settings>
            <setting name="X2URL" serializeAs="String">
                <value>tcp://localhost:8089/X2Engine</value>
            </setting>
            <setting name="X2WebHost_Url" serializeAs="String">
                <value>http://localhost:50091/</value>
            </setting>
            <setting name="X2ProviderWeb" serializeAs="String">
                <value>True</value>
            </setting>
        </SAHL.X2.Framework.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.11.0" newVersion="4.5.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
