@model SAHL.Core.UI.Elements.Areas.MenuElementArea
<div class="menu">
	@Html.DisplayForModel(x => x.MenuBar)
	<hr />
	@Html.DisplayForModel(x => x.RibbonBar)
	<hr />
	@Html.DisplayForModel(x => x.ContextBar)
</div>
