<form name="newGroupNameForm" class="twoColumn">
    <fieldset>
        <label>Variable Group Name</label>
        <div class="input-control text">
            <input type="text" ng-change="validate(this.newGroupName)" name="newGroupName" ng-model="newGroupName" focus-me="true" />
        </div>
    </fieldset>
    <div class="button-set">
        <div class="place-right">
            <button ng-click="closeDialog()" ng-disabled="!isValid">Save</button>
            <button ng-click="cancelDialog()">Cancel</button>
        </div>
    </div>
</form>