<div>
	<div ng-repeat="tagId in row.entity[col.field]">
		<div init-metro-hint 
			class="gridTag icon-tag dropdown-toggle" 
			ng-style="grid.appScope.allTags[tagId].Style" 
			data-hint="{{grid.appScope.allTags[tagId].Caption}}|" 
			data-hint-position="bottom">
		</div>
        <ul class="dropdown-menu" data-role="dropdown" init-metro-dropdown>
            <li ng-click="removeTagFromTask(grid.appScope, row.entity, tagId, $event)"> Remove {{grid.appScope.allTags[tagId].Caption}} Tag</li>
        </ul>
    </div>
    <add-tag-button></add-tag-button>
</div>