Dapper
EasyNetQ
Microsoft.Tpl.Dataflow
Newtonsoft.Json
RabbitMQ.Client
SAHL.Config.Data.Dapper
SAHL.Core
SAHL.Core.Data
SAHL.Core.Data.Dapper
SAHL.Core.Messaging
SAHL.Services.Capitec.Models.Shared
SharpZipLib
structuremap
structuremap.automocking
ValueInjecter
Machine.Fakes
Machine.Fakes.NSubstitute
NSubstitute
NSubstitute.StructureMap.AutoMocking
Machine.Specifications