<div class="childView">
    <div class="row1">
        <h1>Info</h1>
        <h2>{{document.data.name}}</h2>
        <br />
    </div>
    <br />
    <div class="row2">
        <div id="scrollBox" spin-loader="loadingDocumentInfo">
            <table class="table bordered hovered">
                <thead>
                    <tr class="groupRow" ng-click="setSelectedIndex($index)">
                        <th class="text-left"><span>Version</span></th>
                        <th class="text-left"><span>Change Date</span></th>
                        <th class="text-left"><span>Change User</span></th>
                        <th class="text-left"><span>Is Published</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="history in decisionTreeHistory" ng-click="loadVersion($index)" style="cursor:pointer">
                        <td>{{history.DecisionTreeVersion}}</td>
                        <td>{{history.FormattedDate}}</td>
                        <td>{{history.ModificationUser}}</td>
                        <td>{{history.IsPublished}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>