<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SAHL.X2.Framework.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVC03;Initial Catalog=x2skinny;Persist Security Info=True;User Id = EWorkadmin2;Password=W0rdpass;Connect Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="X2" value="tcp://SAHLS114a:8089/X2engine"/>
	</appSettings>
</configuration>
