<div id="breadcrumb-container">
    <nav class="breadcrumbs small orange">
        <ul>
            <li ng-repeat="breadcrumb in entitiesModel.activeEntity.breadcrumbs.crumbs" ng-class="{active: $last}">
                <a ng-click="goToBreadcrumb($index)">{{breadcrumb.name}}</a>
            </li>
        </ul>
    </nav>
</div>
<div ui-view id="tile-view" spin-loader="loading">
    <div id="tile-container">
        <div id="tile-container-content">
            <div id="root-tile-container">
                <div ng-repeat="item in allRootTiles" class="tile place-left tile-4-4"
                     ng-class="{'tile-drilldown':item.hasDrilldown === true}">
                    <div class="panel full-height" ng-click="tileDrilldown(item)">
                        <div class="panel-header">
                            <div class="tile-icons-left">
                                <i ng-repeat="icon in item.tileHeader.icons.$values | filter:{ alignment : 0}"
                                   class="fa {{icon.iconName}}"></i>
                            </div>
                            <span class="tile-title-text" tool-tip="item.tileHeader.text" min-length="47">{{item.tileHeader.text | characters:47 :true}}</span>
                            <div class="tile-icons-right">
                                <div class="tile-icons-right">
                                    <i ng-repeat="icon in item.tileHeader.icons.$values | filter:{ alignment : 1}"
                                       class="fa {{icon.iconName}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="panel-content">
                            <br />
                            <div ng-include="view(item)" class="tile-view-container"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="child-tile-container">
                <div ng-repeat="item in allChildTiles"
                     class="tile place-left {{'tile-' + item.noOfColumns + '-' + item.noOfRows}}"
                     ng-class="{'tile-drilldown':item.hasDrilldown === true}">
                    <div class="panel full-height">
                        <div class="panel-header">
                            <div class="tile-icons-left">
                                <i ng-repeat="icon in item.tileHeader.icons.$values | filter:{ alignment : 0}"
                                   class="fa {{icon.iconName}}"></i>
                            </div>
                            <span class="tile-title-text">{{item.tileHeader.text }}</span>

                            <div class="tile-icons-right">
                                <div class="tile-icons-right">
                                    <i ng-repeat="icon in item.tileHeader.icons.$values | filter:{ alignment : 1}"
                                       class="fa {{icon.iconName}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="panel-content" ng-click="tileDrilldown(item)">
                            <div ng-include="view(item)" class="tile-view-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <entity-action-bar ng-model="allTileActions" action-when-clicking="performTileAction(action)" ng-if="allTileActions && allTileActions.length > 0"></entity-action-bar>
    </div>
</div>