<h1>Automatic E-Mail Notification :  Invoice Submission Received</h1>
<p>
    This e-mail serves to confirm that your invoice submission has been received and is currently being processed through our Electronic Invoicing System.
</p>

<p>Thank You.</p>

<p>
    Operations Consultant<br/>
    <strong>SA Home Loans (PTY) Ltd</strong>
</p>