<h1>Automatic E-Mail Notification:  Invoice Submission Rejected</h1>
<p>
    Please note that your invoice submission has been rejected by our electronic invoicing system as the SAHL Account No. provided in the E-Mail Subject Header is not recognised.
    Please resubmit your invoice providing the correct SAHL Account No.
</p>

<p>For queries, please contact 031 5765797</p>

<p>Thank You.</p>

<p>
    Operations Consultant<br/>
    <strong>SA Home Loans (PTY) Ltd</strong>
</p>

<table>
    @foreach (var reason in Model.RejectionReasons)
    {
        <tr>
            <td>@reason</td>
        </tr>
    }
</table>