<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=aspnet-SAHL.X2Engine2.WebHost-20130718104214;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SAHL.X2Engine2.WebHost-20130718104214.mdf" />
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
  </connectionStrings>
	<appSettings>
		<add key="DisplayName" value="SAHL.Services.Windows.CommandService" />
		<add key="Description" value="SAHL.Services.Windows.CommandService" />
		<add key="ServiceName" value="SAHL.Services.Windows.CommandService" />
		<add key="messageBusServer" value="localhost" />
    <add key="messageBusUsername" value="admin" />
    <add key="messageBusPassword" value="W0rdpass" />
    <add key="MessagePollInterval" value="1000" />
		<add key="subscriptionId" value="20000000-BDB1-4870-81F8-8ED77ECBC075" />
		<add key="NugetServerLocations" value="http://sahldeploy/SAHLDevNuGetGallery/api/v2" />
		<!--<add key="supportedProcesses" value="[{'ProcessName':'PaulsTestMap','Workflows':[{'WorkflowName':'WorkFlow01','ProcessName':'PaulsTestMap'},{'WorkflowName':'WorkFlow11','ProcessName':'PaulsTestMap'}]}]" />-->
		<add key="supportedProcesses" value="[{'ProcessName':'CommonFlagOnMainInstance','Workflows':[{'WorkflowName':'CommonFlagOnMainInstance','ProcessName':'CommonFlagOnMainInstance'}]}]" />
		<!--<add key="supportedProcesses" value="[{'ProcessName':'MultipleDecisions','Workflows':[{'WorkflowName':'MultipleDecisions','ProcessName':'MultipleDecisions'}]}]" />-->
		<!--<add key="supportedProcesses" value="[
					{'ProcessName':'Origination','Workflows':[{'WorkflowName':'Application Capture','ProcessName':'Origination'},
                                          {'WorkflowName':'Application Management','ProcessName':'Origination'},
                                          {'WorkflowName':'Credit','ProcessName':'Origination'},
                                          {'WorkflowName':'Valuations','ProcessName':'Origination'},
                                          {'WorkflowName':'Readvance Payments','ProcessName':'Origination'}]},
                                          {'ProcessName':'AutoForwardToState','Workflows':[{'WorkflowName':'AutoForwardToState','ProcessName':'AutoForwardToState'}]}]" />-->
		<!--,{'ProcessName':'Personal Loan','Workflows':[{'WorkflowName':'Personal Loans','ProcessName':'Personal Loan'}]},
    {'ProcessName':'Debt Counselling','Workflows':[{'WorkflowName':'Debt Counselling','ProcessName':'Debt Counselling'}]}]" />-->
    <add key="ActivitySchedulerMaxNoOfTasks" value="5" />
		<add key="RequestTimeoutInMilliseconds" value="3000" />
		<add key="NodeHealthTimeoutInMilliseconds" value="30000" />
		<add key="TimeToWaitUntilSchedulingActivities" value="500" />
		<add key="nodeExchangeName" value="EDNode" />
		<add key="intervalToSendHealthMessagesInMilliseconds" value="1000" />
		<add key="engineExchangeName" value="engine" />
		<add key="engineQueueName" value="queue" />
		<add key="NuGetCachePath" value="C:\NuGetPackageCache" />
		<add key="NuGetCacheEnvironmentVariableName" value="NuGetCachePath" />
		<add key="PublishingNode" value="false"/>
		<add key="LogFilePath" value="c:\temp\Dev"/>
		<add key="EnableLogging" value="true"/>
	</appSettings>
</configuration>
