<div ng-controller="DebugVariablesPanelCtrl">
    <div class="toolbar toolbarMenu button-set">
        <button ng-class="{true:'active',false:''}[variables.inputs.active]" ng-click="variables.toggleInput()">
            <span class="button-label">
                <span class="icon-enter" ></span> {{(variables.view | filter:{usage:'input'}).length}} inputs
            </span>
        </button>
        <span class="divider"></span>
        <button ng-class="{true:'active',false:''}[variables.outputs.active]" ng-click="variables.toggleOutput()">
            <span class="button-label">
                <span class="icon-exit" ></span> {{(variables.view | filter:{usage:'output'}).length}} outputs
            </span>
        </button>
    </div>
    <div>
        <form name="debugVariables">
            <table class="table bordered ">
                <tbody>
                    <tr>
                        <th>usage</th>
                        <th>name</th>
                        <th>variable type</th>
                        <th>debug value</th>
                    </tr>
                    <tr ng-repeat="variable in variables.view | filter:{usage:'input'} | orderBy:'name'" ng-show="variables.inputs.active" ng-class-even="'alternateRow'">
                        <td><span class="icon-enter"></span> input</td>
                        <td><label>{{variable.name}}</label></td>
                        <td><label>{{variable.type}}</label></td>
                        <td>
                            <select ng-model="variable.$debugValue" ng-options="v for v in boolSelect" ng-change="changeVariable()" ng-if="globalData.isVariableofType(variable,'bool')" ng-required="true"></select>
                            <input type="text" ng-if="globalData.isVariableofType(variable,'int')" ng-change="changeVariable()" ng-required="true" ng-model="variable.$debugValue" is-number="int" />
                            <input type="text" ng-if="globalData.isVariableofType(variable,'float')" ng-change="changeVariable()" ng-required="true" ng-model="variable.$debugValue" is-number="float" />
                            <input type="text" ng-if="globalData.isVariableofType(variable,'double')" ng-change="changeVariable()" ng-required="true" ng-model="variable.$debugValue" is-number="float" />
                            <input type="text" ng-if="globalData.isVariableofType(variable,'string')" ng-change="changeVariable()" ng-required="true" ng-model="variable.$debugValue" />
                            <select ng-model="variable.$debugValue" ng-options="v.value as v.name for v in globalData.getEnumerationValuesForVariable(variable)" ng-change="changeVariable()" ng-if="!globalData.isVariableofType(variable,globalData.nonEnumVariableTypes)" ng-required="true" />
                        </td>
                    </tr>
                    <tr ng-repeat="variable in variables.view | filter:{usage:'output'} | orderBy:'name'" ng-show="variables.outputs.active">
                        <td style="min-width:10px;"><span class="icon-exit"></span> output</td>
                        <td><label>{{variable.name}}</label></td>
                        <td><label>{{variable.type}}</label></td>
                        <td><label>{{variable.$debugValue}}</label></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>