<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--KEEP LocalDB DO NOT CHANGE!!!!!!-->
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=DEVA03; User Id=EWorkAdmin2;Password=W0rdpass" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
