<div id="tile-action-bar">
    <div class="place-left">
        <div id="entity-action-bar-filter-button" ng-class="{filterActive : currentlyFiltering}">
            <div id="action-bar-group-filter-option-container">
                <div id="action-bar-group-filter-options">
                    <ul>
                        <li ng-repeat="(group, metadata) in allActionsInRespectiveGroups"
                            ng-click="changeFilteringWith(metadata);">
                            <div class="input-control checkbox" onclick="return false;">
                                <label>
                                    <input type="checkbox" ng-model="metadata.includedWithFilter"/>
                                    <span class="check"></span>
                                    {{group}}
                                </label>
                            </div>
                            <div class="action-group-bar counter-of-actions">[{{metadata.placements.length}}]</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="tile-action-scroll-left" class="tile-action-scroller" ng-click="scrollLeft(1)"
             ng-class="{isScrollable : canScrollLeft}"></div>
    </div>
    <div id="tile-action-scroll-right" class="place-right tile-action-scroller" ng-click="scrollRight(1)"
         ng-class="{isScrollable : canScrollRight}">
    </div>
    <div id="tile-action-content">
        <div ng-repeat="(groupName, actionsInGroup) in viewableActions" class="tile-action-group-container">
            <div>
                <group-title number-of-items="actionsInGroup.length" group-name="groupName"></group-title>
                <button class="tile tile-1-1 tile-action tile-drilldown"
                        ng-repeat="action in actionsInGroup"
                        ng-click="performAction(action)">
                    <div>{{action.tileAction.name}}</div>
                    <i class="{{action.tileAction.iconName}}"></i>
                </button>
            </div>
            <div ng-if="!$last" class="tile tile-action-separator"></div>
        </div>
    </div>
</div>