<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<add key="DomainProcessManagerService_IsSelfHosted" value="true" />
		<add key="DomainProcessManagerService_HostName" value="localhost:9001" />
		<add key="DomainProcessManagerService_ServiceName" value="" />
		<add key="X2WebHost_Url" value="localhost/X2EngineService/" />
		<add key="DomainProcessManagerWcfServiceAddress" value="http://localhost:9001/SAHL/Services/DomainProcessManager" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IDomainProcessManagerWcfService" maxBufferPoolSize="524288" maxReceivedMessageSize="102400000">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="102400000" maxBytesPerRead="4096" maxNameTableCharCount="102400000" />
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:9001/SAHL/Services/DomainProcessManager"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IDomainProcessManagerWcfService"
					  contract="DomainProcessManagerWcfService.IDomainProcessManagerService"
					  name="WSHttpBinding_IDomainProcessManagerWcfService">
				<identity>
					<userPrincipalName value="hayleyc@sahl.local" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.3.0" newVersion="5.3.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.11.0" newVersion="4.5.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.2.18.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.2.18.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>