<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestSuiteSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SAHL.X2.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TestSuiteSettings>
      <setting name="BrowserVisability" serializeAs="String">
        <value>ShowMaximized</value>
      </setting>
      <setting name="HaloWebServiceURL" serializeAs="String">
        <value>http://sysb16/halo/</value>
      </setting>
      <setting name="SAHLDataBaseServer" serializeAs="String">
        <value>sysb03</value>
      </setting>
      <setting name="WaitTimeOut" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SQLReportServer" serializeAs="String">
        <value>sahls215a</value>
      </setting>
    </TestSuiteSettings>
    <SAHL.X2.Framework.Properties.Settings>
      <setting name="X2URL" serializeAs="String">
        <value>tcp://sahls214a:8089/X2Engine</value>
      </setting>
    </SAHL.X2.Framework.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=sysb03;Initial Catalog=2AM; Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;" providerName="System.Data.SqlClient"/>
    <add name="SAHL.X2Engine.Properties.Settings.DBConnectionString" connectionString="Data Source=sysb03;Initial Catalog=2AM;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;Connect Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="SAHL.X2Engine.Properties.Settings.X2" connectionString="Data Source=sysb03;Initial Catalog=x2;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.ImageIndexConnectionString" connectionString="Data Source=sysb03;Initial Catalog=ImageIndex;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;Timeout=30;" providerName="System.Data.SqlClient"  />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.12051" newVersion="2.6.0.12051" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>