<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using SAHL.Core.UI.Configuration;
using SAHL.Core.UI.Configuration.Tiles;

namespace <#=this.Model.Namespace#>
{
    public class <#=this.Model.ActionConfigurationName#> : ActionTileConfiguration<<#=this.Model.ActionTileModel#>>, IParentedActionTileConfiguration<<#=this.Model.TileConfiguration#>>
    {
        public <#=this.Model.ActionConfigurationName#>()
            : base("<#=this.Model.FeatureAccess#>", <#=this.Model.Sequence#>, <#=this.Model.Controller#>, <#=this.Model.Action#>, <#=this.Model.UrlAction#>)
        {
        }
    }
}