<div >
    <form ng-controller="applicationprecheckCtrl" id="applicationprecheckForm" name="applicationprecheckForm" ng-hide="canShow();">
        <div class="inline precheck">
            <fieldset class="sixtyPercent">
                <label for="title" id="lblNumberOfApplicants">How many people are applying for this loan?</label>
            </fieldset>
            <fieldset class="fortyPercent">
                <div ng-repeat="numberApplicants in maxApplicantsRange" style="display:inline">
                    <label for="numberOfApplicants_{{$index}}">
                    <input  name="numberOfApplicants"
                            type="radio"
                            id="numberOfApplicants_{{$index}}" 
                            value="{{numberApplicants.value}}"
                            ng-model="applicationDeclarations.numberOfApplicants" />
                    {{numberApplicants.name}}
                    </label>
                </div>
            </fieldset>

            <div ng-show="applicationDeclarations.numberOfApplicants">
                <fieldset class="sixtyPercent" >
                    <label for="title" id="lblAreAllApplicantsPresent">Are all of the applicants present?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="allApplicantsArePresent_{{$index}}">
                        <input  name="allApplicantsArePresent"
                                type="radio"
                                id="allApplicantsArePresent_{{$index}}" 
                                value="{{declarationAnswer.Id}}"
                                ng-model="applicationDeclarations.allApplicantsArePresent" />
                        {{declarationAnswer.Name}}
                        </label>
                    </div>
                    <div ng-show="(applicationDeclarations.allApplicantsArePresent && !allApplicantsArePresent())" validationtooltip="allApplicantsArePresentTooltip" 
                    msg="All applicants need to be present in the branch in order to apply for a home loan." style="display:inline"></div>
                </fieldset>
            </div>

            <div ng-show="allApplicantsArePresent()">
                <fieldset class="sixtyPercent">
                    <label for="title" id="lblIsUnderDebtCounselling">Are any of the applicants currently under debt counselling?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                    <label for="underDebtCounselling_{{$index}}">
                    <input name="isUnderDebtCounselling"
                           type="radio"
                           id="underDebtCounselling_{{$index}}"
                           value="{{declarationAnswer.Id}}"
                           ng-model="applicationDeclarations.isUnderDebtCounselling" />
                        {{declarationAnswer.Name}}
                    </label>
                    </div>
                <div ng-show="isUnderDebtCounselling();" validationtooltip="isUnderDebtCounsellingTooltip"
                     msg="No applicants are allowed to be under debt counselling when applying for a home loan." style="display:inline"></div>
                </fieldset>
            </div>
            <div ng-show="(getLookupName(applicationDeclarations.isUnderDebtCounselling, declarationAnswersLookup) == 'No')">
                <fieldset class="sixtyPercent">
                    <label for="title" id="lblWithinSpecifiedAge">Are all of the applicants between the age of 18 and 60 years old?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="specifiedAge_{{$index}}">
                        <input name="withinSpecifiedAge"
                               type="radio"
                               id="specifiedAge_{{$index}}"
                               value="{{declarationAnswer.Id}}"
                               ng-model="applicationDeclarations.withinSpecifiedAge" />
                        {{declarationAnswer.Name}}
                        </label> 
                    </div>
                    <div ng-show="isWithinSpecifiedAge();" validationtooltip="isWithinSpecifiedAgeTooltip" msg="All applicants need to be between the ages of 18 and 60 years old in order to apply for a home loan." style="display:inline"></div>
                </fieldset>
            </div>
            <div ng-show="(getLookupName(applicationDeclarations.withinSpecifiedAge, declarationAnswersLookup) == 'Yes')">
                <fieldset class="sixtyPercent">
                    <label for="title" id="lblPropertyHasTitleDeed">Does the property have a title deed?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="titleDeed_{{$index}}">
                        <input name="titleDeed"
                               type="radio"
                               id="titleDeed_{{$index}}"
                               value="{{declarationAnswer.Id}}"
                               ng-model="applicationDeclarations.propertyHasTitleDeed" />
                        {{declarationAnswer.Name}}
                        </label> 
                    </div>
                    <div ng-show="doesPropertyHaveTitleDeed();" validationtooltip="propertyHasTitleDeedTooltip" msg="A title deed is a requirement for applying for a home loan." style="display:inline"></div>
                </fieldset>
            </div>
            <div ng-show="(newPurchaseApplication && getLookupName(applicationDeclarations.propertyHasTitleDeed, declarationAnswersLookup) == 'Yes')">
                <fieldset class="sixtyPercent">
                    <label for="title" id="lblLinkedToPropertySale">Have you signed (or are about to sign) an offer to purchase on the property that you require this loan for?</label>
                </fieldset>
                <fieldset class="fortyPercent">
                    <div ng-repeat="declarationAnswer in declarationAnswersLookup" style="display:inline">
                        <label for="linkedToSale_{{$index}}">
                        <input name="linkedToPropertySale"
                               type="radio"
                               id="linkedToSale_{{$index}}"
                               value="{{declarationAnswer.Id}}"
                               ng-model="applicationDeclarations.linkedToPropertySale" />
                        {{declarationAnswer.Name}}
                        </label>
                    </div>
                    <div ng-show="isNewPurchaseApplicationLinkedToPropertySale();" validationtooltip="isNewPurchaseLinkedWithSaleTooltip"
                         msg="SA Home Loans cannot provide a general 'pre-approval' - we can only process a bond application based on a specific offer to purchase, where the purchase price is known." style="display:inline; float:none;"></div>
                </fieldset>
            </div>
        </div>
        <br />
        <fieldset class="submitContainer" ng-show="canproceed();">
            <button id="proceedButton" type="submit" class="pull-right" ng-click="proceed()" style="margin-right: 10px;">Proceed</button>
        </fieldset>
    </form>
</div>
<div ui-view></div>