
<form id="newPurchaseForm" name="newPurchaseForm" class="twoColumn" ng-hide="$state.current.name != 'home.content.apply.application-precheck-for-new-home.new-home'">

    <fieldset>
        <label for="purchasePrice">Purchase Price</label>
        <input type="text" id="purchasePrice" name="purchasePrice" data-validate="number" ng-model="purchasePrice" format="currency" focus="true" />
    </fieldset>
    <fieldset>
        <label for="occupancyType">Occupancy Type</label>
        <div class="selectContainer">
            <select name="occupancyType" id="occupancyType" data-validate="required" ng-model="occupancyType" onchange="DropDown('occupancyType');"
                    ng-options="occupancyType.Id as occupancyType.Name for occupancyType in occupancyTypes"></select>
            <span id="occupancyTypeSpan">Please select</span>
        </div>
        <div qtip="occupancyTypeTooltip" msg="The property for this application will either be lived in by yourself (Owner Occupied) or rented out (Investment Property)"></div>
    </fieldset>

    <fieldset>
        <label for="deposit">Cash Deposit</label>
        <input type="text" id="deposit" name="deposit" data-validate="number" ng-model="deposit" format="currency" />
    </fieldset>
    <fieldset>
        <label for="incomeType">Majority Income Type</label>
        <div class="selectContainer">
            <select name="incomeType" id="incomeType" data-validate="required" ng-model="incomeType" onchange="DropDown('incomeType')"
                    ng-options="incomeType.Id as incomeType.Name for incomeType in incomeTypes | filter: {Name:'!Unemployed'}"></select>
            <span id="incomeTypeSpan">Please select</span>
        </div>
        <div qtip="majorityIncomeTooltip" msg="The type of income that contributes the most to the Total Income of all Applicants."></div>
    </fieldset>

    <fieldset></fieldset>
    <fieldset>
        <label for="monthlyHouseHoldIncome">Total Gross Income of all Applicants</label>
        <input type="text" id="householdIncome" name="householdIncome" data-validate="number" ng-model="householdIncome" format="currency" />
        <div qtip="householdIncomeTooltip" msg="The total gross monthly income of all the applicants. This includes salaries, commission and self-employed income."></div>
    </fieldset>

    <fieldset class="submitContainer">
        <button id="submit2" type="button" ng-click="back()">Back</button>
        <button id="submitButton" type="submit" class="pull-right" validate-on-submit spin-click="calculate()" spin-keep-width="true">Calculate</button>
    </fieldset>
</form>

<div ui-view></div>
