<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#=GetHeader()#><#=this.Model.Valid?"internals.extendIt(":""#>{<#=this.Model.ChildRoutes.Any()?this.Model.ChildRoutes.Select(x => this.TemplateManager.GetTemplate(x).Process(x)).Aggregate((current, next) => current + ",\n" +new String((char)9, this.Model.Level)  + next) : ""#>}<#=this.Model.Valid?", '"+GetQualifiedRoute()+"')" :""#><#=ShouldBeFunction?";}":""#>