<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <gcServer enabled="false"/>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=aspnet-SAHL.X2Engine2.WebHost-20130718104214;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SAHL.X2Engine2.WebHost-20130718104214.mdf" />
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
  </connectionStrings>
  <appSettings>
    <add key="DisplayName" value="SAHL.Services.Windows.CommandService" />
    <add key="Description" value="SAHL.Services.Windows.CommandService" />
    <add key="ServiceName" value="SAHL.Services.Windows.CommandService" />
    <add key="MessageBusLoggerLogLevel" value="4" />
    <add key="workersAvailableToProcessRequests" value="10" />
    <add key="NumberOfUserProcessors" value="1" />
    <add key="NumberOfSystemProcessors" value="1" />
    <add key="messageBusServer" value="localhost" />
    <add key="messageBusUsername" value="admin" />
    <add key="messageBusPassword" value="W0rdpass" />
    <add key="MessagePollInterval" value="1000" />
    <add key="subscriptionId" value="d101983" />
    <add key="NugetServerLocations" value="D:\Git\dev-b\DeployPackages" />

    <!--<add key="supportedProcesses" value="[{'ProcessName':'LifeClaims','Workflows':[{'WorkflowName':'Disability Claim','ProcessName':'LifeClaims','UserConsumers':1,'SystemConsumers':1}]}]"/>-->

    <!--<add key="supportedProcesses" value="[{'ProcessName':'MultipleDecisionsWithFailure','Workflows':[{'WorkflowName':'Map Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'DAO Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'SQL Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'SQL Timeout Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'Domain Validation Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'Domain Message Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'General Exception With Messages','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'General Exception Without Messages','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'SQL API Exception Test Workflow','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'}]}]"/>-->

    <!--<add key="supportedProcesses" value="[{'ProcessName':'Origination','Workflows':[
                            {'WorkflowName':'Application Capture','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Application Management','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Credit','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Valuations','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Readvance Payments','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5}]}]"/>-->

    <add key="supportedProcesses" value="[{'ProcessName':'Third Party Invoices','Workflows':[{'WorkflowName':'Third Party Invoices','ProcessName':'Third Party Invoices','UserConsumers':1,'SystemConsumers':1}]}]"/>
    
    <!--<add key="supportedProcesses" value="[{'ProcessName':'Origination','Workflows':[
                            {'WorkflowName':'Application Capture','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Application Management','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Credit','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Valuations','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5},
														{'WorkflowName':'Readvance Payments','ProcessName':'Origination','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'Personal Loan','Workflows':[{'WorkflowName':'Personal Loans','ProcessName':'Personal Loan','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'Life','Workflows':[{'WorkflowName':'LifeOrigination','ProcessName':'Life','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'Debt Counselling','Workflows':[{'WorkflowName':'Debt Counselling','ProcessName':'Debt Counselling','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'Loan Adjustments','Workflows':[{'WorkflowName':'Loan Adjustments','ProcessName':'Loan Adjustments','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'CAP2 Offers','Workflows':[{'WorkflowName':'CAP2 Offers','ProcessName':'CAP2 Offers','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'LifeClaims','Workflows':[{'WorkflowName':'Disability Claim','ProcessName':'LifeClaims','UserConsumers':5,'SystemConsumers':5}]},
                            {'ProcessName':'Help Desk','Workflows':[{'WorkflowName':'Help Desk','ProcessName':'Help Desk','UserConsumers':5,'SystemConsumers':5}]}]"/>-->

    <!--<add key="supportedProcesses" value="[{'ProcessName':'UserCloneCreated','Workflows':[{'WorkflowName':'UserCloneCreated','ProcessName':'UserCloneCreated','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'SourceDestinationReturn','Workflows':[{'WorkflowName':'Destination','ProcessName':'SourceDestinationReturn','UserConsumers':5,'SystemConsumers':5}
          ,{'WorkflowName':'Source','ProcessName':'SourceDestinationReturn','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'SimpleTimer','Workflows':[{'WorkflowName':'SimpleTimer','ProcessName':'SimpleTimer','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'SetDataFieldsTest','Workflows':[{'WorkflowName':'SetDataFieldsTest','ProcessName':'SetDataFieldsTest','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'MultipleDecisions','Workflows':[{'WorkflowName':'MultipleDecisions','ProcessName':'MultipleDecisions','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'CreateInstance','Workflows':[{'WorkflowName':'CreateInstance','ProcessName':'CreateInstance','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'CommonFlagOnMainInstance','Workflows':[{'WorkflowName':'CommonFlagOnMainInstance','ProcessName':'CommonFlagOnMainInstance','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'CloneWakeUpParent','Workflows':[{'WorkflowName':'CloneWakeUpParent','ProcessName':'CloneWakeUpParent','UserConsumers':5,'SystemConsumers':5}]},
          {'ProcessName':'AutoForwardToState','Workflows':[{'WorkflowName':'AutoForwardToState','ProcessName':'AutoForwardToState','UserConsumers':5,'SystemConsumers':5}]}]"/>-->

    <!--<add key="supportedProcesses" value="[{'ProcessName':'MultipleDecisionsWithFailure','Workflows':[{'WorkflowName':'Map Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'DAO Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'SQL Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'SQL Timeout Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'Domain Validation Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'Domain Message Exception','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'General Exception With Messages','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'General Exception Without Messages','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'},
         {'WorkflowName':'SQL API Exception Test Workflow','ProcessName':'MultipleDecisionsWithFailure','UserConsumers':1,'SystemConsumers':'1'}]},
		 {'ProcessName':'CloneWithMultipleDecisions','Workflows':[{'WorkflowName':'CloneWithMultipleDecisions','ProcessName':'CloneWithMultipleDecisions','UserConsumers':1,'SystemConsumers':1}]}]"/>-->

    <!--<add key="supportedProcesses" value="[{'ProcessName':'CloneWithMultipleDecisions','Workflows':[{'WorkflowName':'CloneWithMultipleDecisions','ProcessName':'CloneWithMultipleDecisions','UserConsumers':1,'SystemConsumers':1}]}]"/>-->
    
    <add key="nodeExchangeName" value="Node" />
    <add key="intervalToSendHealthMessagesInMilliseconds" value="1000" />
    <add key="engineExchangeName" value="engine" />
    <add key="engineQueueName" value="queue" />
    <add key="NuGetCachePath" value="C:\NuGetPackageCache" />
    <add key="NuGetCacheEnvironmentVariableName" value="NuGetCachePath" />
    <add key="PublishingNode" value="false"/>
    <add key="LogFilePath" value="c:\temp\"/>
    <add key="EnableLogging" value="true"/>
  </appSettings>
</configuration>
