@using SAHL.Core.Services.CommandPersistence
@{
    ViewBag.Title = "Failed And Pending Commands";
}

<h2>Failed And Pending Commands</h2>

<table>
    @foreach (ICommandSession session in this.Model)
    {
        <tr>
            <td>@session.RunAsUsername</td>
            <td>@session.Command.CommandDate.ToString("g")</td>
            <td>@session.Command.CommandJson</td>
            <td><button onclick="RunCommand('@session.CommandKey')">Re Run Command</button></td>
        </tr>
    }
</table>

<script type="text/javascript">
    function RunCommand(commandKey) {
        var dataToPush = { Key: commandKey };
        $.ajax({
            url: 'CommandReplay/ReplayCommand',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            data: "{'Key' : " + commandKey +" }",// JSON.stringify(dataToPush), stringify, string not being parsed correctly so not getting to service call
            success: function (data) { alert('success'); },
            error: function (req, status, error) {
                alert('error');
            }
        });
    };
</script>