@model SAHL.Core.UI.Models.IUIEditorPageModel
<div id="pagemodelbody">
	<form class="form-horizontal" id="modalEditorForm" @DataAttributes.attributes(this.Model)>
		<fieldset>
			@Html.EditorForModel(x => x.EditorPageModel)
		</fieldset>
	</form>
</div>
<div id="pagemodelfooter">
	<button id="editor-back" class="btn btn-primary" disabled="@Model.IsFirstPage">Back</button>
	<button id="editor-next" class="btn btn-primary" data-is-last-page="@Model.IsLastPage.ToString().ToLower()">Next</button>
	<button id="editor-close" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <script>
        $(document).ready(function () {
            $(".datepickerInput").each(function () {
                setDatepicker(this)
            })
        });
	</script>
</div>

