@{ var userDetails = SAHL.Website.Halo.App_Start.DependencyResolution.StaticHelpers.GetUserDetailsForUser(User);
  
}

<li class="pull-right">
    <ul id="user-details" class="nav nav-pills">
        <li>
            <i class="icon-cog icon-white"></i>
            @userDetails.DisplayName
        </li>
        <li>
            <img class="user-image" src="~/Common/GetUserImage" />
        </li>
        <li class="divider-vertical"></li>
        <li>
            <div class="btn-group">
                @{
                    var currentRole = userDetails.ActiveRole;
                    var currentRoleDisplayText = currentRole == null ? "" : String.Format("{0}-{1}", currentRole.OrganisationArea, currentRole.RoleName);
                }
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    @currentRoleDisplayText
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var role in userDetails.UserRoles)
                    {
                        <li @DataAttributes.attributes(role) class="userRole" ><a href="#">@String.Format("{0}-{1}", role.OrganisationArea, role.RoleName)</a></li>
                    }
                </ul>
            </div>
        </li>
    </ul>
</li>
