@{
    ViewBag.Title = "Blank";
}

<h2>No information is available</h2>

<div>
    No detail is currently available as your loan application is still in progress.
    <br />
    <br />
    Please check back after your application is finalised.
    <br />
    <br />
    <br />
</div>

<div id="main-content">
    <div class="instructions">
        <h4>Client Services Helpdesk</h4>
        <dl class="contact-details">
            <dt class="telephone">Tel: </dt>
            <dd class="telephone">0861 888 777</dd>
            <dt class="fax">Fax: </dt>
            <dd class="fax">031 571 3150</dd>
            <dt class="mail">E-mail: </dt>
            <dd class="mail"><a href="mailto:admin@sahomeloans.com">admin@sahomeloans.com</a></dd>
        </dl>
    </div>
</div>
