<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDomainProcessManagerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/SAHL/Services/DomainProcessManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDomainProcessManagerService"
                contract="DomainProcessManagerWcfService.IDomainProcessManagerService"
                name="BasicHttpBinding_IDomainProcessManagerService" />
        </client>
    </system.serviceModel>
</configuration>