<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;Connect Timeout=300;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LiveRepliesServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LiveRepliesServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://preprod.comcorponline.co.za/Comcorp.LiveReplies/LiveRepliesService.asmx"
              binding="basicHttpBinding" bindingConfiguration="LiveRepliesServiceSoap"
              contract="ComcorpLiveRepliesService.LiveRepliesServiceSoap"
              name="LiveRepliesServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
