*scc
*.suo
*.suo
obj/
bin/
!Build/NodeJS/node_modules/**/bin/*
**/*.sln.ide/*
**/.tmp/
*.bak
*.cache
*.dbmdl
*.ldf
*.log
*.mdf
*.ncrunchsolution.user
*.orig
*.pdb
*.rdl.data
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.VisualState.xml
*/src/Nuget/*
*/src/packages/*
*/StoredText/*
*scc
*TestResult.xml
.idea/
.sonar/
.tmp/*

/**/_NCrunch*/*
/**/_NCrunch*/**/*

/Binaries/Nuget/*
/Binaries/NuGet/*
/web/build_output/
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.js.core
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.js.ui
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.services.interfaces.halo
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.services.interfaces.userprofile
_Chutzpah*
_NCrunch_SAHL.Core
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/*.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/ConnectionStrings.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/Logging.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Common.Service.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Common.WebServices.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Common.X2.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Web.Services.Attorney.Endpoint.Client.config
Application/SAHL.Web/Config/*.config
Archive/**/bin/
Archive/**/obj/
Automation.Test/HaloTestAutomation/Release/nunit-results-1.1-bin/Results/*
Binaries/InternalBinaries/*
Binaries/NuGet/SAHL*
Binaries/Tools/*
Build/Tools/ConfigTransformationTool.1.2.0.0/lib/logs/
build_output/
BuildOutput/
buildoutput/
BuildTools/
Config/**/bin/*
Core/**/bin/*
Coverage
Database/**/bin/*
Decision Trees/**/bin/*
Decision Trees/src/SAHL.DecisionTree.Shared/Globals/*
Decision Trees/src/SAHL.DecisionTree.Shared/Trees/*
Decision Trees/src/SAHL.DecisionTree.TreeTests/TreeTests/*
deploypackages/
DeployPackages/*
Docs/
dotnetX2Processes/*
FrameWork.Test/_NCrunch_FrameWork.Test
Legacy/Application/SAHL.Web/Config/AppSettings.config
Legacy/Application/SAHL.Web/Config/ConnectionStrings.config
Legacy/Application/SAHL.Web/Config/Logging.config
Legacy/Application/SAHL.Web/Config/SAHL.Common.Service.config
Legacy/Application/SAHL.Web/Config/SAHL.Common.WebServices.config
Legacy/Application/SAHL.Web/Config/SAHL.Common.X2.config
Legacy/Application/SAHL.Web/Config/SAHL.Web.Services.Attorney.Endpoint.Client.config
Legacy/Application/SAHL.Web/Config/SAHL.Web.Services.Valuation.Endpoint.Client.config
Legacy/DomainService/DomainServiceBinaries/*
Legacy/FrameWork/Internal Binaries/*
Legacy/Internal Binaries/*
Legacy/Tools/SAHL.Tools/Tool Binaries/*
Legacy/WorkFlowMaps/**/Binaries/
Lighthouse/PrecompiledWeb/
NugetCache/
obj/
bin/
Prototype/**/bin/*
PublishOrigMap_103A.bat
PublishOrigMap_103B.bat
publishoutput/
SAHL-EventStore/EventStore
SAHL-EventStore/nuget
WebSites\Capitec\src\SAHL.Website.Capitec\test-output\**.html
WebSites\Halo\src\SAHL.Website.Halo\test-output\**.html
Services/X2.Shared/src/ScenarioMaps/**/Binaries/
*\src\packages/*
*\src\Nuget\*
DeployPackages\*
Working\*
ScenarioMaps/Binaries
SAHL-Tools/src/SAHL.X2Designer/Cache
SAHL-Tools/src/SAHL.X2Designer/SAHL.X2Designer.Setup/SAHL.X2Designer.Setup
SAHL-X2Engine/src/_NCrunch_X2EngineV2_all
SAHL-X2Engine/src/SAHL.X2Engine2.Tests/ScenarioMaps/Binaries/*
Services/**/bin
Services/**/bin/*
Services/DecisionTree.Shared/src/SAHL.Services.Interfaces.DecisionTree/Models/*
Services/DecisionTree.Shared/src/SAHL.Services.Interfaces.DecisionTree/Queries/*
Services/DomainProcessManager/_NCrunch_DomainProcessManager/*
Services/X2.Shared/src/SAHL.X2Engine2/Copy.bat
Services/X2.Shared/src/ScenarioMaps/*/Binaries/*
syntax: glob
Testing/**/bin/*
Testing/MockServices/BuildOuput/*
Tools/**/bin/*
Tools/SAHL.X2Designer/SAHL.X2Designer.Setup/SAHL.X2Designer.Setup/
Tools/X2SecurityReCalculator/X2SecurityReCalculator.Setup/Express
Automation.Test/HaloTestAutomation/Release/nunit-results-1.1-bin/Results/*
/Legacy/Automation.Test/HaloTestAutomation/Release/*.dll
syntax: glob
WorkFlowMaps/BuildOrigMap.bat
PublishOrigMap_103B.bat
PublishOrigMap_103A.bat
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Web.Services.Attorney.Endpoint.Client.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Common.X2.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Common.WebServices.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/SAHL.Common.Service.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/Logging.config
Application/SAHL.Web.Services/SAHL.Web.Services.Test/Config/ConnectionStrings.config
*.rdl.data
Services/**/bin
Websites/**/bin
WCFServices/**/bin/
Web/**/bin/
Web/**/coverage
Web/**/coverage/*
Web/**/test-output
Web/**/test-output/*
Websites/**/bin
WebSites/**/bin/*
WebSites/**/coverage/*
WebSites/**/test-output/
WebSites/**/test-output/*
WorkFlowMaps/**/Binaries/
Binaries/ClientScripts/internal/
Binaries/ClientScripts/generated/
Binaries/InternalBinaries/*
Binaries/NuGet/SAHL*
Binaries/Tools/*
*.ncrunchsolution.user
*.user
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.js.core
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.services.interfaces.userprofile
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.js.ui
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.services.interfaces.halo
Coverage
**/*.sln.ide/*
Legacy/Application/SAHL.Web/Config/SAHL.Web.Services.Attorney.Endpoint.Client.config
Legacy/Application/SAHL.Web/Config/SAHL.Web.Services.Valuation.Endpoint.Client.config
Legacy/Application/SAHL.Web/Config/SAHL.Common.X2.config
Legacy/Application/SAHL.Web/Config/SAHL.Common.WebServices.config
Legacy/Application/SAHL.Web/Config/SAHL.Common.Service.config
Legacy/Application/SAHL.Web/Config/Logging.config
Legacy/Application/SAHL.Web/Config/ConnectionStrings.config
Legacy/Application/SAHL.Web/Config/AppSettings.config
Legacy/Internal Binaries/*
Legacy/DomainService/DomainServiceBinaries/*
Legacy/FrameWork/Internal Binaries/**/bin
Legacy/Tools/SAHL.Tools/Tool Binaries/*
Binaries/InternalBinaries/*
Binaries/LegacyBinaries/*
Binaries/NuGet/SAHL*
Binaries/Tools/*
*.ncrunchsolution.user
*.user
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.js.core
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.services.interfaces.userprofile
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.js.ui
/WebSites/Halo/src/SAHL.Websites.Halo/lib/sahl.services.interfaces.halo
Coverage
**/*.sln.ide/*
Legacy/**/bin
Legacy/WorkFlowMaps/**/Binaries/
WebSites/Capitec/src/SAHL.Website.Capitec/app/SAHL.DecisionTree.Shared.Globals.js
WebSites/Capitec/src/SAHL.Website.Capitec/app/SAHL.DecisionTree.Shared.Fake.Globals.js
Services/DomainProcessManager/_NCrunch_DomainProcessManager/*
Binaries/LegacyBinaries/*
/Legacy/Automation.Test/HaloTestAutomation/Release/*.config
/Legacy/Automation.Test/HaloTestAutomation/Release/*.xml
Services/DomainServices/LifeDomainService.Shared/SAHL.Services.LifeDomain.Shared.v2.ncrunchsolution
Services/DomainServices/LifeDomainService.Shared/SAHL.Services.Interfaces.LifeDomain/SAHL.Services.Interfaces.LifeDomain.v2.ncrunchproject
Services/DomainServices/LifeDomainService.Shared/SAHL.Services.Interfaces.LifeDomain.Tests/SAHL.Services.Interfaces.LifeDomain.Tests.v2.ncrunchproject
Services/DomainServices/LifeDomainService.Shared/SAHL.Services.Interfaces.LifeDomain.Specs/SAHL.Services.Interfaces.LifeDomain.Specs.v2.ncrunchproject
Services/DomainServices/LifeDomainService.Shared/SAHL.Config.Services.LifeDomain.Client/SAHL.Config.Services.LifeDomain.Client.v2.ncrunchproject
Legacy/FrameWork.Test/SAHL.Common.BusinessModel.Rules.Test/SAHL.Common.BusinessModel.Rules.Test.v2.ncrunchproject
Legacy/FrameWork.Test/SAHL.Common.BusinessModel.Spec.Test/SAHL.Common.BusinessModel.Spec.Test.v2.ncrunchproject
Legacy/FrameWork.Test/SAHL.DomainService.Test/SAHL.DomainService.Test.v2.ncrunchproject
Legacy/FrameWork.Test/SAHL.V3.Framework.Test/SAHL.V3.Framework.Test.v2.ncrunchproject
Legacy/FrameWork.Test/_NCrunch_FrameWork.Test/StoredText/*
Legacy/DomainService/DomainService2.V3.Client/DomainService2.V3.Client.v2.ncrunchproject
WebSites/Capitec/src/SAHL.Website.Capitec/app/SAHL.Services.Interfaces.*.js
WebSites/Capitec/src/SAHL.Website.Capitec/app/templates.js
WebSites/Capitec/src/SAHL.Website.Capitec/coverage
WebSites/Capitec/src/SAHL.Website.Capitec/lib/specs/SAHL.Services.Interfaces.*.js
WebSites/Capitec/src/SAHL.Website.Capitec/test-output/**.html
WebSites/DecisionTree/src/SAHL.Website.DecisionTree/app/SAHL.Services.Interfaces.*.js
WebSites/DecisionTree/src/SAHL.Website.DecisionTree/app/templates.js
WebSites/Halo/SAHL.Websites.Halo/app/template.min.js
WebSites/Halo/SAHL.Websites.Halo/app/template.min.js.map
WebSites/Halo/SAHL.Websites.Halo/apps/
Websites/Halo/SAHL.Websites.Halo/lib/
Websites/Halo/SAHL.Websites.Halo/less/**/*.css
Websites/Halo/SAHL.Websites.Halo/less/**/*.map
Websites/Halo/SAHL.Websites.Halo/less/sahl.ui.core/**/*.*
WebSites/Halo/SAHL.Websites.Halo/coverage
WebSites/Halo/SAHL.Websites.Halo/css/sahl.ui.core/*
WebSites/Halo/SAHL.Websites.Halo/less/sahl.ui.core/*
Workflow/**/bin/
WorkFlowMaps/*/Reports/
WorkFlowMaps/BuildOrigMap.bat
WorkFlowMaps/BuildTools
WorkFlowMaps/BuildTools New/
working/
Working/*
workspace.xml
X2Engine/Bin/
Web/SAHL.JS.Workflow/intergrationTests/lib/workflowManager/
Testing/SAHL.Testing.CommandsQueries/filespecs.txt
Binaries/TestBinaries/
Shared/SAHL.Shared.BusinessModel.API/Blueprints/PublicOrigination/node_modules
Testing/**/node_modules
**/.vs
Legacy/Automation.Test/HaloTestAutomation/packages/*
