<#@ template debug="false" hostspecific="false" language="C#" #>
using Machine.Specifications;
using System.Collections.Generic;
using WorkflowMaps.Specs.Common;

namespace WorkflowMaps.<#=WorkflowName#>.Specs.Internal
{
    public class when_onexit : WorkflowSpec<#=WorkflowName#>
    {
        Establish context = () =>
            {
            };

        Because of = () =>
            {
				List<string> states = new List<string>();
<#foreach(string stateName in StateNames){#>
				states.Add("<#=stateName#>");
<#}#>				
				foreach(string state in states)
				{
					((ParamsDataStub)paramsData).StateName = state;
                	workflow.OnEnterState(instanceData, workflowData, paramsData, messages);				
				}
            };

        It should_have = () =>
            {
            };
    }
}