<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAHL.Common.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
          <section name="SAHL.Common.ITC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SAHL.Common.WebServices.Properties.Settings>
            <setting name="SAHL_Common_WebServices_ReportingServices2005_ReportingService2005"
                serializeAs="String">
                <value>http://DEVA15:80/SQLReportServer/ReportService2010.asmx</value>
            </setting>
            <setting name="SAHL_Common_WebServices_ReportExecution2005_ReportExecutionService"
                serializeAs="String">
                <value>http://sahls103/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="SAHL_Common_WebServices_AdCheck_ValuationService"
                serializeAs="String">
                <value>http://artemis.epharma.co.za/epropSAHLIntegration/ValuationServices.asmx</value>
            </setting>
            <setting name="SAHL_Common_WebServices_ITC_Service" serializeAs="String">
                <value>https://secure.transunion.co.za/TUBureau111Test/consumer.asmx</value>
            </setting>
            <setting name="SAHL_Common_WebServices_AVM_SAHL" serializeAs="String">
                <value>http://test.lightstone.co.za/avm/webservices/sahl.asmx</value>
            </setting>
            <setting name="SAHL_Common_WebServices_AVMTest_SAHL" serializeAs="String">
                <value>http://test.lightstone.co.za/avm/webservices/sahl.asmx</value>
            </setting>
        </SAHL.Common.WebServices.Properties.Settings>
        <SAHL.Common.ITC.Properties.Settings>
          <setting name="ClientReference" serializeAs="String">
            <value>Home Loan Enquiry</value>
          </setting>
          <setting name="ContactNumber" serializeAs="String">
            <value>031 560 5300</value>
          </setting>
          <setting name="ProxyUsername" serializeAs="String">
            <value>Sqlservice2</value>
          </setting>
          <setting name="ProxyPassword" serializeAs="String">
            <value>W0rdpass</value>
          </setting>
          <setting name="BypassProxy" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="SubscriberCode" serializeAs="String">
            <value>00151</value>
          </setting>
          <setting name="Destination" serializeAs="String">
            <value>Test</value>
          </setting>
          <setting name="SecurityCode" serializeAs="String">
            <value>SAH51</value>
          </setting>
          <setting name="ContactName" serializeAs="String">
            <value>SA Home Loans</value>
          </setting>
          <setting name="SAHL_Common_ITC_ITCService_Consumer" serializeAs="String">
            <value>https://secure.transunion.co.za/TUBureau111Test/consumer.asmx</value>
          </setting>
        </SAHL.Common.ITC.Properties.Settings>
    </applicationSettings>

  <!--<system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" proxyaddress="http://192.168.11.27:8080" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>-->

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
