@model SAHL.Core.UI.Halo.Tiles.PersonalLoanAccount.Default.PersonalLoanAccountMinorTileModel
<span class="badge badge-pale minor-tile-icon">
    <span class="badge sahl-open"><i class="icon-credit-card"></i></span>
    <img src="~/Content/sahl/images/halo_icon/originationsource_sahl.png" />
</span>
@Html.TitleFor(x => x.AccountNumber)
