@model SAHL.Core.UI.Halo.Tiles.PersonalLoanAccount.Default.PersonalLoanAccountDetailsMajorTileModel
<span class="badge badge-pale major-tile-icon">
    <span class="badge sahl-open"><i class="icon-credit-card"></i></span>
    <img src="~/Content/sahl/images/halo_icon/originationsource_sahl.png" />
</span>
@Html.Title("Personal Loan")
@Html.DisplayLabelModelPairFor("Account No", x => x.AccountNumber)