<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<html>
	<head>
		<title><#=Service.ClearName#></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
		<style>
			.validation {
				color:orange;
			}
			.validation-message {
				color:red;
			}
			ul li a{color:#ff6600}
			ul li a:hover{color:#e65c00}
			.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list>.active>a:focus{background-color:#ff6600}
		</style>
	</head>
	<body>
	<div class="container-fluid">
		<div class="row">
			<div class="span12">
				<h1><#=Service.ClearName#> Domain Service</h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<ul class="nav nav-list well">
				  <li class="nav-header">Documentation</li>
				  <li><a href="../index.html">Home</a></li>
				  <li><a href="../commands.html"">Commands</a></li>
					<ul class="nav nav-list">
				<# foreach(var cmd in CommandModels.OrderBy(x=>x.Name))
{#>
						<li <#if (cmd.Name == CommandModel.Name){#>class="active"<#}#>>
							<a href="../commands/<#=cmd.Name.ToLower()#>.html"><#=cmd.ClearName#></a>
						</li>
<#}#>
					</ul>
				  
				  <li><a href="../events.html">Events</a></li>
				  <li><a href="../models.html">Models</a></li>
				  <li><a href="../queries.html">Queries</a></li>
				  <li><a href="../rules.html"">Rules</a></li>
				  <li><a href="../domainchecks.html"">Domain Checks</a></li>
				  <li><a href="../enumerators.html"">Enumerators</a></li>
				</ul>
			</div>
			<div class="span9">
				<h2><#=CommandModel.ClearName#></h2>

				<h3>Properties</h3>
				<#if(CommandModel.Properties.Count() > 0)
				{#>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Validations</th>
						<tr>
						</thead>
						<tbody>
				<# foreach(var prop in CommandModel.Properties.OrderBy(x=>x.Name))
				{#>
						<tr>
							<td><#=prop.ClearName#></td>
				<#if(prop.IsSAHLModel)
				{#>
							<td><a href="../models/<#=prop.Type#>.html"><#=prop.ClearType#></td>
				<#} 
				else if(prop.IsCollectionSAHLModel)
				{#>
							<td><a href="../models/<#=prop.CollectionPropertyType#>.html"><#=prop.Type#></td>
				<#}
				else if(prop.IsSAHLEnum)
				{#>
							<td><a href="../enumerators/<#=prop.Type#>.html"><#=prop.ClearType#></td>
				<#} else {#>
							<td><#=prop.Type#></td>
				<#}#>
							<td>
								<ul>
				<# foreach(var validation in prop.Validations.OrderBy(x=>x.Name))
				{#>
									<li>
										<span class="validation"><#=validation.Name#></span>
										<span class="validation-message"><#=validation.ErrorMessage#></span>
									</li>
				<#}#>	
								</ul>
							</td>
						</tr>
				<#}#>	
					</tbody>
				</table>
				<#} else {#>
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									<b>No Properties</b>
								</td>
							</tr>
						</tbody>
					</table>
				<#}#>

				<h3>Events</h3>
				<#if(CommandModel.RaisedEvent != null)
				{#>
				<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
						<tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="../events/<#=CommandModel.RaisedEvent.Name#>.html"><#=CommandModel.RaisedEvent.ClearName#></a>
								</td>
							</tr>
						</tbody>
				</table>
				<#} else {#>
				<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									<b>No Events Raised</b>
								</td>
							</tr>
						</tbody>
				</table>
				<#}#>
				<h3>Checks</h3>
<#if(CommandModel.Checks.Count > 0)
{#>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
						<tr>
						</thead>
						<tbody>
					<# foreach(var check in CommandModel.Checks.OrderBy(x=>x.Name))
			{#>
							<tr>
								<td>
									<#=check.ClearName#>
								</td>
							</tr>
			<#}#>	
					</tbody>
				</table>
<#} else {#>
				<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									<b>No Checks Included</b>
								</td>
							</tr>
						</tbody>
				</table>
<#}#>

				<h3>Rules</h3>
<#if(CommandModel.Rules.Count > 0)
{#>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
						<tr>
						</thead>
						<tbody>
					<# foreach(var rule in CommandModel.Rules.OrderBy(x=>x.Name))
			{#>
							<tr>
								<td>
									<a href="../rules/<#=rule.Name#>.html"><#=rule.ClearName#></a>
								</td>
							</tr>
			<#}#>	
					</tbody>
				</table>
<#} else {#>
				<table class="table table-striped">
						<tbody>
							<tr>
								<td>
									<b>No Rules Included</b>
								</td>
							</tr>
						</tbody>
				</table>
<#}#>	
			</div>
		</div>
	</div>
	</body>
</html>