<div ng-controller="PropertiesPanelCtrl">
    <form ng-show="document.selectionManager.current.type==='node'">
        <fieldset ng-disabled="document.isReadOnly==true">
            <legend>Node: {{document.selectionManager.current.data.text}}</legend>
            
            <table class="table bordered">
                <tbody>
                    <tr>
                        <td class="label-column">
                            <div class="text-left">Name :</div>
                        </td>
                        <td>
                            <input ng-model="document.selectionManager.current.data.text">
                        </td>
                    </tr>
                    <tr>
                        <td class="label-column">
                            <div class="text-left">Type :</div>
                        </td>
                        <td>
                            <input ng-model="document.selectionManager.current.data.category" disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="varAccordian" name="varAccordian" class="accordion with-marker" data-role="accordion" data-closeany="false" ng-show="document.selectionManager.current.data.category=='Start'">
                <div class="accordion-frame">
                    <div class="heading">
                        <a href="">Input Variables</a>
                        <i class="icon-plus place-right" title="Add new variable" ng-click="addRequired($event)" style="cursor:pointer" ng-hide="document.isReadOnly==true"></i>
                    </div>
                    
                    <div class="content">
                        <table class="table bordered">
                            <tbody>
                                <tr ng-show="!document.selectionManager.current.data.required_variables ||document.selectionManager.current.data.required_variables.length == 0">
                                    <td>
                                        <br />
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="var in getInputVariablesForTree()" ng-controller="InputsWatchController">
                                    <td>
                                        <input type="text" ng-model="var.name" />
                                    </td>
                                    <td>
                                        <select ng-model="var.type" ng-options="varType for varType in globalData.variableTypes"></select>
                                    </td>
                                    <td class="text-center">
                                        <a href="" title="Delete" ng-click="removeVariable(var)" ng-hide="document.isReadOnly==true">
                                            <span class="icon-cancel fg-red"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="accordion-frame ">
                    <div class="heading">
                        <a href="">Output Variables</a><i class="icon-plus place-right" title="Add new variable" ng-click="addOutput($event)" ng-hide="document.isReadOnly==true" style="cursor:pointer"></i>
                    </div>
                    <div class="content">
                        <table class="table bordered">
                            <tbody>
                                <tr ng-show="!document.selectionManager.current.data.output_variables || document.selectionManager.current.data.output_variables.length == 0">
                                    <th>name</th>
                                    <th>variable type</th>
                                    <th>default value</th>
                                    <th>action</th>
                                </tr>
                                <tr ng-repeat="variable in getOutputVariablesForTree()" ng-controller="OutputsWatchController">
                                    <td>
                                        <input type="text" ng-model="variable.name" />
                                    </td>
                                    <td>
                                        <select ng-model="variable.type" ng-options="varType for varType in globalData.variableTypes"></select>
                                    </td>
                                    <td>
                                        <select ng-init="variable.defaultValue = boolSelect[0]" ng-model="variable.defaultValue" ng-options="v for v in boolSelect" ng-if="globalData.isVariableofType(variable,'bool')" ng-required="true"></select>
                                        <input type="text" ng-init="variable.defaultValue = 0" ng-if="globalData.isVariableofType(variable,'int')" ng-required="true" ng-model="variable.defaultValue" is-number="int" />
                                        <input type="text" ng-init="variable.defaultValue = 0.0" ng-if="globalData.isVariableofType(variable,'float')" ng-required="true" ng-model="variable.defaultValue" is-number="float" />
                                        <input type="text" ng-init="variable.defaultValue = ''" ng-if="globalData.isVariableofType(variable,'string')" ng-required="false" ng-model="variable.defaultValue" />
                                        <select ng-model="variable.defaultValue" ng-options="v.name for v in globalData.getEnumerationValuesForVariable(variable) track by v.name" ng-if="!globalData.isVariableofType(variable,globalData.nonEnumVariableTypes)" ng-required="true" />
                                    </td>
                                    <td class="text-center">
                                        <a href="" title="Delete" ng-click="removeVariable(variable)" ng-hide="document.isReadOnly==true">
                                            <span class="icon-cancel fg-red"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>    
            </div>
            <div id="subTreeAccordion" name="subTreeAccordio" class="accordion with-marker" data-role="accordion" ng-show=subTreeAccordionRequired()>
                <div class="accordion-frame">
                    <div class="heading">Sub Trees</div>
                    <div class="content">
                        <label>Sub Tree :</label>
                        <select style="width:100%;" ng-model="document.selectionManager.current.data.subtree" ng-options="formatSubtreeName(subtree.name, subtree.version) for subtree in availableSubTrees"></select>
                    </div>
                </div>
                <div id="subTreeParentVariablesMap" name="subTreeParentVariablesMap" ng-show="subTreeVariablesMappingRequired()">
                    <div class="accordion-frame">
                        <div class="heading">
                            <a href="">Input Variables</a>
                        </div>

                        <div class="content">
                            <table class="table bordered">
                                <tbody>
                                    <tr ng-repeat="var in document.selectionManager.current.data.subtree.variables | filter:{usage: 'input'}">
                                        <td>
                                            <label title="{{var.type}}">{{var.name}}</label>
                                        </td>
                                        <td style="min-width:150px;">
                                            <select ng-model="var.$parentVariable" ng-options="parentVar as formatParentVariable(parentVar) for parentVar in getAllVariablesForTree() | filter:{type:var.type}"></select>
                                        </td>
                                        <td ng-repeat="debugInputData in document.selectionManager.current.debugInputData | exact:{name: sanitise(var.name)}">
                                            <input title={{debugInputData.value}} value={{debugInputData.value}} disabled />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordion-frame">
                        <div class="heading">
                            <a href="">Output Variables</a>
                        </div>

                        <div class="content">
                            <table class="table bordered">
                                <tbody>
                                    <tr ng-repeat="var in document.selectionManager.current.data.subtree.variables | filter:{usage:'output'}">
                                        <td>
                                            <label title="{{var.type}}">{{var.name}}</label>
                                        </td>
                                        <td style="min-width:150px;">
                                            <select ng-model="var.$parentVariable" ng-options="parentVar as formatParentVariable(parentVar) for parentVar in getOutputVariablesForTree() | filter:{type:var.type}"></select>
                                        </td>
                                        <td ng-repeat="debugOutputData in document.selectionManager.current.debugOutputData | exact:{name: sanitise(var.name)}">
                                            <input title={{debugOutputData.value}} value={{debugOutputData.value}} disabled />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <form ng-show="document.selectionManager.current.type==='tree'">
        <fieldset ng-disabled="document.isReadOnly==true">
            <legend>Tree: {{document.selectionManager.current.data.name}}</legend>
            <table class="table bordered">
                <tbody>
                    <tr>
                        <td class="label-column">
                            <span class="text-left">Name :</span>
                        </td>
                        <td>
                            <input ng-model="document.selectionManager.current.data.name" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-column">
                            <span class="text-left">Description :</span>
                        </td>
                        <td>
                            <input ng-model="document.selectionManager.current.data.description" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-column">
                            <div class="text-left">Published :</div>
                        </td>
                        <td>
                            <input value={{document.isPublished?"Yes":"No"}} disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
