<div class="search-body">
    <div class="search-header">
        <div class="search-input">
            <input type="text" ng-model="searchTerm" placeholder="Search..." ng-change="search()" ng-keypress="keyPressed($event)" />
            <i ng-if="searchTerm" class="btn-clear" tabindex="-1" type="button" ng-click="clear()"></i>
        </div><a href="" id="search-button"><i class="icon-search"></i></a>
    </div>
    <div class="search-types">
        <nav class="horizontal-menu compact no-background small-text" id="search-nav">
            <ul>
                <li ng-repeat="searchType in searchFilters.searchTypes" ng-class="{active: isActiveSearchType(searchType)}">
                    <a ng-click="setSearchType(searchType)" href="">{{ searchType.label }}</a>
                </li>
                <li id="searchTools" class="no-menu-hover">
                    <button id="searchToolsButton" ng-class="{active: toolsVisible === true}" ng-click="toolsVisible = !toolsVisible">Search Tools</button>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="search-filters" id="searchFilters">
        <div ng-hide="toolsVisible === true" class="animate-show" id="search-filter-time">
            <span>Found {{searchResult.numberOfResults}} {{searchFilters.activeSearchType.label.toLowerCase()}} in {{searchResult.queryDuration}}ms</span>
        </div>
        <nav class="horizontal-menu compact no-background small-text no-highlight animate-show" id="search-filter-nav" ng-show="toolsVisible === true">
            <ul>
                <li ng-repeat="searchFilter in searchFilters.activeSearchType.filters" ng-if="searchFilter.filterType ==='dropdown'">
                    <a class="dropdown-toggle" href="" ng-class="{selecteddefault: searchFilters.$isNonDefaultOptionSelected(searchFilter)}">{{searchFilter.selectedFilter}}</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li ng-repeat="option in searchFilter.options" 
                            ng-click="searchFilters.$selectOption(searchFilter, option);search();" 
                            ng-class="{selected: searchFilters.$isSelectedOption(searchFilter,option)}">
                            <i ng-if="searchFilters.$isSelectedOption(searchFilter,option)" class="icon-checkmark"></i>{{option}}
                        </li>
                    </ul>
                </li>
                <li>
                    <button id="search-filter-clear" ng-click="resetFilters()" ng-disabled="!searchFilters.$hasActiveFilters">clear</button>
                </li>
            </ul>
        </nav>
    </nav>
    <div class="search-results">
        <div class="results" spin-loader="searching">
            <table class="tab-results-container">
                <tr>
                    <td class="tab-col-left">
                        <table class="tab-results">
                            <tr ng-if="searchFilters.activeSearchType.index==='Client'" 
                                ng-repeat="result in searchResult.results" 
                                ng-click="loadClientEntity(result)" 
                                ng-mouseenter="getSearchResultDetail(result, result.LegalEntityKey)" 
                                ng-class="{hover:isSelectedResult(result.LegalEntityKey)}">
                                <td>
                                    <h5>{{result.LegalName | characters:50}}</h5>
                                    <span class="title" ng-show="result.LegalEntityType==='Person'"><br />Id No. - </span>
                                    <span class="title" ng-show="result.LegalEntityType==='Business'"><br />Reg. No. - </span>{{result.LegalIdentity}}<br />
                                    <span><span class="title"><i class="icon-phone"></i> (H) </span><span>{{result.HomePhoneNumber}}</span></span>
                                    <span><span class="title"><i class="icon-phone"></i> (W) </span><span>{{result.WorkPhoneNumber}}</span></span>
                                    <span><span class="title"><i class="icon-mobile"></i> </span><span>{{result.CellPhoneNumber}}</span></span>
                                    <span><span class="title"><i class="icon-mail"></i> </span><span>{{result.EmailAddress}}</span></span>
                                </td>
                            </tr>
                            <tr ng-if="searchFilters.activeSearchType.index==='ThirdParty'" 
                                ng-repeat="result in searchResult.results" 
                                ng-click="loadThirdPartyEntity(result)" 
                                ng-mouseenter="getSearchResultDetail(result, result.LegalEntityKey)" 
                                ng-class="{hover:isSelectedResult(result.LegalEntityKey)}">
                                <td>
                                    <h5>{{result.LegalName | characters:50}}</h5>
                                    <span class="title" ng-show="result.LegalEntityType==='Person'"><br />Id No. - </span>
                                    <span class="title" ng-show="result.LegalEntityType==='Business'"><br />Reg. No. - </span>{{result.LegalIdentity}}<br />
                                    <span><span class="title"><i class="icon-user"></i> </span><span>{{result.Contact}}</span></span>
                                    <span><span class="title"><i class="icon-phone"></i> (W) </span><span>{{result.WorkPhoneNumber}}</span></span>
                                    <span><span class="title"><i class="icon-mobile"></i> </span><span>{{result.CellPhoneNumber}}</span></span>
                                    <span><span class="title"><i class="icon-mail"></i> </span><span>{{result.EmailAddress}}</span></span>
                                </td>
                            </tr>
                            <tr ng-if="searchFilters.activeSearchType.index==='Task'"
                                ng-repeat="result in searchResult.results"
                                ng-click="result.Workflow ==='Third Party Invoices' && loadTaskEntity(result)"
                                ng-mouseenter="getSearchResultDetail(result, result.InstanceId)"
                                ng-class="{hover:isSelectedResult(result.LegalEntityKey)}">
                                <td>
                                    <h5 ng-class="{'fg-grayLight':result.Workflow !=='Third Party Invoices'}">{{result.Subject | characters:50}}</h5><br />
                                    <span class="title" ng-if="validData(result.Attribute1Value) && validData(result.Attribute1Type)">
                                        <i class="icon-clock" ng-if="result.Attribute1DataType === 'Date'"></i>
                                        {{result.Attribute1DataType !== 'Date'?result.Attribute1Type:""}}: {{result.Attribute1Value}}
                                    </span>
                                    <span class="title" ng-if="validData(result.Attribute2Value) && validData(result.Attribute2Type)">
                                        <i class="icon-clock" ng-if="result.Attribute2DataType === 'Date'"></i>
                                        {{result.Attribute2DataType !== 'Date'?result.Attribute2Type:""}}: {{result.Attribute2Value}}
                                    </span>
                                    <span class="title" ng-if="validData(result.Attribute3Value) && validData(result.Attribute3Type)">
                                        <i class="icon-clock" ng-if="result.Attribute3DataType === 'Date'"></i>
                                        {{result.Attribute3DataType !== 'Date'?result.Attribute3Type:""}}: {{result.Attribute3Value}}
                                    </span>
                                    <br />
                                    <span><span class="title"><i class="icon-user"></i> </span><span>{{result.UserName}}</span></span>
                                    <span ng-class="{'fg-green':result.Status === 'In Progress', 'fg-darkOrange':result.Status === 'Archived'}">
                                        <span class="title" title="Workflow Name"><i class="icon-share-2"></i> </span>
                                        <span>{{result.Workflow}}</span>
                                    </span>
                                    <span ng-class="{'fg-green':result.Status === 'In Progress', 'fg-darkOrange':result.Status === 'Archived'}">
                                        <span class="title" title="Workflow State"><i class="icon-fullscreen-exit-alt"></i> </span>
                                        <span>{{result.State}}</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="tab-col-right">
                        <div id="result-detail" ng-class="{hover:searchResult.currentDetail !== null}">
                            <div ng-if="searchFilters.activeSearchType.index==='Client'">
                                <div ng-show="searchResult.currentDetail !== null">
                                    <fieldset>
                                        <legend>Addresses</legend>

                                        <div ng-repeat="address in searchResult.currentDetail.Details | filter: {'Type': 'Address'}">
                                            <strong>{{address.Role}}: </strong><span>{{address.Address}}<br /></span>
                                        </div>
                                        <br />
                                    </fieldset>
                                    <!-- Accounts -->
                                    <fieldset>
                                        <legend>Accounts</legend>
                                        <div ng-repeat="account in searchResult.currentDetail.Details | filter: {'Type': 'Account'}">
                                            <span ng-if="account.Level === 1">&nbsp;&nbsp;</span>
                                            <i class="icon-{{getIconForProduct(account.Type, account.Product)}}"></i>
                                            <strong>{{account.Role}} in account : {{account.Key}} </strong><span>{{address.Address}}<br /></span>
                                            <span ng-if="account.Level === 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{account.Address}}<br /></span>
                                            <br />
                                        </div>
                                        <br />
                                    </fieldset>
                                    <!-- Applications -->
                                    <fieldset>
                                        <legend>Applications</legend>
                                        <div ng-repeat="account in searchResult.currentDetail.Details | filter: {'Type': 'Application'}">
                                            <span ng-if="account.Level === 1">&nbsp;&nbsp;</span><i class="icon-{{getIconForProduct(account.Type, account.Product)}}"></i>
                                            <strong>{{account.Role}} in application : {{account.Key}} </strong><span>{{address.Address}}<br /></span>
                                            <span ng-if="account.Level === 0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{account.Address}}<br /></span>
                                            </br>
                                        </div>
                                        <br />
                                    </fieldset>
                                </div>
                            </div>
                            <div ng-if="searchFilters.activeSearchType.index==='ThirdParty'">
                                <div ng-show="searchResult.currentDetail !== null">
                                    <fieldset>
                                        <legend>Addresses</legend>
                                        <div>
                                            <strong>{{searchResult.currentDetail.Details[0].AddressType}}: </strong>
                                            <span>{{searchResult.currentDetail.Details[0].Address}}<br /></span>
                                        </div>
                                        <br />
                                    </fieldset>
                                    <!-- Contacts -->
                                    <fieldset>
                                        <legend>Contacts</legend>
                                        <div>
                                            <strong>Contact: </strong><span>{{searchResult.currentDetail.Details[0].Contact}}<br /></span>
                                        </div>
                                        <br />
                                    </fieldset>
                                    <!-- Attorney -->
                                    <fieldset ng-if="searchResult.currentDetail.Details[0].Type === 'attorney'">
                                        <legend>Details</legend>
                                        <table class="table-auto-width table-transparent">
                                            <tr>
                                                <td>Panel Attorney:</td>
                                                <td>
                                                    <i class="icon-checkmark fg-emerald" ng-show="searchResult.currentDetail.Details[0].IsActive === true"></i>
                                                    <i class="icon-cancel-2 fg-crimson" ng-show="searchResult.currentDetail.Details[0].IsActive === false"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Litigation Attorney:</td>
                                                <td>
                                                    <i class="icon-checkmark fg-emerald" ng-show="searchResult.currentDetail.Details[0].IsLitigationAttorney === true"></i>
                                                    <i class="icon-cancel-2 fg-crimson" ng-show="searchResult.currentDetail.Details[0].IsLitigationAttorney === false"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Registration Attorney:</td>
                                                <td>
                                                    <i class="icon-checkmark fg-emerald" ng-show="searchResult.currentDetail.Details[0].IsRegistrationAttorney === true"></i>
                                                    <i class="icon-cancel-2 fg-crimson" ng-show="searchResult.currentDetail.Details[0].IsRegistrationAttorney === false"></i>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                    </fieldset>
                                </div>
                            </div>
                            <div ng-if="searchFilters.activeSearchType.index==='Task'">
                                <div ng-show="searchResult.currentDetail !== null">
                                    <fieldset>
                                        <legend>Information</legend>
                                        <div>
                                            <strong>Status: </strong><span>{{searchResult.currentResult.Status}}</span></br>
                                            <strong>Workflow: </strong><span>{{searchResult.currentResult.Workflow}}</span></br>
                                            <strong>State: </strong><span>{{searchResult.currentResult.State}}</span></br>
                                            <strong>Task Age: </strong><span>{{getDateTimeAgo(searchResult.currentDetail.Details[0].WorkflowTaskAge, true)}}</span></br>
                                            <strong>Time at current state: </strong><span>{{getDateTimeAgo(searchResult.currentDetail.Details[0].StateAge, true)}}</span></br>
                                            <strong>Currently assigned to: </strong><span>{{searchResult.currentResult.UserName}}<br /></span></br>
                                        </div>
                                        <br />
                                    </fieldset>
                                    <!-- Task History -->
                                    <fieldset>
                                        <legend>Task History</legend>
                                        <div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Activity</th>
                                                        <th class="text-left">New State</th>
                                                        <th class="text-left">User</th>
                                                        <th class="text-left">Transition Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="hist in searchResult.currentDetail.Details[0].taskHistory">
                                                        <td>{{hist.Activity}}</td>
                                                        <td>{{hist.ToState}}</td>
                                                        <td>{{hist.ActivityUser}}</td>
                                                        <td>{{getDate(hist.ActivityDate)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br />
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="push"></div>
</div>

<div class="search-footer">
    <div class="pagination">
        <ul>
            <li class="prev" ng-class="{disabled: searchResult.pages.isPrevPageEnabled === false}" 
                             ng-click="search(currentPage - 1)" 
                             ng-show="searchResult.pages.pages.length > 0">
                <a><i class="icon-previous"></i></a>
            </li>
            <li ng-repeat="page in searchResult.pages.pages" 
                ng-click="search(page.pageNum)" 
                ng-class="{active: page.isSelected === true }">
                <a>{{page.pageNum}}</a>
            </li>
            <li class="next" ng-class="{disabled: searchResult.pages.isNextPageEnabled === false}" 
                             ng-click="search(currentPage + 1)"
                             ng-show="searchResult.pages.pages.length > 0">
                <a><i class="icon-next"></i></a>
            </li>
        </ul>
    </div>
</div>