<div class="childView">
    <div class="row1">
        <h1>New</h1>
        <br />
    </div>
    <div class="row2">
        <div class="treeContainer">
            <div class="tile tile-new-tree">
                <a ng-click="newTree()" class="fg-dark opacity" title="Create a new decision tree">
                    <i class="icon-plus-2">

                    </i>
                </a>
            </div>
        </div>
        <div class="treeContainer" spin-loader="loadTrees">
            <h4>Use existing decision tree as a template</h4>
            <div class="tile" data-ng-repeat="tree in trees">
                <a ng-click="newFromExistingTree(tree.DecisionTreeId, tree.DecisionTreeVersionId, tree.IsPublished)" ng-attr-title="{{tree.Description}}">
                    <div class=" tile-content image icon-tree-thumbnail " style="padding:6px;"> <img src="{{tree.Thumbnail}}" ng-show="tree.Thumbnail" /></div>
                    <div class="brand bg-dark opacity">
                        <span class="text">
                            {{tree.Name}}
                        </span>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
