<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="ThirdPartyInvoices" />
    <add key="LogLevel" value="1" />
    <add key="FinanceDomainService_HostName" value="localhost" />
    <add key="FinanceDomainService_ServiceName" value="FinanceDomainService" />
    <add key="WorkflowAssignmentDomainService_HostName" value="localhost" />
    <add key="WorkflowAssignmentDomainService_ServiceName" value="WorkflowAssignmentDomainService" />
  </appSettings>
</configuration>