<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="LogSection" type="PDFDocumentWriter.Logging.LogSection, PDFDocumentWriter"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PDFDocumentWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
  <LogSection>
    <Logging>
      <add name="File" level="3" Lock="false" path="c:\temp\"/>
      <add name="Console" level="3" Lock="false"/>
    </Logging>
  </LogSection>
  <applicationSettings>
    <PDFDocumentWriter.Properties.Settings>
      <setting name="RepositoryFind" serializeAs="String">
        <value>select StatementKey,Statement from dbo.uiStatement where Version = ( select max(Version) from dbo.uiStatement where ApplicationName = @Application and StatementName = @StatementName ) and ApplicationName = @Application and StatementName = @StatementName</value>
      </setting>
      <setting name="RepositoryUpdateLastAccessedDate" serializeAs="String">
        <value>update dbo.uiStatement set LastAccessedDate = @LastAccessedDate where StatementKey = @StatementKey</value>
      </setting>
    </PDFDocumentWriter.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
