
<div ng-hide="$state.current.name != 'home.content.still-looking'">
    <form id="affordabilityForm" name="affordabilityForm" ng-model="affordabilityForm" class="twoColumn" novalidate>
        <div>
            <fieldset>
                <label for="monthlyHouseHoldIncome">Total Income of all Applicants</label>
                <input type="text" id="householdIncome" name="householdIncome" ng-model="householdIncome" ng-change="incomeChanged()" format="currency" focus="model.totalIncomeFocus" />
                <div qtip="householdIncomeTooltip" msg="The total gross monthly income of all the applicants. This includes salaries, commission and self-employed income."></div>
            </fieldset>
            <fieldset>
                <label for="cashDeposit">Cash Deposit <span class="comment">(up to 15% might be required)</span></label>
                <input type="text" id="cashDeposit" name="cashDeposit" ng-model="cashDeposit" format="currency" focus="model.cashDepositFocus"/>
                <div qtip="cashDepositTip" msg="Profit from sale of existing home or any other cash contribution."></div>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <label for="calcRate">Interest Rate</label>
                <input type="text" id="interestRate" name="calcRate" ng-model="calcRate" format="float" ng-change="checkIfUserUpdatedRate()" focus="model.interestRateFocus" />
                <div id="userAdjustedInterestRate" ng-show="userAdjustedInterestRate" validationtooltip="interestRateTooltip" msg="Changing this rate will impact calculation results.  The default rate is determined by SA Home Loans and should be used as a base reference." style="display:inline"></div>
            </fieldset>
        </div>
        <div>
            <fieldset class="submitContainer">
                <button id="submitButton" type="submit" value="Calculate" validate-on-submit spin-click="calculate()" spin-keep-width="true">Calculate</button>
            </fieldset>
        </div>
    </form>
</div>
<div ui-view>
</div>