@model SAHL.Core.UI.Halo.Tiles.AccountsWithDefaultedPayments.Default.AccountsWithDefaultedPaymentsMinorTileModel

<div class="minor-tile-icon"><i class="icon-eye-open icon-4x"></i></div>
<br />
<br />
@Html.TitleFor(x => x.Title)
@Html.TitleFor(x => x.BusinessKeysCount)

