#application-container {
  /*background-color:slategrey;*/

  height: 100%;
}
#application-area {
  /*height:calc(~"100% - "(@strip-height + @separator-height + (@standard-padding * 2)) * 3);*/

  height: 680px;
  background-color: #df815a;
  margin: 0;
  padding: 0;
}
#tile-area {
  background-color: #639bb4;
  height: 340px;
}
#action-area {
  background-color: #e7ca52;
  height: 81px;
}
#summary-area {
  background-color: #7dbf94;
  height: 219px;
}
