.sprite { background: url('../images/sahl_halo_sprites.png') no-repeat top left; display:inline-block; } 
.sprite.common-client { background-position: 0px 0px; width: 16px; height: 16px;  } 
.sprite.common-client-name { background-position: -26px 0px; width: 16px; height: 16px;  } 
.sprite.common-legalentity { background-position: -52px 0px; width: 16px; height: 16px;  } 
.sprite.common-help { background-position: -78px 0px; width: 16px; height: 16px;  } 
.sprite.common-information { background-position: -104px 0px; width: 16px; height: 16px;  } 
.sprite.common-legalentity-female { background-position: -130px 0px; width: 16px; height: 16px;  } 
.sprite.common-legalentity-male { background-position: -156px 0px; width: 16px; height: 16px;  } 
.sprite.common-legalentity-married { background-position: -182px 0px; width: 16px; height: 16px;  } 
.sprite.common-report { background-position: -208px 0px; width: 16px; height: 16px;  } 
.sprite.common-search { background-position: -234px 0px; width: 16px; height: 16px;  } 
.sprite.common-workflow { background-position: -260px 0px; width: 16px; height: 16px;  } 
.sprite.financialservice-application-hoc-closed { background-position: -286px 0px; width: 16px; height: 16px;  } 
.sprite.financialservice-application-hoc-open { background-position: -312px 0px; width: 16px; height: 16px;  } 
.sprite.financialservice-hoc-closed { background-position: -338px 0px; width: 16px; height: 16px;  } 
.sprite.financialservice-hoc-open { background-position: -364px 0px; width: 16px; height: 16px;  } 
.sprite.general-group { background-position: -390px 0px; width: 16px; height: 16px;  } 
.sprite.general-life { background-position: -416px 0px; width: 14px; height: 13px;  } 
.sprite.legalentity-Identity { background-position: -440px 0px; width: 16px; height: 16px;  } 
.sprite.legalentitykey-related { background-position: -466px 0px; width: 16px; height: 16px;  } 
.sprite.origination-source-default { background-position: -492px 0px; width: 16px; height: 15px;  } 
.sprite.origination-source-rcs { background-position: -518px 0px; width: 16px; height: 16px;  } 
.sprite.origination-source-sahl { background-position: -544px 0px; width: 16px; height: 15px;  } 
.sprite.product-cap { background-position: -570px 0px; width: 16px; height: 14px;  } 
.sprite.product-parent { background-position: -596px 0px; width: 16px; height: 16px;  } 
.sprite.user-comment { background-position: -622px 0px; width: 16px; height: 16px;  } 
.sprite.workflow-debtcounselling { background-position: -648px 0px; width: 16px; height: 16px;  } 
.sprite.workflow-instance { background-position: -674px 0px; width: 16px; height: 16px;  } 
.sprite.account-fixed-mortgage-open { background-position: -700px 0px; width: 16px; height: 16px;  } 
.sprite.account-hoc-closed { background-position: -726px 0px; width: 16px; height: 16px;  } 
.sprite.account-hoc-open { background-position: -752px 0px; width: 16px; height: 16px;  } 
.sprite.account-life-closed { background-position: -778px 0px; width: 16px; height: 16px;  } 
.sprite.account-life-open { background-position: -804px 0px; width: 16px; height: 16px;  } 
.sprite.account-mortgage-closed { background-position: -830px 0px; width: 16px; height: 16px;  } 
.sprite.account-mortgage-open { background-position: -856px 0px; width: 16px; height: 16px;  } 
.sprite.account-mortgage-variablerate-closed { background-position: -882px 0px; width: 16px; height: 16px;  } 
.sprite.account-mortgage-variablerate-open { background-position: -908px 0px; width: 16px; height: 16px;  } 
.sprite.account-parent-closed { background-position: -934px 0px; width: 16px; height: 16px;  } 
.sprite.account-parent-open { background-position: -960px 0px; width: 16px; height: 16px;  } 
.sprite.account-personalloan-closed { background-position: -986px 0px; width: 16px; height: 16px;  } 
.sprite.account-personalloan-open { background-position: -1012px 0px; width: 16px; height: 16px;  } 
.sprite.account-quickcash-closed { background-position: -1038px 0px; width: 16px; height: 15px;  } 
.sprite.account-quickcash-open { background-position: -1064px 0px; width: 16px; height: 15px;  } 
.sprite.address-domicilium { background-position: -1090px 0px; width: 16px; height: 16px;  } 
.sprite.address-physical { background-position: -1116px 0px; width: 16px; height: 16px;  } 
.sprite.address-postal { background-position: -1142px 0px; width: 16px; height: 16px;  } 
.sprite.application-account { background-position: -1168px 0px; width: 16px; height: 16px;  } 
.sprite.application-account-closed { background-position: -1194px 0px; width: 16px; height: 16px;  } 
.sprite.application-mortgageloan { background-position: -1220px 0px; width: 16px; height: 16px;  } 
.sprite.application-account-parent { background-position: -1246px 0px; width: 16px; height: 16px;  } 
.sprite.application-parent-account-closed { background-position: -1272px 0px; width: 16px; height: 16px;  } 
.sprite.application-cap-closed { background-position: -1298px 0px; width: 16px; height: 16px;  } 
.sprite.application-cap-open { background-position: -1324px 0px; width: 16px; height: 16px;  } 
.sprite.application-edit { background-position: -1350px 0px; width: 16px; height: 16px;  } 
.sprite.application-form { background-position: -1376px 0px; width: 16px; height: 16px;  } 
.sprite.application-form-edit { background-position: -1402px 0px; width: 16px; height: 16px;  } 
.sprite.application-hoc { background-position: -1428px 0px; width: 16px; height: 16px;  } 
.sprite.application-hoc-closed { background-position: -1454px 0px; width: 16px; height: 16px;  } 
.sprite.application-life-closed { background-position: -1480px 0px; width: 16px; height: 16px;  } 
.sprite.application-life { background-position: -1506px 0px; width: 16px; height: 16px;  } 
.sprite.application-life-open { background-position: -1532px 0px; width: 16px; height: 16px;  } 
.sprite.application-mortgage-open { background-position: -1558px 0px; width: 16px; height: 16px;  } 
.sprite.application-mortgage-variablerate { background-position: -1584px 0px; width: 16px; height: 16px;  } 
.sprite.application-mortgage-variablerate-closed { background-position: -1610px 0px; width: 16px; height: 16px;  } 
.sprite.application-mortgage-variablerate-open { background-position: -1636px 0px; width: 16px; height: 16px;  } 
.sprite.application-parent-account-open { background-position: -1662px 0px; width: 16px; height: 16px;  } 
.sprite.application-quickcash-closed { background-position: -1688px 0px; width: 16px; height: 15px;  } 
.sprite.application-quickcash { background-position: -1714px 0px; width: 16px; height: 15px;  } 
.sprite.application-quickcash-open { background-position: -1740px 0px; width: 16px; height: 15px;  } 
.sprite.client-related { background-position: -1766px 0px; width: 16px; height: 16px;  } 
.sprite.common-administration { background-position: -1792px 0px; width: 16px; height: 16px;  } 
.sprite.common-application { background-position: -1818px 0px; width: 16px; height: 16px;  } 
.sprite.common-arrow-blue-down { background-position: -1844px 0px; width: 16px; height: 16px;  } 
.sprite.common-arrow-blue-right { background-position: -1870px 0px; width: 16px; height: 16px;  } 
.sprite.common-bond { background-position: -1896px 0px; width: 16px; height: 16px;  } 