<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<configSections>
		<sectionGroup name="Links">
			<section name="LoanLinks" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>


	<Links>
		<!-- 
		Add name value pair below to add a new link to the Loan Links user control
		key is the description of the link and value is the URL.
		-->
		<LoanLinks>      
      <add key="[ Loan Calculator ]" value="0,http://sahls11/base/plugins/calculators/LoanCalculator.aspx,LoanAmount"/>
      <add key="[ Loan Subsidy ]" value ="0,http://sahls11/sahl-mlss/LoanSubsidy.asp,Number,Update" />
      <!-- add key="[ Supa Lo Detail]" value="5,http://sahls11/base/plugins/AccountManagement/SuperLo/SuperLoDetail.aspx,LoanNumber" / -->
      <add key="[ Supa Lo Detail]" value="5,/AccountManagement/SuperLo/SuperLoDetail.aspx,LoanNumber" />
		</LoanLinks>
	</Links>


	<appSettings>

		<add key ="DetailManagementPath" value="http://sahls11/sahl-mlss/LoanDetail.asp"/>
		<add key ="HOCManagementPath" value="http://sahls11/sahl-mlss/LoanHOCDetail.asp"/>
		
        <add key="DB" value="server=SAHLS11;Trusted_Connection=false;database=SAHLDB;user=Crystal"/>

        <add key="ConnectionString" value="server=SAHLS103;Trusted_Connection=false;database=Portal;user=PortalUser;Password=P0rtalUser"/>
        <add key="Live" value="server=SAHLS03;Trusted_Connection=false;database=SAHLDB;user=Crystal"/>
        <add key="Test" value="server=SAHLS103;Trusted_Connection=false;database=SAHLDB;user=Crystal"/>
        <add key="configFile" value="/Base/PortalCfg.xml"/>
        <add key="sahls16.methods" value="http://sahls16/sahlservices/methods.asmx"/>
        <add key="DefaultServer" value="SAHLS03" />
        <add key="DefaultDatabase" value="SAHLDB" />
        <add key="DefaultUser" value="SAHL\Crystal" />
        <add key="DefaultPassword" value="" />


        <add key="LiveDB" value="SAHLS03" />
        <add key="TestDB" value="SAHLS11" />

        <add key="SAHLS16DB" value="SAHLS03" />
        <add key="SAHLS05DB" value="SAHLS03" />
        <add key="SAHLS02DB" value="SAHLS03" />
        <add key="SAHLS11DB" value="SAHLS11" />
        <add key="SAHLS17DB" value="SAHLS03" />
        <add key="localhostDB" value="sahls11" />


        <add key="GhostScript" value="C:\gs\gs8.50\bin\gswin32c.exe" />
        <!--The executable that drives the conversion-->
        <add key="GhostParameters" value="-dNOPAUSE -dBATCH -sDEVICE=pdfwrite -q -sOutputFile={1} {0}" />
        <!-- 0 is input file and 1 is output file-->
        <add key="TempGhostFile" value="c:\temp\{0}_temp.ps" />
        <!-- The temp file gets deleted after upload-->
        <add key="OutputGhostFile" value="C:\WebSites\Base\Portal\Uploads\{0}.pdf" />
        <!-- the output file must be accessable from the web -->

        <!-- Select statement to get the latest version of the query/sp from the uiStatement table -->
        <add key="uiStatementSelect" value="select Statement from [2am].dbo.uiStatement where Version = 
            ( select max(Version) from [2am].dbo.uiStatement
            where ApplicationName = @Application and StatementName = @StatementName )
            and ApplicationName = @Application and StatementName = @StatementName" />


    </appSettings>
    <connectionStrings/>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true"/>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    </system.web>
</configuration>
