<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Capitec.Shared</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://sahldeploy/sahldevnugetgallery/api/v2" Mode="Float" Stability="Anything" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Common.Logging" Version="2.2.0.0" Mode="Fixed" />
    <Dependency Name="Common.Logging.Core" Version="2.2.0.0" Mode="Fixed" />
    <Dependency Name="Dapper" Version="1.12.1.0" Mode="Fixed" />
    <Dependency Name="IronRuby" Version="1.1.3" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="5.0.6.0" Mode="Fixed" />
    <Dependency Name="Roslyn.Compilers.Common" Version="1.2.20906.2" Mode="Fixed" />
    <Dependency Name="Roslyn.Compilers.CSharp" Version="1.2.20906.2" Mode="Fixed" />
    <Dependency Name="Roslyn.Services.Common" Version="1.2.20906.2" Mode="Fixed" />
    <Dependency Name="Roslyn.Services.CSharp" Version="1.2.20906.2" Mode="Float" />
    <Dependency Name="SAHL.Core" Version="0.0.0.0" Mode="Float" />
    <Dependency Name="SAHL.Core.Data" Version="0.0.0.0" Mode="Float" />
    <Dependency Name="ScriptCs.Contracts" Version="0.9.0.0" Mode="Fixed" />
    <Dependency Name="ScriptCs.Core" Version="0.9.0.0" Mode="Fixed" />
    <Dependency Name="ScriptCs.Engine.Roslyn" Version="0.9.0.0" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.4.1" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>