<configuration>
	<log4net debug="false">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="SAHL.Web.Services.log" />
			<appendToFile value="true" />
			<datePattern value="yyyyMMdd" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="2MB" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<acceptOnMatch value="true" />
				<levelMin value="DEBUG" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
			</layout>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="WebServices_General_Exception_DEV_A@sahomeloans.com" />
			<from value="WebServices_General_Exception_DEV_A@sahomeloans.com" />
			<subject value="SAHL.Web.Services logging" />
			<smtpHost value="sahls01.SAHL.COM" />
			<bufferSize value="512" />
			<lossy value="true" />
      <threshold value="ERROR"/>
      <evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ALL"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
			</layout>
		</appender>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
		<root>
			<level value="ERROR" />
			<appender-ref ref="RollingLogFileAppender" />
			<appender-ref ref="SmtpAppender" />
		</root>
	</log4net>
</configuration>