<#@ template debug="false" hostspecific="false" language="C#" #>

USE [master]
GO

/****** Object:  StoredProcedure [dbo].[pRestoreDatabases]    Script Date: 11/02/2012 17:06:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[pRestoreDatabases]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[pRestoreDatabases]
GO

USE [master]
GO

/****** Object:  StoredProcedure [dbo].[pRestoreDatabases]    Script Date: 11/02/2012 17:06:26 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[pRestoreDatabases]
AS
BEGIN

	INSERT INTO [master].[dbo].[RestoreStatus]([Message],[TimeStamp])
	VALUES('------Start Restore------',getdate())
	
	DECLARE @current_user nvarchar(100)
	SELECT @current_user = SYSTEM_USER


	declare @sql nvarchar(max);
	set @sql = 'ALTER LOGIN [<#=UserID#>] WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]'
	exec sp_executesql @sql

	<# foreach(var restore in Restores)
	{
	#>
		EXEC [master].[dbo].[pRestoreDatabase] [<#=restore.DatabaseName#>], '<#=restore.RestoreFromPath#>', '<#=restore.RestoreToPath#>'
	<#
	}
	#>
	
	INSERT INTO [master].[dbo].[RestoreStatus]([Message],[TimeStamp])
	VALUES('------Restore Complete------',getdate())
	
END
GO