<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="messageBusServer" value="localhost"/>
    <add key="messageBusUsername" value="admin"/>
    <add key="messageBusPassword" value="W0rdpass"/>
    <add key="subscriptionId" value="TestIocDomainProcessManager"/>
  </appSettings>
</configuration>
