@model SAHL.Core.UI.Elements.Menus.TileDynamicContextMenuItemElement
<li id="@Model.Id" class="context-menu-item dynamic-context-menu-item scrollable-item" @DataAttributes.attributes(Model)><a href="#">@Html.DisplayForModel(x => x.Parts)</a></li>
