<div>
    <div class="top">
        <h2>{{wizardPages[index].name}}</h2>
    </div>
    <br />
    <div class="wizardContent">
        <div ng-if="wizardPages[index].wizardPageType == 'YesNo'">{{wizardPages[index].contentMessage}}</div>
        <div ng-if="wizardPages[index].wizardPageType == 'Edit'">
            <div ng-include="pageView"></div>
        </div>
        <br /><br />
        <div class="buttons" ng-if="buttonsVisible">
            <div class="left">
                <button ng-disabled="disabled" ng-if="index !== 0 && canNavigateBack" ng-click="prev()">Previous</button> <button ng-if="canNavigateFoward" ng-click="next()">Next</button>
            </div>
            <div class="right">
                <button ng-disabled="disabled" ng-if="wizardPages[index].wizardPageType == 'YesNo'" ng-click="yes()">Yes</button>
                <button ng-disabled="disabled" ng-if="wizardPages[index].wizardPageType == 'YesNo'" ng-click="no()">No</button>
                <button ng-disabled="disabled" ng-if="wizardPages[index].wizardPageType == 'Edit' && !isLast " ng-click="submit()">Submit</button>
                <button ng-disabled="disabled" ng-if="wizardPages[index].wizardPageType == 'Edit' && isLast" ng-click="finish()">Finish</button> | <button ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
