<div id="pageHeader">
    <h1>{{$state.$current.data.title.toLowerCase()}}</h1>
    <div id="breadcrumbs">
        <ul class="breadcrumbsContainer">
            <li class="breadcrumb-fixed-item">You're here</li>
            <li><a ui-sref="home.splashscreen">Home</a></li>
            <li ng-repeat="state in $state.$current.path | removeHiddenCrumbs">
                <a ng-if="state.data.breadcrumb == null" ui-sref="{{state.name}}">{{ state.data.title }}</a>
                <a ng-if="state.data.breadcrumb.length != 0" ui-sref="{{state.name}}">{{ state.data.breadcrumb }}</a>
            </li>
            <li class="last"></li>
        </ul>
    </div>
</div>
<div id="pageContent">
    <h1>
        {{$state.$current.data.pageHeading.toLowerCase()}} <img ng-hide="!($state.current.data.icon == 'success')" src='assets/img/success.png' alt='' />
        <img ng-hide="!($state.current.data.icon == 'failure')" src='assets/img/failure.png' alt='' />
    </h1>
    <div ui-view>
    </div>
</div>
