<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SAHL.Common.Web.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SAHL.Common.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="CBOMenus" type="SAHL.Common.Service.Configuration.CBOSection, SAHL.Common.Service"/>

	</configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="CBO Service">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception"/>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="CBO" name="CBO"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="SAHLPrincipalStore" name="SAHLPrincipalStore"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="UISTATEMENT" name="UISTATEMENT"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="MOCK" name="MOCK"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" name="CBO" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="SAHLPrincipalStore" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="UISTATEMENT" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="MOCK" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		</backingStores>
	</cachingConfiguration>
	<connectionStrings>
		<add name="SAHL.Common.Web.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;"/>
		<add name="SAHL.Common.Properties.Settings.Warehouse" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
		<add name="SAHL.Common.Properties.Settings.BatchConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
		<add name="SAHL.Common.Properties.Settings.DataReportConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
		<add name="SAHL.Common.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
		<add name="SAHL.Common.Properties.Settings.X2" connectionString="Data Source=DEVA03;Initial Catalog=X2;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;" providerName="System.Data.SqlClient"/>
		<add name="SAHL.Common.Properties.Settings.MetricConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<CBOMenus>
		<!--		<add CBOKey="" NodeClass="SAHL.Common.BusinessModel.CBONodes.CBONode"/>-->
	</CBOMenus>
	<applicationSettings>
		<SAHL.Common.DataAccess.Properties.Settings>
			<setting name="RepositoryFind" serializeAs="String">
				<value>
					select Statement from dbo.uiStatement where Version = 	( select max(Version) from dbo.uiStatement
					where ApplicationName = @Application and StatementName = @Statement)
					and ApplicationName = @Application and StatementName = @Statement
				</value>
			</setting>
			<setting name="Application" serializeAs="String">
				<value>RCS</value>
			</setting>
		</SAHL.Common.DataAccess.Properties.Settings>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
