/********************************************/
/* Rounded Corners                          */
/********************************************/
/********************************************/
/* Width                                    */
/********************************************/
/********************************************/
/* Height                                   */
/********************************************/
/********************************************/
/* Margins                                  */
/********************************************/
/********************************************/
/* Padding                                  */
/********************************************/
/********************************************/
/* Borders                                  */
/********************************************/
/********************************************/
/* Backgrounds                              */
/********************************************/
/********************************************/
/* Overflow                                 */
/********************************************/
/********************************************/
/* Floats                                   */
/********************************************/
/********************************************/
/* Buttons                                  */
/********************************************/
/********************************************/
/* Animation                                */
/********************************************/
@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
.emphasise {
  font-weight: bold;
}
.icon-decision-operation {
  background: url(../assets/img/decision-operation_30x30.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-decision-branch {
  background: url(../assets/img/decision-branch_30x30.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-decision-terminate {
  background: url(../assets/img/decision-terminate_30x30.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-decision-connector {
  background: url(../assets/img/decision-connector_30x30.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-debug-stop {
  background: url(../assets/img/tree-debug-stop_28x28.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-debug-start {
  background: url(../assets/img/tree-debug-run_28x28.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-debug-restart {
  background: url(../assets/img/tree-debug-restart_28x28.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-debug-step-over {
  background: url(../assets/img/tree-debug-step-over_28x28.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-tree-thumbnail {
  background: url(../assets/img/noimage.png) no-repeat;
  -moz-background-size: 100px;
  -o-background-size: 100px;
  -webkit-background-size: 100px;
  background-size: 100px;
  background-position: center;
}
.icon-view-variables {
  background: url(../assets/img/view-variables_30x30.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-view-code {
  background: url(../assets/img/view-code_30x30.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-recent-trees {
  background: url(../assets/img/recent-trees_28x28.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-export-pdf {
  background: url(../assets/img/export-image-pdf.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-export-png {
  background: url(../assets/img/export-image-png.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-export-svg {
  background: url(../assets/img/export-image-svg.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-close-button {
  background: url(../assets/img/close-button.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-sahl-logo {
  background: url(../assets/img/logo-sahl_16x16.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.icon-vertical-pin {
  background: url(../assets/img/vertical-pin.png) no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/*.common-icon() {
    .menu-item-icon-repeat();
    background-position-x:10px;
    background-position-y:23px;
    border:none;
}*/
/*
*	COMMON LAYOUT PANE FORMATTING
*/
.pane,
.ui-layout-pane {
  /* inner pane class */
  background-color: #FFF;
  padding: 0;
  /* alignment & padding is on the inner-divs */
  overflow: auto;
  /* will be auto-set to 'hidden' for any pane with a 'scrolling content div' */
}
/*
*	OUTER-LAYOUT PANE FORMATTING
*/
.pane-north,
.pane-south,
.pane-west,
.pane-east {
  overflow: hidden;
}
.pane-north {
  border-bottom: none;
}
.pane-north .content,
.pane-south .content {
  text-align: center;
}
.pane-center {
  /* show off the inner-layout inside the outer-center-pane*/
  background-color: #F6F6F6;
}
/* inner divs inside Outer East/West panes */
.panelheader {
  background: #ed7900;
  border-bottom: 1px solid #777;
  font-weight: bold;
  text-align: center;
  padding: 2px 0 4px;
  position: relative;
  overflow: hidden;
}
.subhead,
.footer {
  background: #d6d6d6;
  padding: 3px 10px;
  font-size: 0.85em;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.subhead {
  border-bottom: 1px solid #777;
}
.footer {
  border-top: 1px solid #777;
}
#mainContent .footer {
  border-top: 1px solid #BBB;
}
.content {
  padding: 10px;
  position: relative;
  overflow: auto;
}
/*
*	INNER-LAYOUT PANE FORMATTING
*/
#mainContent .ui-layout-pane {
  padding: 10px;
}
#mainContent .ui-layout-north,
#mainContent .ui-layout-south {
  text-align: center;
}
#mainContent .ui-layout-center {
  padding: 0 !important;
  /* inner divs have padding */
}
#mainContent .ui-layout-content {
  /*padding: 10px;*/
}
#mainContent .ui-layout-center h3 {
  font-size: 1em;
  padding: 5px;
  margin: 0;
}
/*
*	OUTER LAYOUT RESIZERS & TOGGLERS
*/
/* north-pane is not resizable
.resizer-north-dragging ,
.resizer-north:hover		{ background: url(../img/resizable-n.gif) repeat-x center; }*/
.resizer-south-dragging,
.resizer-south:hover {
  background: url(../assets/img/resizable-s.gif) repeat-x center;
}
.resizer-west-dragging,
.resizer-west-open:hover {
  background: url(../img/resizable-w.gif) repeat-y center;
}
.resizer-east-dragging,
.resizer-east-open:hover {
  background: url(../assets/img/resizable-e.gif) repeat-y center;
}
.resizer-west-open,
.resizer-east-open,
.resizer-south-open {
  background-color: #999;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.resizer-west-open:hover,
.resizer-east-open:hover,
.resizer-south-open:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.resizer-dragging {
  /* see draggable.opacity option
	opacity: 0.5;
	filter: alpha(opacity=50);
	*/
}
.resizer-dragging-limit {
  background: #FF3300 !important;
}
/* IE6 * HACK - always show resizer graphics because IE6 cannot understand elem:hover */
/** html .resizer-north		{ background: url(../img/resizable-n.gif) repeat-x center !important; } */
* html .resizer-south {
  background: url(../assets/img/resizable-s.gif) repeat-x center !important;
}
* html .resizer-west-open {
  background: url(../assets/img/resizable-w.gif) repeat-y center !important;
}
* html .resizer-east-open {
  background: url(../assets/img/resizable-e.gif) repeat-y center !important;
}
/** html .resizer-north , */
* html .resizer-south,
* html .resizer-west-open,
* html .resizer-east-open {
  opacity: 0.1 !important;
  filter: alpha(opacity=10) !important;
}
/*
*	SIMPLE TOGGLER BUTTONS (used on Outer Layout North/South only)
*/
.toggler-north-open {
  background: url(../img/toggle-up.gif) no-repeat center bottom;
}
.toggler-north-closed {
  background: url(../img/toggle-dn.gif) no-repeat center top;
}
/*
.toggler-east-closed ,
.toggler-west-open    { background: url(../img/toggle-lt.gif) no-repeat center right; }
.toggler-west-closed ,
.toggler-east-open    { background: url(../img/toggle-rt.gif) no-repeat center left; }
*/
/*
*	extJS-STYLE RESIZER/SLIDER-BAR (CLOSED)
*/
.resizer-west-closed,
.resizer-east-closed,
.resizer-south-closed {
  background: #8a8a8a;
  /*border-top: 1px solid #777;
	border-bottom: 1px solid #777;*/
}
.resizer-west-closed:hover,
.resizer-east-closed:hover,
.resizer-south-closed:hover {
  background: #3d3d3d;
}
/*
 *	extJS-STYLE TOGGLE & PIN BUTTONS
 *
 *	these 'extra buttons' are INSIDE the east/west panes
 */
/* CUSTOM pin/close buttons */
span.button-pin,
span.button-close {
  position: absolute;
  top: 3px;
  width: 20px;
  height: 20px;
  z-index: 2;
  display: block;
  cursor: pointer;
}
span.button-close-west {
  left: 0;
}
span.button-close-east,
span.button-close-south {
  right: 0;
}
span.button-pin-west {
  right: 1px;
}
span.button-pin-east,
span.button-pin-south {
  left: 1px;
}
/* CUSTOM pin-buttons */
span.button-pin-up {
  background: url(../assets/img/pin-up-off.png) no-repeat center;
}
span.button-pin-up:hover {
  background: url(../assets/img/pin-up-on.png) no-repeat center;
}
span.button-pin-down {
  background: url(../assets/img/pin-dn-off.png) no-repeat center;
}
span.button-pin-down:hover {
  background: url(../assets/img/pin-dn-on.png) no-repeat center;
}
/* CUSTOM close-buttons */
span.button-close-west {
  background: url(../assets/img/go-lt-off.gif) no-repeat center;
}
span.button-close-west:hover {
  background: url(../assets/img/go-lt-on.gif) no-repeat center;
}
span.button-close-east,
span.button-close-south {
  background: url(../img/go-rt-off.gif) no-repeat center;
}
span.button-close-east:hover,
span.button-close-south:hover {
  background: url(../img/go-rt-on.gif) no-repeat center;
}
/* STANDARD toggler-buttons - when the east/west panes are 'closed' */
.toggler-west-closed {
  background: url(../img/go-rt-off.gif) no-repeat center;
}
.toggler-west-closed:hover {
  background: url(../img/go-rt-on.gif) no-repeat center;
}
.toggler-east-closed,
.toggler-south-closed {
  background: url(../assets/img/pin-up-off.png) no-repeat center;
}
.toggler-east-closed:hover,
.toggler-south-closed:hover {
  background: url(../assets/img/pin-up-on.png) no-repeat center;
}
/*
*	INNER LAYOUT RESIZERS & TOGGLERS
*
*	These styles target 'children of center pane', so only affect the Inner Layout
*	This layout has applyDefaultCSS=true, so use !important to override defaults 
*/
#mainContent .ui-layout-resizer-closed:hover {
  background: #FFEDCA !important;
}
#mainContent .ui-layout-resizer-open:hover,
#mainContent .ui-layout-resizer-dragging {
  background: #C4E1A4 !important;
}
#mainContent .ui-layout-resizer-dragging-limit {
  background: #FF3300 !important;
}
#mainContent .ui-layout-resizer-north,
#mainContent .ui-layout-resizer-south {
  border-left: 1px solid #BBB !important;
  border-right: 1px solid #BBB !important;
}
#mainContent .ui-layout-resizer-north-closed {
  border-top: 1px solid #BBB !important;
}
#mainContent .ui-layout-resizer-south-closed {
  border-bottom: 1px solid #BBB !important;
}
#mainContent .ui-layout-resizer-west-closed {
  border-left: 1px solid #BBB !important;
}
#mainContent .ui-layout-resizer-east-closed {
  border-right: 1px solid #BBB !important;
}
#mainContent .ui-layout-resizer:hover .ui-layout-toggler {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#mainContent .ui-layout-resizer:hover .ui-layout-toggler:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #FD9 !important;
  border-color: #CB7 !important;
}
#mainContent .ui-layout-resizer-sliding {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
#mainContent .ui-layout-resizer-sliding:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#mainContent .ui-layout-resizer-sliding .ui-layout-toggler {
  display: none !important;
}
#mainContent .ui-layout-resizer-sliding:hover .ui-layout-toggler {
  display: block !important;
}
.metro .popup.flat {
  background-color: #ffffff;
  border: 1px #e9e9e9 solid;
}
.metro .popup.flat .caption {
  height: 32px;
  background-color: #ffffff;
  padding: 7px 5px;
  border-bottom: 1px #e9e9e9 solid;
  border-top: 0;
}
.metro .popup.flat .caption .btn-close,
.metro .popup.flat .caption .btn-min,
.metro .popup.flat .caption .btn-max {
  background-color: #ffffff;
  color: #777777;
  width: 24px;
  top: 4px;
  right: 4px;
}
.metro .popup.flat .caption .btn-close:hover,
.metro .popup.flat .caption .btn-min:hover,
.metro .popup.flat .caption .btn-max:hover {
  background-color: #cde6f7;
  color: #2a8dd4;
}
.metro .popup.flat .caption .btn-close:hover:after,
.metro .popup.flat .caption .btn-min:hover:after,
.metro .popup.flat .caption .btn-max:hover:after {
  border-color: #2a8dd4;
}
.metro .popup.flat .caption .btn-close:active,
.metro .popup.flat .caption .btn-min:active,
.metro .popup.flat .caption .btn-max:active {
  background-color: #92c0e0 !important;
  color: #ffffff !important;
}
.metro .popup.flat .caption .btn-close:after,
.metro .popup.flat .caption .btn-min:after,
.metro .popup.flat .caption .btn-max:after {
  border-color: #777777;
  width: 10px !important;
  height: 6px !important;
}
.metro .popup.flat .caption .btn-max {
  right: 29px;
}
.metro .popup.flat .caption .btn-min {
  right: 54px;
}
.metro .popup.flat .caption .btn-close:after {
  margin-top: 2px;
}
.metro .popup.flat .content {
  padding-top: 38px;
}
.tile-corner-badge {
  width: 30px;
  height: 30px;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 0;
}
.sideBarMenu {
  height: 100%;
  color: white;
  background-color: #ed7900;
  float: left;
}
.sideBarMenu p {
  margin-right: 10px;
}
.sideBarMenu ul {
  background-color: #ed7900;
}
#filePage {
  height: 100%;
}
#filePage #user-box {
  margin-right: 10px;
  letter-spacing: 0.29333335161209106px;
  line-height: 20px;
}
#filePage #user-box .user-details {
  font-size: 15px;
}
.recentItems {
  height: 45px;
  position: relative;
  left: -8px;
  margin: 0px;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  padding-left: 0px;
  font-size: 10pt;
  color: white;
}
.recentItems a {
  padding-left: 8px;
  position: relative;
  top: 2px;
  width: 100%;
  font-size: 10pt !important;
}
.recentItems img {
  left: 90%;
  top: -42px;
  position: relative;
}
.recentItems label {
  font-size: 8pt;
  padding-left: 8px;
  position: relative;
  top: -5px;
}
.recentItems:hover {
  background-color: #a15200;
}
.recentItems:hover img {
  display: inline-block !important;
}
#fileMenuView {
  /*margin-bottom: -22px;
    padding-bottom: 22px;*/
}
#fileMenu {
  width: 123px;
  height: 100%;
}
#fileMenu ul {
  margin-left: 0px;
  padding-left: 0px;
}
#fileMenu li {
  margin: 0px;
  cursor: default;
}
#fileMenu li a {
  color: white;
  padding-left: 27px;
  line-height: 38px;
  cursor: default;
}
#fileMenu li a.active {
  background-color: #d46c00;
}
#fileMenu li:hover a {
  background-color: #a15200;
}
#fileMenu li:hover .title {
  background-color: #ed7900;
}
#fileMenu li:hover .title h1 .fg-white {
  color: #e6e6e6 !important;
}
#startPageMenu {
  width: 20%;
  padding: 10px;
}
#startPageMenu a {
  color: white;
}
#startPageMenu .startPageItem a {
  font-size: 18px;
}
#startPageMenu .startPageItem a:hover {
  text-decoration: underline;
}
#startPageMenu .startPageItem span.separator {
  margin: 5px 0px 10px 0px;
}
#header {
  height: 50px;
  width: 100%;
  display: block;
}
#header #user-box {
  padding-top: 10px;
  padding-right: 10px;
}
.metro #scrollBox {
  height: 100%;
  overflow-y: auto;
}
.metro #scrollBox .treeScrollBox {
  padding: 6px;
}
.metro #scrollBox .scrollContainer {
  padding-left: 3px;
  padding-top: 3px;
  float: left;
}
.metro #scrollBox .scrollContainer .tile {
  margin: 5px 5px 5px 5px;
}
.metro #scrollBox.coverage-scroller {
  margin-bottom: -32px;
}
.startPageContent {
  height: 100%;
  width: 80%;
  float: left;
  color: #525252;
}
.startPageContent #startHeader {
  height: 60px;
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
  display: block;
}
.startPageContent #startSpacer {
  float: left;
  width: 100% !important;
  background-color: lightgray;
  margin-top: 4px;
}
.startPageContent #startContainer {
  margin-top: -60px;
  height: 100%;
  padding: 70px 10px 10px 10px;
}
.startPageContent #startContainer a {
  width: 100%;
  height: 100%;
  display: block;
}
.startPageContent #startContainer a i {
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 94px;
  text-align: center;
  vertical-align: middle;
}
.startPageContent .searchBox {
  float: left;
  display: inline;
}
.startPageContent .searchBox input {
  width: 550px;
  border: solid 1px #ababab;
  line-height: 22px;
  margin-left: 10px;
  background: url(../assets/img/search-box_14x17.png) no-repeat right center;
  text-indent: 5px;
}
.startPageContent .searchBox input:focus {
  outline: none;
}
span.separator {
  margin: 5px;
  display: block;
  width: 90%;
  border-bottom: 1px solid white;
}
#user-box {
  float: right;
}
#user-box div {
  padding-right: 5px;
  margin-bottom: 0px;
}
#user-box .user-image {
  float: right;
  height: 48px;
  width: 48px;
}
#user-box .user-image-small {
  float: right;
  height: 28px;
  width: 28px;
}
#user-box .user-details {
  float: right;
}
#user-box .user-details .user-name {
  line-height: 20px;
  font-size: 20px;
}
#user-box .user-details .user-email {
  padding-top: 4px;
  line-height: 14px;
}
#user-box.inline .user-details div {
  display: inline;
}
#user-box.inline .user-details div.user-name {
  line-height: 12px;
  font-size: 12px;
  padding-right: 3px;
}
#user-box.inline .user-details div.user-email {
  padding-right: 3px;
  line-height: 12px;
  font-size: 12px;
}
#user-box.inline .user-image {
  height: 24px;
  width: 24px;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  margin-top: 3px;
}
.metro .tableContainer {
  min-width: 1000px;
}
.metro .tableContainer .last-column {
  width: 135px;
}
.metro .tableContainer .button-set {
  padding-top: 10px;
  padding-bottom: 10px;
}
.metro .tableContainer button {
  margin-right: 0px;
  font-weight: bold;
}
.metro .tableContainer form {
  margin: 0px;
}
.metro .tableContainer form table {
  margin-bottom: 0px;
}
.groupRow {
  background-color: lightgray;
}
.alternateRow {
  background-color: #d7eff2;
}
.metro table td div.input-control.text,
.metro table td div.input-control.select {
  margin-bottom: 0;
}
.back-button {
  float: left;
  margin-left: 10px;
}
.draggable {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #BBB;
  border-radius: 1px;
  background-color: whitesmoke;
  position: absolute;
  top: 20px;
  left: 120px;
  z-index: 500;
}
.handle {
  background-color: white;
  cursor: move;
  text-align: center;
  font: bold 16px sans-serif;
}
#infoDraggable {
  left: 500px;
  top: 200px;
  width: 200px;
}
#myInfo {
  padding: 6px;
}
.metro .window .caption {
  width: 1000px;
  margin: 0px auto;
  height: 50px !important;
  position: relative !important;
  border: 0px !important;
  padding-left: 0px !important;
}
.metro .window .caption .title {
  font-size: 48px;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 4.8rem;
  margin-left: 0 !important;
}
.metro .window .content {
  width: 1000px;
  margin: 0px auto;
}
.metro .window .content form.twoColumn fieldset {
  width: 100%;
  display: inline-block;
}
.metro .window .content form.twoColumn fieldset label {
  width: 49%;
  display: inline-block;
}
.metro .window .content form.twoColumn fieldset > div {
  width: 50%;
  display: inline-block;
}
#designSurface canvas:focus {
  outline: none;
}
.childView-container {
  height: 100%;
  margin-top: -22px;
}
.childView {
  margin-left: 123px;
  padding: 32px 40px 32px 40px;
  height: 100%;
}
.childView h1 {
  color: #686868;
}
.childView h2 {
  color: #ed7900;
}
.childView h3 {
  color: #ed7900;
  display: inline;
}
.childView h4 {
  color: #686868;
}
.childView .row1 {
  height: 10%;
}
.childView .row2 {
  height: 90%;
}
.childView .row2 div.tableContainer {
  overflow-y: auto;
}
.childView .row2 .breadcrumbsContainer {
  overflow-y: auto;
  margin-bottom: 12px;
}
.childView .row2 .bottomButtonsContainer {
  margin-top: 12px;
}
.childView .row2 .tab-container {
  width: 100%;
  height: 100%;
}
.childView .row2 .tabs-list {
  height: 32px;
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  border-bottom: 1px #bebebe solid;
}
.childView .row2 .tabs-list li {
  line-height: 20px;
  list-style: none;
  float: left;
  display: block;
  padding: 5px 17px;
  margin-top: 2px;
}
.childView .row2 .tabs-list li a {
  color: #222222;
  line-height: 20px;
  margin: 0px 2px;
}
.childView .row2 .tabs-list li.active {
  border: 1px #bebebe solid;
  padding: 4px 16px;
  border-bottom: 1px white solid;
}
.childView .row2 .tabs-list li.active a {
  color: #ed7900;
}
.childView .row2 .tabs-list li:hover a {
  color: #ed7900;
}
.childView #filePageSideBar {
  float: left;
  width: 15%;
  height: 100%;
  border-right: solid 2px rgba(212, 108, 0, 0.4);
  margin-top: 10px;
}
.childView #filePageSideBar ul {
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
}
.childView #filePageSideBar li {
  margin: 0px;
  color: black;
  padding-left: 0px;
  line-height: 48px;
  margin-bottom: 4px;
}
.childView #filePageSideBar li.active {
  background-color: rgba(212, 108, 0, 0.45);
}
.childView #filePageSideBar li:hover {
  background-color: rgba(212, 108, 0, 0.6);
}
.childView #filePageSideBar li:hover .title {
  background-color: #ed7900;
}
.childView #filePageSideBar li:hover .title h1 .fg-white {
  color: #e6e6e6 !important;
}
.childView #filePageSideBar li a {
  height: 48px;
  vertical-align: middle;
  line-height: 48px;
}
.childView #filePageSideBar li a i {
  height: 28px;
  width: 28px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.childView #filePageContainer {
  float: left;
  width: 85%;
  height: 100%;
  padding: 10px;
}
.childView #filePageContainer #heading {
  padding-bottom: 10px;
}
.childView #filePageContainer #heading a.button {
  float: right;
}
.childView #preview {
  overflow: auto;
  width: 100%;
  height: 90%;
}
.childView #preview-size div {
  padding: 15px;
}
.childView .treeContainer {
  overflow: auto;
  padding: 3px;
}
.childView .treeContainer a {
  width: 100%;
  height: 100%;
  display: block;
}
.childView .treeContainer a i {
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 94px;
  text-align: center;
  vertical-align: middle;
}
#document-header {
  height: 22px;
  width: 100%;
  text-align: center;
  font-size: 11px;
  line-height: 22px;
}
#document-header span.pad-margin {
  margin-left: -123px;
}
#document-header button {
  height: 20px;
  width: 29px;
  font-size: 12px;
  text-align: center;
  padding: 0px;
  border: none;
  float: right;
  background-color: transparent;
}
#document-header button:hover {
  background-color: #d9d9d9;
}
#document-header button:active {
  background-color: transparent;
}
#document-header button i {
  width: 10px;
  height: 10px;
}
#document-header .system-button {
  float: left;
  width: 29px;
  height: 20px;
  vertical-align: middle;
  -moz-background-size: 16px;
  -o-background-size: 16px;
  -webkit-background-size: 16px;
  background-size: 16px;
  background-position: 6px 3px;
}
.metro .input-control.text input[type=text].ng-invalid,
.metro .input-control.text input[type=text].invalid {
  border: 1px solid red;
}
.metro .input-control.textarea textarea {
  font-family: Arial;
  resize: none;
}
.metro .input-control.textarea textarea.ng-invalid,
.metro .input-control.textarea textarea.invalid {
  border: 1px solid red;
}
.metro.notify-container .notify .content .success-notification i {
  font-size: 20px;
  color: #60a917;
}
.metro.notify-container .notify .content .success-notification span {
  padding-left: 5px;
}
.metro.notify-container .notify .content .error-notification i {
  font-size: 20px;
  color: #e51400;
}
.metro.notify-container .notify .content .error-notification span {
  padding-left: 5px;
}
.metro.notify-container .notify .content .warning-notification i {
  font-size: 20px !important;
  color: #1ba1e2;
}
.metro.notify-container .notify .content .warning-notification span {
  padding-left: 5px;
}
.ui-layout-container {
  overflow: hidden;
  width: auto;
  height: 100%;
}
.metro .sidepanel .table {
  margin-bottom: 1px;
}
.metro .sidepanel .table th,
.metro .sidepanel .table td {
  padding: 0px;
}
.metro .sidepanel .table th input,
.metro .sidepanel .table td input,
.metro .sidepanel .table th input[type="text"],
.metro .sidepanel .table td input[type="text"],
.metro .sidepanel .table th input[type="select"],
.metro .sidepanel .table td input[type="select"],
.metro .sidepanel .table th select,
.metro .sidepanel .table td select {
  width: 100%;
  height: 100%;
  border: none;
  padding: 1px;
  text-indent: 2px;
  margin-top: 2px;
}
.metro .sidepanel .table th input.ng-invalid,
.metro .sidepanel .table td input.ng-invalid,
.metro .sidepanel .table th input[type="text"].ng-invalid,
.metro .sidepanel .table td input[type="text"].ng-invalid,
.metro .sidepanel .table th input[type="select"].ng-invalid,
.metro .sidepanel .table td input[type="select"].ng-invalid,
.metro .sidepanel .table th select.ng-invalid,
.metro .sidepanel .table td select.ng-invalid,
.metro .sidepanel .table th input.invalid,
.metro .sidepanel .table td input.invalid,
.metro .sidepanel .table th input[type="text"].invalid,
.metro .sidepanel .table td input[type="text"].invalid,
.metro .sidepanel .table th input[type="select"].invalid,
.metro .sidepanel .table td input[type="select"].invalid,
.metro .sidepanel .table th select.invalid,
.metro .sidepanel .table td select.invalid {
  border: 1px solid red;
}
.metro .sidepanel .table th.label-column,
.metro .sidepanel .table td.label-column {
  background-color: #fafafa;
}
.metro .sidepanel legend {
  margin-bottom: 0px;
  border-bottom: none;
}
.metro .sidepanel .accordion .accordion-frame div.heading {
  height: 20px;
  padding: 0px;
  padding-left: 20px;
}
.metro .sidepanel .accordion .accordion-frame div.heading:before {
  padding: 0px;
  top: 0px;
}
.metro .sidepanel .accordion .accordion-frame div.heading i {
  margin-top: 3px;
}
.metro .sidepanel .accordion .content {
  padding: 1px;
}
.metro .sidepanel .sidepanel-table {
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #EEEEEE;
}
.metro .sidepanel .sidepanel-table input,
.metro .sidepanel .sidepanel-table select {
  width: 100%;
  border: 1px solid #BBBBBB;
  padding-left: 4px;
}
.metro .sidepanel .sidepanel-table th {
  background: #EEEEEE;
  height: 20px;
  font-weight: normal;
  padding-left: 4px;
}
.metro .sidepanel .sidepanel-twocolumn {
  width: 100%;
  margin-bottom: 4px;
}
.metro .sidepanel .sidepanel-twocolumn .column {
  width: 49%;
}
.metro .sidepanel button {
  text-align: left;
  padding-left: 4px;
  max-width: 120px;
  border: 1px solid #d9d9d9;
}
.metro .sidepanel div.toolbarMenu {
  background: #d9d9d9;
}
.metro .sidepanel div.toolbarMenu.toolbar {
  margin-bottom: 0px;
}
.metro .sidepanel div.toolbarMenu button {
  padding: 3px;
  margin-top: 2px;
  font-size: 14px;
}
.metro .sidepanel div.toolbarMenu button.active {
  background: #d9d9d9;
  border: 1px solid #686868;
  color: #222222;
}
#designSurfaceContent {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 156px;
  margin-top: -156px;
  padding-bottom: 22px;
  margin-bottom: -22px;
}
.sidepanel.tab-container {
  overflow: auto;
  width: auto;
  height: 100%;
  /*margin:10px;
    margin-bottom:0px;*/
  /* If you don't select children for these you will set the
       CodeMirror divs to 100% height as well.
       This will result in strange behaviour.
    */
}
.sidepanel.tab-container > div {
  height: 100%;
}
.sidepanel.tab-container > div > div {
  height: 100%;
}
.sidepanel.tab-container .dockpanel-tab {
  height: 100%;
  width: 100%;
}
.sidepanel.tab-container .dockpanel-tab > div {
  height: 100%;
  width: 100%;
}
.sidepanel.tabs-list {
  height: 32px;
  width: 100%;
  margin: 0px;
  padding-left: 0px;
}
.sidepanel.tabs-list li {
  line-height: 20px;
  list-style: none;
  float: left;
  display: block;
  padding: 5px 17px;
  margin-top: 0px;
}
.sidepanel.tabs-list li a {
  color: #222222;
  line-height: 20px;
  margin: 0px 2px;
}
.sidepanel.tabs-list li:hover a,
.sidepanel.tabs-list li:active a,
.sidepanel.tabs-list li.active a {
  color: #ed7900;
}
.sidepanel.tabs-list.inverse {
  border-top: 1px #bebebe solid;
}
.sidepanel.tabs-list.inverse li:active,
.sidepanel.tabs-list.inverse li.active {
  border: 1px #bebebe solid;
  padding: 4px 16px;
  border-top: 1px white solid;
  margin-top: -1px;
}
#codeEditor {
  outline: none;
  border: none;
  resize: none;
}
#statusbar {
  height: 22px;
  background-color: #ed7900;
}
#statusbar .statusbar-panel {
  padding-left: 5px;
  padding-right: 5px;
  border-right: solid 1px #d46c00;
}
#statusbar .statusbar-span {
  color: #efefef;
  font-size: 13px;
  padding-left: 5px;
  line-height: 22px;
  height: 22px;
}
div.button-set-container {
  width: 100%;
  display: block;
}
div.table-container.accordion {
  float: left;
  width: 100%;
}
tr.subgroupRow {
  background: #f0f8ff;
}
td.icons-column {
  width: 120px;
}
.showbox {
  float: left;
  margin: 4em 1em;
  width: 100px;
  height: 60px;
  background-color: #fff;
  border: none;
  line-height: 60px;
  text-align: center;
}
.slidezoom:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.metro .zoom-panel {
  width: 150px;
}
.metro .zoom-panel .slider.zoom-panel-slider {
  width: 100px;
  margin-top: 5px;
  margin-bottom: auto;
  display: inline-block;
}
.metro .zoom-panel .slider .marker {
  background-color: #888888;
}
.metro .zoom-panel #zoom-panel-text {
  height: 100%;
  line-height: 16px;
  color: #efefef;
}
.searchResultItem {
  cursor: pointer;
  font-size: small;
  border-bottom: dotted;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  width: 100%;
  padding: 0px;
  display: inline-table;
}
.run-button-container {
  margin-bottom: 12px;
  overflow-y: auto;
}
.codeContainer {
  width: 100%;
  height: 100%;
}
.editableGroupName {
  border: none;
  background-color: transparent;
}
.runTests {
  cursor: default;
}
.scenario-message-output-link {
  right: 10px;
  top: 8px;
  z-index: 50000;
  position: absolute;
}
.metro .input-control.text input.scenario-message-output-input {
  padding-right: 120px;
}
.metro .input-control.select select.invalid {
  border: 1px solid red;
}
.metro .sidepanel .table th input,
.metro .sidepanel .table td input {
  margin-top: 2px;
}
#coverage-row-spacer {
  width: 100px;
}
.coverage-percent-col {
  width: 200px;
}
#coverage-inner-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
#coverage-inner-table tr {
  border: none;
}
#coverage-inner-table tr td {
  border: none;
  padding: 0px;
}
#coverage-inner-table tr td.coverage-percent-col {
  width: 200px;
  padding-left: 8px;
}
#inner-row {
  padding-right: 0px;
  padding-left: 50px;
}
.coverage-green {
  background-color: #60a917;
}
.coverage-orange {
  background-color: #ed7900;
}
.coverage-none {
  background-color: transparent;
}
#siteLogo {
  background: url(../assets/img/decision-tree-logo.png) no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
#spinHolder {
  margin-top: -50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: -350px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 50%;
}
.dockcontainer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.dockmain {
  float: left;
  height: 100%;
  width: 100%;
}
.dockright {
  float: right;
  width: 20%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  top: 0;
  padding: 5px;
  bottom: 0;
  background: #ffffff;
}
.dockcontent {
  height: 100%;
}
#siteContent {
  display: block;
  clear: both;
  height: 100%;
}
#contentColumn,
.bodyContent {
  height: 100%;
}
canvas:focus {
  outline: none;
}
.metro .fluent-menu .tabs-holder li.special {
  background-color: #ed7900;
  border: 1px #ed7900 solid;
}
.metro .fluent-menu .tabs-holder li.special:hover {
  background-color: rgba(237, 121, 0, 0.8);
  border: 1px rgba(237, 121, 0, 0.8) solid;
}
.metro .fluent-menu .tabs-holder li.active a {
  color: #ed7900;
}
.metro .fluent-menu .tabs-holder li.active a:hover {
  color: #ed7900;
}
.metro .fluent-menu .tabs-holder li a:hover {
  color: #ed7900;
}
.metro button:disabled,
.metro button.disabled {
  color: #bebebe !important;
  background-color: transparent !important;
  cursor: not-allowed !important;
}
.metro button:disabled span,
.metro button.disabled span {
  color: #bebebe !important;
  cursor: not-allowed !important;
}
.metro .CodeMirror {
  text-align: left;
}
.metro .cm-errorunderline {
  background-image: url(../assets/img/redline.png);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.metro .CodeMirror-hints {
  padding: 0px;
}
.metro .window.flat .caption {
  padding: 0px;
}
.metro .CodeMirror-selected {
  padding: 0px;
  height: auto;
}
