<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="SAHLFactories" type="SAHL.Common.Configuration.SAHLFactoriesSection, SAHL.Common"/>
		<section name="SAHLRules" type="SAHL.Common.Configuration.SAHLRulesSection, SAHL.Common"/>
    <section name="SAHLMessageBus" type="SAHL.Common.Configuration.SAHLMessageBusSection, SAHL.Common"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="SAHL.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="SAHL.Common.Web.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Web.Properties.Settings.X2ConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=X2;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Web.Properties.Settings.SAHLConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=SAHLDB;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Web.Properties.Settings.ImageIndexConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=ImageIndex;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Web.Properties.Settings.WarehouseConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;"/>
  <add name="SAHL.Common.Properties.Settings.ImageIndexConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=ImageIndex;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect"/>
  <add name="SAHL.Common.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.X2" connectionString="Data Source=DEVA03;Initial Catalog=X2;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.SAHLConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=SAHLDB;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.Warehouse" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.BatchConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.DataReportConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.MetricConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.EWorkConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=e-work;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.TestWTFConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=TestDB_WTF;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect"/>
  <add name="SAHL.Common.Properties.Settings.ImageIndexConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=ImageIndex;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect"/>
  <add name="SAHL.Common.Properties.Settings.DBConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.X2" connectionString="Data Source=DEVA03;Initial Catalog=X2;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.SAHLConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=SAHLDB;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.Warehouse" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.BatchConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.DataReportConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.MetricConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=Warehouse;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.EWorkConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=e-work;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;" providerName="System.Data.SqlClient"/>
  <add name="SAHL.Common.Properties.Settings.TestWTFConnectionString" connectionString="Data Source=DEVA03;Initial Catalog=TestDB_WTF;Persist Security Info=True;User ID=ServiceArchitect;Password=Service1Architect"/>
 </connectionStrings>
 <SAHLRules>
		<Assemblies>
			<add AssemblyName="SAHL.RULES.DLL" Location="E:\Development\sahlsourcecode\Application\SAHL.Rules\bin\Debug\sahl.rules.dll"/>
		</Assemblies>
	</SAHLRules>
	<SAHLFactories CreationStrategy="SAHL.Common.Factories.Strategies.DefaultStrategy, SAHL.Common">
		<Factories>
			<add Usage="Repository" AssemblyName="SAHL.Common.BusinessModel"/>
			<add Usage="Service" AssemblyName="SAHL.Common.Service"/>
			<add Usage="RuleRepository" AssemblyName="SAHL.Common.BusinessModel"/>
		</Factories>
	</SAHLFactories>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="UISTATEMENT" name="UISTATEMENT"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="X2" name="X2"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="SAHLPrincipalStore" name="SAHLPrincipalStore"/>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="FACTORY" name="FACTORY"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="UISTATEMENT" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="X2" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="SAHLPrincipalStore" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			<add encryptionProviderName="" name="FACTORY" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		</backingStores>
	</cachingConfiguration>
 <applicationSettings>
  <SAHL.Common.Properties.Settings>
   <setting name="Application" serializeAs="String">
    <value>RCS</value>
   </setting>
   <setting name="Admin" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>RCSAdmin</string>
      <string>IT Developers</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="Sales" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>RCSSales</string>
      <string>IT Developers</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="Supervisor" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>RCSSupervisor</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="Manager" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>RCSManager</string>
      <string>IT Developers</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ADPassword" serializeAs="String">
    <value/>
   </setting>
   <setting name="LDAPConnection" serializeAs="String">
    <value>LDAP://DC=RCSHL,DC=COM</value>
   </setting>
   <setting name="ADUser" serializeAs="String">
    <value>RCSHL\AdriaanAdmin</value>
   </setting>
   <setting name="ReportServerUser" serializeAs="String">
    <value>SAHL\SQLReportUser</value>
   </setting>
   <setting name="ReportServerUserNotPassword" serializeAs="String">
    <value>ssapdr0W</value>
   </setting>
   <setting name="ProxyUserName" serializeAs="String">
    <value>Sqlservice2</value>
   </setting>
   <setting name="ProxyPassword" serializeAs="String">
    <value>W0rdpass</value>
   </setting>
   <setting name="ProxyDomain" serializeAs="String">
    <value>SAHL</value>
   </setting>
   <setting name="Application1" serializeAs="String">
    <value>RCS</value>
   </setting>
   <setting name="RepositoryFind" serializeAs="String">
    <value>select Statement from dbo.uiStatement where Version = 	( select max(Version) from dbo.uiStatement
	  where ApplicationName = @Application and StatementName = @Statement)
and ApplicationName = @Application and StatementName = @Statement</value>
   </setting>
   <setting name="UseWindowsIdentity" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseCurrentPrincipal" serializeAs="String">
    <value>False</value>
   </setting>
  </SAHL.Common.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
