<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ApplicationName" value="SAHL.Tools.Workflow.SecurityRecalculator" />
    <add key="DisplayName" value="SAHL.Services.Windows.CommandService" />
    <add key="Description" value="SAHL.Services.Windows.CommandService" />
    <add key="ServiceName" value="SAHL.Services.Windows.CommandService" />
    <add key="MessageBusLoggerLogLevel" value="4" />
    <add key="workersAvailableToProcessRequests" value="10" />
    <add key="MessagePollInterval" value="1000" />
    <add key="hostname" value="localhost" />
    <add key="messageBusServer" value="localhost" />
    <add key="messageBusUsername" value="admin" />
    <add key="messageBusPassword" value="W0rdpass" />
    <add key="RequestTimeoutInMilliseconds" value="30000" />
    <add key="NodeHealthTimeoutInMilliseconds" value="30000" />
    <add key="TimeToWaitUntilSchedulingActivities" value="500" />
    <add key="MaximumNumberOfRetriesAllowed" value="2" />
    <add key="MinutesToWaitUntilTimeout" value="30" />
    <add key="NugetServerLocations" value="c:\temp" />
    <add key="nodeExchangeName" value="Node" />
    
    <!-- node config-->
    <add key="supportedProcesses" value="[{'ProcessName':'Personal Loan','Workflows':[{'WorkflowName':'Personal Loans','ProcessName':'Personal Loan', 'UserConsumers':5, 'SystemConsumers':20}]}]"/>

    <add key="intervalToSendHealthMessagesInMilliseconds" value="1000" />
    <add key="NuGetCachePath" value="c:\NuGetPackageCache" />
    <add key="NuGetCacheEnvironmentVariableName" value="NuGetCachePath" />
    <add key="PublishingNode" value="false" />
    <add key="LogFilePath" value="c:\temp\" />
    <add key="EnableLogging" value="true" />
    <add key="ResponseConsumers" value="10" />
    <add key="ManagementConsumers" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=aspnet-SAHL.X2Engine2.WebHost-20130718104214;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SAHL.X2Engine2.WebHost-20130718104214.mdf" />
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.4000" newVersion="3.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
