<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueryDomainService_ServiceName" value="localhost/QueryDomainService" />
    <add key="DocumentManagerService_HostName" value="localhost" />
    <add key="DocumentManagerService_ServiceName" value="DocumentManagerService" />
  </appSettings>
</configuration>