<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=X2;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SAHL.X2Engine2.WebHost-20130718104214.mdf" />
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=localhost;Initial Catalog=2AM;User Id=EWorkAdmin2;Password=W0rdpass" />
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=localhost;Initial Catalog=2AM;User Id=ServiceArchitect;Password=Service1Architect" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="SAHL.Services.X2.Client" />
    <add key="MailServerUrl" value="https://sahl-mb01/ews"/>
    <add key="MailUserName" value="SAHL\Alexm"/>
    <add key="MailPassword" value="Kup#ny@kukuru"/>
    <add key="MailBox" value="alexm@sahomeloans.com"/>
    <add key="MailArchiveFolder" value="Archive"/>
    <add key="TimerInterval" value="1000"/>
    <add key="ProcessingSetSize" value="10"/>
    <add key="CommunicationsService_hostName" value="localhost"/>
    <add key="CommunicationsService_serviceName" value="CommunicationsService"/>
    <add key="DomainProcessManagerWcfServiceAddress" value="http://localhost:9001/SAHL/Services/DomainProcessManager"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDomainProcessManagerWcfService" maxBufferPoolSize="524288" maxReceivedMessageSize="102400000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="102400000" maxBytesPerRead="4096" maxNameTableCharCount="102400000" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:9001/SAHL/Services/DomainProcessManager"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IDomainProcessManagerWcfService"
					  contract="DomainProcessManagerWcfService.IDomainProcessManagerService"
					  name="WSHttpBinding_IDomainProcessManagerWcfService">
        <identity>
          <userPrincipalName value="hayleyc@sahl.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>