@model SAHL.Core.UI.Elements.Editors.EditorElement
<div id="editorModal" @DataAttributes.attributes(this.Model) class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editorModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="editorTitle">Halo Modal Dialog</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
	</div>
</div>
