@model SAHL.Core.UI.Halo.Tiles.MortgageLoanAccount.Default.MortgageLoanAccountDetailsMajorTileModel
      <span class="badge badge-pale major-tile-icon">
            <span class="badge sahl-open"><i class="icon-home"></i> <i class="icon-random"></i></span>
                <img src="~/Content/sahl/images/halo_icon/originationsource_sahl.png" />
      </span>
@Html.Title("Mortgage Loan")
@Html.DisplayLabelModelPairFor("Account No", x => x.AccountNumber)