<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  
  <connectionStrings>
  </connectionStrings>
    
  <appSettings>
    <add key="DisplayName" value="SAHL.Services.Windows.CommandService" />
    <add key="Description" value="SAHL.Services.Windows.CommandService" />
    <add key="ServiceName" value="SAHL.Services.Windows.CommandService" />
    <!-- MAKE SURE THESE ARE LOWERCASE -->
    <!-- YOU CAN"T USE * from allowed origins and windows auth when the client sends credentials -->
    <add key="AllowedOrigins" value="*" />
    <add key="AllowedHeaders" value="*" />
    <add key="AllowedMethods" value="*" />
    <add key="ExposedHeaders" value="" />    
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>