<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=D101981;Initial Catalog=2am;User ID=eworkadmin2; Password=W0rdpass;Connect Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="messageBusServer" value="D101981" />
    <add key="messageBusUsername" value="admin"/>
    <add key="messageBusPassword" value="W0rdpass"/>
    <add key="subscriptionId" value="ProjectionsSubscription" />
    <add key="eventStreamerServiceUrl" value="localhost/eventprojectionstreamerservice" />
  </appSettings>
</configuration>