<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AddressDomainService_HostName" value="localhost" />
    <add key="AddressDomainService_ServiceName" value="AddressDomainService" />
    <add key="ClientDomainService_HostName" value="localhost" />
    <add key="ClientDomainService_ServiceName" value="ClientDomainService" />
    <add key="ApplicationDomainService_HostName" value="localhost" />
    <add key="ApplicationDomainService_ServiceName" value="ApplicationDomainService" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConsumerSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ConsumerSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://secure.transunion.co.za/TUBureau111Test/consumer.asmx"
          binding="basicHttpBinding" bindingConfiguration="ConsumerSoap"
          contract="TransUnionITC.ConsumerSoap" name="ConsumerSoap" />
    </client>
  </system.serviceModel>
</configuration>