<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WcfServices" type="SAHL.Services.DomainProcessManager.Configuration.WcfServicesSection, SAHL.Services.DomainProcessManager"/>
  </configSections>

  <appSettings>
    <add key="messageBusServer" value="localhost"/>
    <add key="messageBusPassword" value="W0rdpass"/>
    <add key="MessagePollInterval" value="1000" />
    <add key="subscriptionId" value="TestDomainProcessManager"/>
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <connectionStrings>
    <add name="DBCONNECTION_ServiceArchitect" 
         connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;Connect Timeout=300;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <WcfServices>
    <Service Name="Domain Process Manager Service"
             Interface="SAHL.Services.DomainProcessManager.WcfService.IDomainProcessManagerService, SAHL.Services.DomainProcessManager"
             Address="http://localhost:9001/SAHL/Services/DomainProcessManager" />
  </WcfServices>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="DomainProcessManagerService_wsHttpBinding" maxBufferPoolSize="524288" maxReceivedMessageSize="102400000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="102400000" maxBytesPerRead="4096" maxNameTableCharCount="102400000" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="DomainProcessManagerWcfServiceBehavior"
               name="SAHL.Services.DomainProcessManager.WcfService.DomainProcessManagerService">
        <endpoint address="" binding="wsHttpBinding" contract="SAHL.Services.DomainProcessManager.WcfService.IDomainProcessManagerService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="DomainProcessManagerWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
