<form name="selectOutputForm" class="twoColumn">
    <fieldset>
        <label>Select a subtree :</label>
        <div class="input-control select">
            <select ng-options="subtree.name for subtree in availableSubtrees" ng-model="selectedSubtree" focus-me="true" />
        </div>
    </fieldset>
    <div class="button-set">
        <div class="place-right">
            <button ng-click="closeDialog()">Save</button>
            <button ng-click="cancelDialog()">Cancel</button>
        </div>
    </div>
</form>
