<form name="selectOutputForm" class="twoColumn">
    <fieldset>
        <label>Select an output variable :</label>
        <div class="input-control select">
            <select ng-options="outputVar.name for outputVar in outputVariables" 
                    ng-model="selectedOutputVariable" 
                    focus-me="true" />
        </div>
        <label>Select the expectation type :</label>
        <div class="input-control select">
            <select ng-options="expectationType for expectationType in expectationTypes"
                    ng-model="selectedOutputVariable.expectationType"
                    ng-init="selectedOutputVariable.expectationType = selectedOutputVariable.expectationType || ( expectationTypes.length > 0 ? expectationTypes[0] : '')"
                    ng-change="selectedOutputVariable.value = '';isValid=false;"
                    focus-me="true"></select>
        </div>
        <label>Value : </label>
        <div ng-show="!selectedOutputVariable.$isEnum && selectedOutputVariable.expectationType === 'inline'">
            <div class="input-control text" ng-if="selectedOutputVariable.$inputType=='text'">
                <input type="text" ng-model="selectedOutputVariable.value" 
                       name="{{selectedOutputVariable.name}}" 
                       ng-class="{invalid: selectedOutputVariable.$treeValueNotDefined}" 
                       ng-change="validate(selectedOutputVariable.value)" />
            </div>
            <div class="input-control text" ng-if="selectedOutputVariable.$inputType=='number' && selectedOutputVariable.type==='int'">
                <input type="text" is-number="int" ng-model="selectedOutputVariable.value" name="{{selectedOutputVariable.name}}" ng-class="{invalid: selectedOutputVariable.$treeValueNotDefined}" ng-change="validate(selectedOutputVariable.value)" />
            </div>
            <div class="input-control text" ng-if="selectedOutputVariable.$inputType=='number' && (selectedOutputVariable.type==='float'||selectedOutputVariable.type==='double')">
                <input type="text" is-number="float" ng-model="selectedOutputVariable.value" name="{{selectedOutputVariable.name}}" ng-class="{invalid: selectedOutputVariable.$treeValueNotDefined}" ng-change="validate(selectedOutputVariable.value)" />
            </div>
            <div class="input-control select" ng-if="selectedOutputVariable.$inputType=='bool'" ng-change="validate(selectedOutputVariable.value)">
                <select ng-model="selectedOutputVariable.value"
                        ng-options="v for v in boolSelect"
                        ng-change="validate(selectedOutputVariable.value)"></select>
            </div>
        </div>
        <div ng-if="selectedOutputVariable.$isEnum && selectedOutputVariable.expectationType === 'inline'">
            <div class="input-control select">
                <select ng-class="{invalid: selectedOutputVariable.value === undefined  || selectedOutputVariable.value === ''}"
                        ng-options="availableEnumeration.name as availableEnumeration.value for availableEnumeration in selectedOutputVariable.$enums"
                        ng-model="selectedOutputVariable.value"
                        ng-init="selectedOutputVariable.value = selectedOutputVariable.value || ( selectedOutputVariable.$enums.length > 0 ? selectedOutputVariable.$enums[0] : '')"
                        ng-change="validate(selectedOutputVariable.value)"></select>
            </div>
        </div>
        <div ng-if="selectedOutputVariable.expectationType === 'test-variable'">
            <div class="input-control select">
                <select ng-options="variable.id as variable.name + ' (' + variable.value + ')' for variable in testingVariables"
                        ng-model="selectedOutputVariable.value"
                        ng-change="validate(selectedOutputVariable.value)"></select>
            </div>
        </div>
    </fieldset>
    <div class="button-set">
        <div class="place-right">
            <button ng-click="closeDialog()" ng-disabled="!isValid">Save</button>
            <button ng-click="cancelDialog()">Cancel</button>
        </div>
    </div>
</form>