<form name="selectOutputForm" class="twoColumn">
    <fieldset>
        <label>name :</label>
        <div class="input-control text">
            <input type="text" ng-model="selectedOutputVariable.name" />
        </div>
        <label>type :</label>
        <div class="input-control select">
            <select ng-model="selectedOutputVariable.type" ng-options="varType for varType in globalData.variableTypes" ng-change="changeVariable()"></select>
        </div>
        <label>Value : </label>
        <div ng-show="!globalData.isVariableAnEnum(selectedOutputVariable)">
            <div class="input-control text" ng-if="selectedOutputVariable.$inputType=='text'">
                <input type="text" ng-model="selectedOutputVariable.value" name="{{selectedOutputVariable.name}}" ng-class="{invalid: selectedOutputVariable.$treeValueNotDefined}" ng-change="validate(selectedOutputVariable.value)" />
            </div>
            <div class="input-control text" ng-if="selectedOutputVariable.$inputType=='number' && selectedOutputVariable.type==='int'">
                <input type="text" is-number="int" ng-model="selectedOutputVariable.value" name="{{selectedOutputVariable.name}}" ng-class="{invalid: selectedOutputVariable.$treeValueNotDefined}" ng-change="validate(selectedOutputVariable.value)" />
            </div>
            <div class="input-control text" ng-if="selectedOutputVariable.$inputType=='number' && (inputValue.type==='float'||selectedOutputVariable.type==='double')">
                <input type="text" is-number="float" ng-model="selectedOutputVariable.value" name="{{inputValue.name}}" ng-class="{invalid: selectedOutputVariable.$treeValueNotDefined}" ng-change="validate(selectedOutputVariable.value)" />
            </div>
            <div class="input-control select" ng-if="selectedOutputVariable.$inputType=='bool'">
                <select ng-model="selectedOutputVariable.value" ng-options="v for v in boolSelect" ng-change="validate(selectedOutputVariable.value)"></select>
            </div>
        </div>
        <div ng-show="globalData.isVariableAnEnum(selectedOutputVariable)">
            <div class="input-control select">
                <select ng-class="{invalid: selectedOutputVariable.value === undefined  || selectedOutputVariable.value === ''}"
                        ng-options="v.value as v.name for v in globalData.getEnumerationValuesForVariable(selectedOutputVariable)"
                        ng-model="selectedOutputVariable.value"
                        ng-change="validate(selectedOutputVariable.value)"></select>
            </div>
        </div>
    </fieldset>
    <div class="button-set">
        <div class="place-right">
            <button ng-click="closeDialog()" ng-disabled="!isValid">Save</button>
            <button ng-click="cancelDialog()">Cancel</button>
        </div>
    </div>
</form>
