<form name="newScenarioForm" class="twoColumn">
    <fieldset>
        <label>New Scenario Name :</label>
        <div class="input-control text size1">
        	<input type="text" readonly value="given ">
        </div>
        <div class="input-control text size5">
            <input type="text" ng-model="newName" focus-me="true" />
        </div>
    </fieldset>
    <div class="button-set">
        <div class="place-right">
            <button ng-click="closeDialog()">Save</button>
            <button ng-click="cancelDialog()">Cancel</button>
        </div>
    </div>
</form>
