<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=DEVA03;Initial Catalog=2am;User ID=eworkadmin2; Password=W0rdpass;Connect Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="messageBusServer" value="localhost" />
    <add key="messageBusUsername" value="admin" />
    <add key="messageBusPassword" value="W0rdpass"/>
    <add key="subscriptionId" value="ProjectionsSubscription" />
    <add key="eventStreamerServiceUrl" value="localhost/eventprojectionstreamerservice" />
    <add key="communicationsServiceUrl" value="localhost/CommunicationsService" />
    <add key="DisplayName" value="Event Projection Console" />
    <add key="Description" value="Event Projection Consolee" />
    <add key="ServiceName" value="Event Projection Console" />
    <add key="ApplicationName" value="Event Projection Console" />
    <add key="communicationsService_HostName" value="localhost" />
    <add key="communicationsService_ServiceName" value="CommunicationsService" />
  </appSettings>
</configuration>
