USE [2AM]
GO

if exists (select * from INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'test' and TABLE_NAME = 'OffersAtApplicationCapture')
begin
drop table test.OffersAtApplicationCapture
End

create table test.OffersAtApplicationCapture
(
TestIdentifier varchar(255) Not Null,
TestGroup varchar(255),
Username varchar(255),
Password varchar(255),
LoanType varchar(255),
Product varchar(255),
MarketValue varchar(10),
ExistingLoan varchar(10),
CashDeposit varchar(10),
CashOut varchar(10),
EmploymentType varchar(255),
Term varchar(255),
CapitaliseFees varchar(5) default 'false',
HouseHoldIncome varchar(10),
LegalEntityType varchar(255),
LegalEntityRole varchar(255),
Firstname varchar(255),
Surname varchar(255),
CompanyName varchar(255),
EstateAgency varchar(255),
OfferKey int,
AtQAFlag bit,
AtManageApplicationFlag bit,
ApplicationManagementTestID varchar(255),
ApplicationManagementTestGroup varchar(255),
AtCreditFlag bit,
CreditTestID varchar(255),
CreditTestGroup varchar(255),
AtRegistrationPipelineFlag bit,
RegistrationPipelineTestID varchar(255),
RegistrationPipelineTestGroup varchar(255),
Primary Key (TestIdentifier),
ProcessViaWFAutomation bit
)
GO


update [2am].test.offersatapplicationcapture
set ProcessViaWFAutomation = 1
where testidentifier not in (
'SubmitApplicationNewPurchaseEdgeApplication',
'SubmitApplicationRefinanceVarifixApplication',
'SubmitApplicationSwitchNewVariableApplication'
)

update [2am].test.offersatapplicationcapture
set ProcessViaWFAutomation = 0
where testidentifier in (
'SubmitApplicationNewPurchaseEdgeApplication',
'SubmitApplicationRefinanceVarifixApplication',
'SubmitApplicationSwitchNewVariableApplication'
)