<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass;Pooling=False;" />
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=localhost;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass;Pooling=False;" />
    <add name="SAHL.Common.Web.Properties.Settings.DBConnectionString" connectionString="Data Source=localhost;Initial Catalog=2AM;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.X2.Framework.Properties.Settings.DBConnectionString" connectionString="Data Source=localhost;Initial Catalog=2AM;Persist Security Info=True;User Id = eworkadmin2;Password=W0rdpass;Connect Timeout=30;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.X2.Framework.Properties.Settings.X2" connectionString="Data Source=localhost;Initial Catalog=x2;Persist Security Info=True;User Id = eworkadmin2;Password=W0rdpass;Connect Timeout=30;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.Warehouse" connectionString="Data Source=localhost;Initial Catalog=Warehouse;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.BatchConnectionString" connectionString="Data Source=localhost;Initial Catalog=2AM;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.DataReportConnectionString" connectionString="Data Source=localhost;Initial Catalog=2AM;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.DBConnectionString" connectionString="Data Source=localhost;Initial Catalog=2AM;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.TestWTFConnectionString" connectionString="Data Source=localhost;Initial Catalog=2AM_WTF;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.X2" connectionString="Data Source=localhost;Initial Catalog=x2;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.MetricConnectionString" connectionString="Data Source=localhost;Initial Catalog=Warehouse;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.SAHLConnectionString" connectionString="Data Source=localhost;Initial Catalog=SAHLDB;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.EWorkConnectionString" connectionString="Data Source=localhost;Initial Catalog=e-work;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
    <add name="SAHL.Common.Properties.Settings.ImageIndexConnectionString" connectionString="Data Source=localhost;Initial Catalog=ImageIndex;Persist Security Info=True;User ID=eworkadmin2;Password=W0rdpass;Pooling=False;" providerName="System.Data.SqlClient" />
  </connectionStrings> 
  <appSettings>
    <add key="messageBusServer" value="localhost" />
    <add key="messageBusUsername" value="admin" /> 
    <add key="messageBusPassword" value="W0rdpass" />  
    <add key="subscriptionId" value="00000000-BDB1-4870-81F8-8ED77ECBC075" />
    <add key="MessageServer" value="localhost" />
    <add key="PublishMetrics" value="false" />
    <add key="ApplicationName" value="HALO" />
    <!-- 0 - None, 1 - Errors Only, 2 - Warnings & Errors, 3 - Info, Warnings & Errors, 4 - Debug, Info, Warnings & Errors -->
    <add key="LogLevel" value="4" />
  </appSettings>
</configuration>