<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\Application.Test\SAHL.Web.Test\packages.config" />
  <repository path="..\..\Application\SAHL.Batch\packages.config" />
  <repository path="..\..\Application\SAHL.Web.Services\SAHL.Web.Services.Test\packages.config" />
  <repository path="..\..\Application\SAHL.Web.Services\SAHL.Web.Services\packages.config" />
  <repository path="..\..\Application\SAHL.Web\packages.config" />
  <repository path="..\..\Applications\SAHL.Web.Public\SAHL.Web.ClientSecure\SAHL.Web.ClientSecure\packages.config" />
  <repository path="..\..\Applications\SAHL.Web.Public\SAHL.Web.Public\SAHL.Web.Public\packages.config" />
  <repository path="..\..\Applications\SAHL.Web.Services\SAHL.Web.Services.Internal\SAHL.Web.Services.Internal\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\ApplicationCaptureTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\Automation.Framework\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\Automation.Services.Specs\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\BuildingBlocks\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\CAP2Tests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\DebtCounselling\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\FurtherLendingTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\InternetComponentTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\LifeTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\LoanAdjustmentsTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\LoanServicingTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\ObjectMaps\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\OriginationTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\PersonalLoansTests\packages.config" />
  <repository path="..\..\Automation.Test\HaloTestAutomation\Win7UI\Win7UI\packages.config" />
  <repository path="..\..\DomainService\DomainService\EWorkConnector\packages.config" />
  <repository path="..\..\DomainService\DomainService\SAHLDomainService\packages.config" />
  <repository path="..\..\DomainService\DomainService\X2DomainService.ServiceTest\packages.config" />
  <repository path="..\..\DomainService\DomainService2.Console\packages.config" />
  <repository path="..\..\DomainService\DomainService2.IOC\packages.config" />
  <repository path="..\..\DomainService\DomainService2.Specs\packages.config" />
  <repository path="..\..\DomainService\DomainService2.Tests\packages.config" />
  <repository path="..\..\DomainService\DomainService2\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.BusinessModel.DAO.InMemoryTest\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.BusinessModel.DAO.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.BusinessModel.Spec.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.BusinessModel.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.Service.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.UI.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.Web.UI.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.X2.BusinessModel.DAO.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Common.X2.BusinessModel.Test\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.Communication.TestClient\packages.config" />
  <repository path="..\..\FrameWork.Test\SAHL.DomainService.Test\packages.config" />
  <repository path="..\..\FrameWork\PDFDocumentWriter\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.BusinessModel.DAO\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.BusinessModel.Interfaces\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.BusinessModel.Specs\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.BusinessModel\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.Logging\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.Service.Specs\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.Service\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.UI\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.Web.UI\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.Web\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.X2.BusinessModel.DAO\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common.X2.BusinessModel\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Common\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Communication\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Shared\packages.config" />
  <repository path="..\..\FrameWork\SAHL.Test\packages.config" />
  <repository path="..\..\FrameWork\SAHL.X2.Framework\packages.config" />
  <repository path="..\..\Services\SAHL.Batch.Service\SAHL.Batch.Common\packages.config" />
  <repository path="..\..\Services\SAHL.Batch.Service\SAHL.Batch.PersonalLoanService.Test\packages.config" />
  <repository path="..\..\Services\SAHL.Batch.Service\SAHL.Batch.PersonalLoanService\packages.config" />
  <repository path="..\..\Services\SAHL.Batch.Service\SAHL.Batch.Service.Test\packages.config" />
  <repository path="..\..\Services\SAHL.Batch.Service\SAHL.Batch.Service\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.NugetPackageUpdater\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.Reportenator.CommandLine\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.Reportenator.CoverageCheck\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.Restorenator\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.Scriptenator.CommandLine\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.ScriptenatorCoverageCheck\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.Specs\packages.config" />
  <repository path="..\..\Tools\SAHL.Tools\SAHL.Tools.Workflow\packages.config" />
  <repository path="..\..\WorkFlowMaps\CAP2\WorkflowMaps.Cap2.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\Debt Counselling\WorkflowMaps.DebtCounselling.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\Help Desk\WorkflowMaps.HelpDesk.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\Life\WorkflowMaps.Life.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\Loan Adjustments\WorkflowMaps.LoanAdjustments.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\Origination\WorkflowMaps.Origination.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\Personal Loan\WorkflowMaps.PersonalLoan.Specs\packages.config" />
  <repository path="..\..\WorkFlowMaps\WorkflowMaps.Specs.Common\packages.config" />
  <repository path="..\..\WorkFlowMaps\WorkflowMaps.Tests\packages.config" />
</repositories>