<div class="childView-container" spin-loader="loadVariables">
    <div class="childView">
        <div class="row1">
            <h1>Variables <span ng-if="lockedByUser"> - Locked By : {{lockedByUser}}</span></h1>
            <h2 ng-show="isLatestVersion">Latest Version : {{latestVersion}}</h2>
            <h2 ng-hide="isLatestVersion">Version: {{version}}</h2>
            <h3 ng-hide="isLatestVersion">Latest Version : {{latestVersion}}</h3>
        </div>

        <br />

        <div class="row2">
            <div id="scrollBox">
                <div>
                    <div class="breadcrumbsContainer">
                        <nav class="breadcrumbs" style="margin-left:0px;">
                            <ul>
                                <li ng-repeat="crumb in breadcrumbs">
                                    <a href="" ng-click="gotoGroup(crumb.id)">{{crumb.name}}</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="button-set place-right">
                            <button ng-show="isLatestVersion" ng-click="addGroup()">Add Group</button>
                        </div>
                    </div>
                </div>
                <div class="tableContainer">
                    <form name="variablesForm">
                        <table class="table bordered hovered">
                            <tbody ng-repeat="group in currentGroups" ng-click="setSelectedItem(group.id)">
                                <tr class="groupRow">
                                    <th colspan="2" ng-click="gotoGroup(group.id)" class=" text-left">
                                        <span contenteditable class="editableGroupName" ng-model="group.name" strip-br="true" />
                                    </th>
                                    <th class="text-right">
                                        <a href="" ng-show="isLatestVersion" ng-click="removeGroup(group.id, $event)" title="Delete this group.">
                                            <span class="icon-remove fg-black"></span> Delete
                                        </a>
                                    </th>
                                    <th class="text-center">
                                        <a href="" ng-show="isLatestVersion" ng-click="addVariable(group.id,$index)" title="Add variable to group.">
                                            <span class="icon-plus fg-black"></span> Add
                                        </a>
                                    </th>
                                </tr>
                                <tr ng-show="selectedItemId == group.id">
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Type</th>
                                    <th class="text-left">Value</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat-start="var in group.variables" ng-show="selectedItemId == group.id">
                                    <td>
                                        <div class="input-control text">
                                            <input type="text" ng-model="var.name" ng-change="validateVariableName($parent.$index,$index)" id="{{ getId($parent.$index,$index) }}" ng-disabled="!isLatestVersion" ng-required="true" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-control select">
                                            <select ng-model="var.typeDisplay" ng-options="varType.name for varType in variableTypes" ng-disabled="!isLatestVersion"></select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-control text" ng-if="!var.typeDisplay.values">
                                            <input type="text" ng-model="var.value" ng-pattern="var.typeDisplay.pattern" ng-disabled="!isLatestVersion" ng-required="!var.typeDisplay.values" />
                                        </div>
                                        <div ng-if="var.typeDisplay.values">
                                            <div class="input-control select">
                                                <select ng-model="var.value" ng-options="enum for enum in var.typeDisplay.values" ng-disabled="!isLatestVersion"></select>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center" rowspan="2">
                                        <a href="" title="Delete" ng-show="isLatestVersion" ng-click="removeVariable(var.id, group.id)">
                                            <span class="icon-cancel fg-red"></span> Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-repeat-end ng-show="selectedItemId == group.id">
                                    <td colspan="3">
                                        <label>Variable Definition</label>
                                        <div class="input-control textarea"><textarea ng-model="var.definition" ng-required="true"></textarea></div>
                                    </td>
                                </tr>
                                <tr class="subgroupRow" ng-repeat="subGroup in group.groups" ng-show="selectedItemId == group.id">
                                    <th class="text-left" colspan="3"><a href="" ng-click="gotoGroup(subGroup.id)">{{subGroup.name}}</a></th>
                                    <th>
                                        <a href="" title="Delete" ng-show="isLatestVersion" ng-click="removeGroup(subGroup.id, $event)"><span class="icon-cancel fg-red"></span> Delete</a>
                                    </th>
                                </tr>
                                <tr class="subgroupRow" ng-show="selectedItemId == group.id">
                                    <th class="text-left" colspan="4" ng-show="isLatestVersion" ng-click="addGroup(group.id)"><span class="icon-plus fg-black"></span> Create subgroup...</th>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="bottomButtonsContainer">
                    <div class="button-set place-right">
                        <button ng-show="isLatestVersion" ng-click="addGroup()">Add Group</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>