.logo-capitec {
  height: 40px;
  margin-top: 14px;
  margin-right: 21px;
  width: 224px;
  float: right;
  background: url('../assets/img/logo-capitec.png') left top no-repeat;
}
.logo-sahl {
  height: 40px;
  margin-left: 21px;
  margin-top: 14px;
  width: 204px;
  float: left;
  background: url('../assets/img/logo-sahl.png') left top no-repeat;
}
