.icon-home {
  background-image: url(../assets/img/icon-home.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 23px;
  border: none;
  background-position-x: 9px;
}
.icon-settings {
  background-image: url(../assets/img/icon-settings.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 23px;
  border: none;
}
.icon-logout {
  background-image: url(../assets/img/icon-logout.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 23px;
  border: none;
}
.icon-menu {
  background-color: #f3f4f6;
}
.icon-menu-inverted {
  background-color: #a8b0b4;
}
