<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="messageBusServer" value="fakemessagebusServer" />
    <add key="messageBusUsername" value="admin" />
    <add key="messageBusPassword" value="W0rdpass" />
    <add key="subscriptionId" value="fakeMessageBusSubscriptionId" />
  </appSettings>
</configuration>