Antlr
Castle.Core
Dapper
EasyNetQ
FluentNHibernate
Iesi.Collections
Microsoft.Tpl.Dataflow
Microsoft.Web.Xdt
Newtonsoft.Json
NHibernate
NuGet.Core
RabbitMQ.Client
SAHL.Config.Core
SAHL.Config.Data.Dapper
SAHL.Core
SAHL.Core.Data
SAHL.Core.Data.Dapper
SAHL.Core.Messaging
SAHL.Core.Messaging.EasyNetQ
SAHL.Core.X2
SAHL.Core.X2.Shared
SAHL.Internal.Shared
SAHL.X2Engine2
SAHL.X2Engine2.Communication.EasyNetQ
SAHL.X2Engine2.Factories
SAHL.X2Engine2.ViewModels
structuremap
System.IO.Abstractions
valueinjecter
