@model SAHL.Core.UI.Elements.Menus.MenuBarContextElement
<div class="menu-bar scrollable-container" id="@Model.Id">
    <div class="scrollable-wrapper">
        <div class="scrollable-inner-container scrollable-inner-container-right scrollable-inner-container-left container-left container-right">
            <ul class="nav nav-pills scrollable-contents ">
                @foreach (var menuItemElement in Model.MenuItemElements)
                {
                    @Html.DisplayForModel(x => menuItemElement)
                }
            </ul>

        </div>
    </div>

    <div class="scrollable-controls scrollable-controls-left">
        <i class="scrollable-back  scrollable-control icon-angle-left"></i>
    </div>
    <div class="scrollable-controls  scrollable-controls-right ">
        <i class="scrollable-forward scrollable-control icon-angle-right"></i>
    </div>
</div>
