<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
		<add key="messageBusServer" value="DEVA47" />
    <add key="messageBusPassword" value="W0rdpass"/>
    <add key="MessagePollInterval" value="1000" />
</appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
