<!DOCTYPE html>
<html data-ng-app="About">

  <head>
    <script data-require="angular.js@" data-semver="1.3.13" src="https://code.angularjs.org/1.3.13/angular.js"></script>
    <!--<link rel="stylesheet" href="style.css" /> !-->
    <script src="AboutScript.js"></script>
  </head>

  <body data-ng-controller="MainController" border = "5">
       <h1>{{title}}</h1>

               
       	<table border="2">
        <tr> 
          	<td  data-ng-repeat="int in ints">{{int}}</td> 
        </tr>

        <tr >
         	<td data-ng-repeat="int in ints | orderBy: -'int'">{{int}}</td> 
        </tr>

        <tr>
        	<td data-ng-repeat="int in ints">{{int}}</td>
        </tr>

        <tr >
        <td data-ng-repeat="point in points | filter:point ">{{point}}</td>
        </tr>

        <tr>
        <td data-ng-repeat="string in sortedStrings">{{string}}</td>
        </tr>

        </table>
       </p>
  </body>

</html>
