<!DOCTYPE html>
<html ng-app="app2">
<head>
<script data-require="angular.js@" data-semver="1.3.13" src="https://code.angularjs.org/1.3.13/angular.js"></script>
<script src="newScript.js"></script>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="tables.css">
<link rel="stylesheet" href="navi.css">
<link rel="stylesheet" href="forms.css">
<link rel="stylesheet" href="featured_slide.css">

	<title> New AJS Page </title>
</head>
<body ng-controller="serviceFunction">

	<div><h2>{{firstname +" "+surname}}'s 3rd angular app</h2></div>
	<br>		
	<div ng-model="serviceFunction"> 
	<form>
	<input type="text" required placeholder="text" name= "variable" ></input>
	<br>
	<button ng-click="button_clicked(variable)">Click me!</button> 
	<br>
	Sorted Array using JavaScript
	<div ng-repeat="country in countries">
		<ul>
			<li>{{country}}
		</ul>
		
	</div>
	<br>
	Shuffled Array of other countries, hit 'F5' to test :)  

	<div>
		<ul ng-repeat="x in MoreCountries track by $index" >
			<li>{{x}}</li>
		</ul>
	</div>

	<input type="button" value="Randomize!" ng-click="shuffleArray(MoreCountries)"/> 
	<!--pick up from here 4:21 PM 2015-02-26 !-->
	</form>

	<table>
	<tr>
		<td> Count up value</td>
		<td> {{countUp}} </td>
	</tr>
	</table>

	<input type="button" value="COUNT UP" ng-click="incrementCountUp()"/> 
</body>

<footer>
	<div ng-controller="NewTestController">
		Using multiple controllers from a JavaScript file.
		<br>
		{{message}}
	</div></footer>
</html>