<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <gcServer enabled="false" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=D101985;Initial Catalog=aspnet-SAHL.X2Engine2.WebHost-20130718104214;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SAHL.X2Engine2.WebHost-20130718104214.mdf" />
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=D101985;Initial Catalog=X2;User Id=EWorkAdmin2;Password=W0rdpass" />
  </connectionStrings>
  <appSettings>
    <add key="messageBusServer" value="D101985" />
    <add key="subscriptionId" value="20000000-BDB1-4870-81F8-8ED77ECBC075" />
    <add key="NugetServerLocations" value="http://sahldeploy/SAHLDevNuGetGallery/api/v2" />
    <!--<add key="supportedProcesses" value="[{'ProcessName':'PaulsTestMap','Workflows':[{'WorkflowName':'WorkFlow01','ProcessName':'PaulsTestMap'},{'WorkflowName':'WorkFlow11','ProcessName':'PaulsTestMap'}]}]" />-->
    <!--<add key="supportedProcesses" value="[{'ProcessName':'Personal Loan','Workflows':[{'WorkflowName':'Personal Loans','ProcessName':'Personal Loan'}]}]" />-->
    <add key="supportedProcesses" value="[{'ProcessName':'CreateInstance','Workflows':[{'WorkflowName':'CreateInstance','ProcessName':'CreateInstance'}]}]" />
    <!--<add key="supportedProcesses" value="[
					{'ProcessName':'Origination','Workflows':[{'WorkflowName':'Application Capture','ProcessName':'Origination'},
                                          {'WorkflowName':'Application Management','ProcessName':'Origination'},
                                          {'WorkflowName':'Credit','ProcessName':'Origination'},
                                          {'WorkflowName':'Valuations','ProcessName':'Origination'},
                                          {'WorkflowName':'Readvance Payments','ProcessName':'Origination'}]},
                                          {'ProcessName':'AutoForwardToState','Workflows':[{'WorkflowName':'AutoForwardToState','ProcessName':'AutoForwardToState'}]}]" />-->
    <!--,{'ProcessName':'Personal Loan','Workflows':[{'WorkflowName':'Personal Loans','ProcessName':'Personal Loan'}]},
    {'ProcessName':'Debt Counselling','Workflows':[{'WorkflowName':'Debt Counselling','ProcessName':'Debt Counselling'}]}]" />-->

    <add key="nodeExchangeName" value="EDNode" />
    <add key="intervalToSendHealthMessagesInMilliseconds" value="1000" />
    <add key="engineExchangeName" value="engine" />
    <add key="engineQueueName" value="queue" />
    <add key="NuGetCachePath" value="C:\NuGetPackageCache" />
    <add key="NuGetCacheEnvironmentVariableName" value="NuGetCachePath" />
    <add key="PublishingNode" value="false" />
    <add key="LogFilePath" value="c:\temp\Dev" />
    <add key="EnableLogging" value="true" />
  </appSettings>
</configuration>