<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DisplayName" value="WorkflowAssignmentDomain Service" />
    <add key="Description" value="WorkflowAssignmentDomain Service" />
    <add key="ServiceName" value="WorkflowAssignmentDomain" />
  </appSettings>
</configuration>