<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
        <Header>
            <Title>Create BuildingBlocks.Views Class</Title>
			<Description>Code snippet for creating a BuildingBlocks.Views class</Description>
			<Author>AndrewK</Author>
			<Shortcut>views</Shortcut>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
        </Header>
        <Snippet>
			<Declarations>
				<Literal>
					<ID>classname</ID>
					<Default>ClassName</Default>
				</Literal>
			</Declarations>
            <Code Language="csharp">
                <![CDATA[
using WatiN.Core;
using ObjectMaps;

namespace BuildingBlocks
{
	public static partial class Views
	{
		public static class $classname$
		{
		$selected$ $end$
		}
	}
}
				]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
