.dxpgControl, .dxpgCustForm
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #9f9f9f;
	background-color: white;
}
.dxpgContainerCell
{
	vertical-align: top;
}
.dxpgMainTable
{
	color: Black;
	font: 9pt Tahoma;
	border: 0px;
	border-collapse: separate;
	width: 100%;
}
.dxpgMainTable caption 
{
	background: #ACACAC;
	color: white;
	border-bottom: Solid 1px #9F9F9F;
    font-size: 15px;
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
}
.dxpgHeader
{
	border-width: 0px;
	color: Black;
	background-color: #dcdcdc;
	cursor: pointer;
	white-space: nowrap;	
}
.dxpgHeaderTable
{
	border-width: 1px;
	width: 100%;
}
.dxpgHeaderGroupButton
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxpgHeaderSort
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgHeaderHover
{
	background-color: #f1f1f1;
}
.dxpgArea, .dxpgArea table
{
	color: Black;
	font: 9pt Tahoma;
}
.dxpgArea
{
	border: solid 1px #9f9f9f;
	background-color: #ededed;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea
{
	border-bottom-style: solid;
}
.dxpgRowArea
{
}
.dxpgDataArea
{
}
.dxpgFilterArea
{
	background-color: #dcdcdc;
	color: #808080;
	border-bottom-style: solid;
}
.dxpgEmptyArea
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue
{
	background-color: #dcdcdc;
	border: solid 1px #9f9f9f;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
	font-weight: normal;
	text-align: left;	
}
.dxpgColumnTotalFieldValue
{
	background-color: #c9c9c9;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue
{
	background-color: #bdbdbd;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue
{
	background-color: #dcdcdc;
	border: solid 1px #9f9f9f;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 3px 6px 4px 6px;
	font-weight: normal;
	text-align: left;
}
.dxpgRowTotalFieldValue
{
	background-color: #c9c9c9;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowTreeFieldValue
{	
	padding: 0px;
	font: 0pt;
}
.dxpgRowGrandTotalFieldValue
{
	background-color: #bdbdbd;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding-top: 5px;
	padding-bottom: 6px;	
}
.dxpgCollapsedButton
{
	vertical-align: -1px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage
{
	vertical-align: -1px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell
{
	text-align: right;
	background-color: White;	
	border-color: #cecece;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	padding-top:3px;
	white-space: nowrap;
}
.dxpgKPICell
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell
{
	background-color: #f2f2f2;
}
.dxpgGrandTotalCell
{
	background-color: #e2e2e2;
}
.dxpgRowGrandTotalCell
{
	background-color: #e2e2e2;
}
.dxpgColumnGrandTotalCell
{
	background-color: #e2e2e2;
}
.dxpgFilterWindow
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #9f9f9f;
}
.dxpgFilterItemsArea
{
	color: Black;
	background-color: White;
}
.dxpgFilterItem
{
	font: 9pt Tahoma;
}
.dxpgFilterButton
{
	font: 9pt Tahoma;
	padding: 2px 6px;
}
.dxpgFilterButtonPanel
{
	font: 9pt Tahoma;
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	color: Black;
}
.dxpgLoadingDiv
{
	background-color: White;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxpgTopPager
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #9f9f9f;
	background-color: #F2F2F2;
	padding-bottom:2px;	
}
.dxpgBottomPager
{
	border-top: solid 1px #9f9f9f;
	border-bottom: none;
	border-right: none;
	border-left: none;
	background-color: #F2F2F2;
	padding-bottom:2px;
}
.dxpgCustomizationFieldsHeader
{
	color: White;
	font: 11px Tahoma;
}
.dxpgCustomizationFieldsContent
{
	padding: 0px !important;
}
.dxpgLoadingPanel
{
	font: 9pt Tahoma;
	color: #303030;
	background-color: White;
	border: solid 1px #9f9f9f;
	text-align: center;			
	cursor: wait;
}
.dxpgLoadingPanel td.dx
{
	padding: 12px 12px 12px 12px;
}
.dxpgMenuItem 
{
	font: 9pt Tahoma;	
}
.dxpgDataHeadersImage
{
	margin-right: 5px;
	vertical-align: -2px;
}
.dxpgPrefilterPanelContainer
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanel
{
	border: none;
	background: #d4d4d4;
}
.dxpgPrefilterPanelLink
{
	color: #394ea2;
	text-decoration: underline;
}
.dxpgPrefilterPanelCheckBoxCell
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxpgPrefilterPanelImageCell
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell
{
	font-size: 9pt;
	padding: 5px 5px 8px 0;	
	white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell
{
	font-size: 9pt;
	padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea
{
	background: #ededed;
	border-top: solid 1px #cfcfcf;
	padding: 6px;
}
.dxpgGroupSeparator 
{
	vertical-align: middle;
}
.dxpgCustFieldsFilterAreaHeaders,
.dxpgCustFieldsRowAreaHeaders,
.dxpgCustFieldsColumnAreaHeaders,
.dxpgCustFieldsDataAreaHeaders,
.StackedSideBySide .dxpgFLFRDiv,
.StackedSideBySide .dxpgFLCDDiv
{
width:100%;
height:50%;
}
.StackedDefault .dxpgCustFieldsFieldList
{
height:34%;
}
.StackedDefault .dxpgFLFRDiv
{
width:50%;
height:66%;
float:left;
}
.StackedDefault .dxpgFLCDDiv
{
width:50%;
height:66%;
float:right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders .dxpgFLTextDiv,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders .dxpgFLTextDiv
{
height:47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList
{
width:100%;
height:100%;
}
.TopPanelOnly .dxpgFLDefereDiv .dxeBase,
.TopPanelOnly .dxpgFLDefereDiv .dxpgFLDefereDB,
.StackedSideBySide .dxpgCustFieldsFieldList,
.TopPanelOnly .dxpgFLFRDiv,
.TopPanelOnly .dxpgFLCDDiv,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList,
.TopPanelOnly .dxpgFLTextDiv div
{
display:none;
}
.TopPanelOnly .dxpgFLTextDiv
{
 height:19px;   
}
.TopPanelOnly .dxpgFLDefereDiv
{
 height:16px;   
}
.BottomPanelOnly2by2 .dxpgFLFRDiv,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList
{
width:50%;
height:100%;
float:left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv
{
width:50%;
height:100%;
float:right;
}
.BottomPanelOnly1by4 .dxpgFLFRDiv,
.BottomPanelOnly1by4 .dxpgFLCDDiv
{
width:50%;
height:50%;
float:right;
}
.dxpgCustFields
{
    display:block;
    position:relative;
}
.dxpgFLListDiv div
{
    border:1px solid #9F9F9F;
    position:relative;
    display:block;
    height:100%;
    padding:1px;
    background:#FFFFFF;
    overflow:hidden;
}
.dxpgFLListDiv div div
{
    height:100%;
    padding:0px;
    border:solid 0px #FFFFFF;
    overflow-y:auto;
}
.DragOver .dxpgFLListDiv div
{
    background:#FFD324;
}
.DragOver .dxpgFLListDiv div div
{
    background:#FFFFFF;
}
.dxpgFLListDiv 
{
    padding:0px 3px 0px 3px;
}
.dxpgFLButtonDiv .dxbButton div.dxb
{
    padding:2px 8px 1px;
}
.dxpgFLButtonDiv .dxbButton div.dxbf
{
	border: dotted 1px black;	
	padding:1px 7px 0px;
}
.dxpgFLTextDiv
{
 height:28px;
}
.dxpgFLTextDiv div
{
   display:block;
   float:left;
   margin:-17px 0px 3px 0px;
   left:6px;
   top:100%;
   position:relative;
}
div.dxpgFLTextImgDiv
{
    display:block;
    height:16px;
    width:16px;
    margin:-18px 0px 3px 0px;
    left:3px;
}
.dxpgFLButtonDiv
{
    float:right;
    height:28px;
    position:relative;
    z-index:1;
}
.dxpgFLDefereDiv
{
    height:50px;
}
.dxpgCustFieldsDiv
{
 clear:both;   
 padding:0px 9px;
}
.dxpgFLButton 
{
 margin:12px 12px 0px 0px;
 width:40px;
 height:23px;
}
.dxpgFLDefereDiv .dxeBase
{
 float:left;
 display:block;
 border-collapse:separate;
 padding:18px 0px 0px 0px; 
 margin-left:9px;  
}
.dxpgFLDefereDB
{
float:right;
display:block;
padding:0px 12px 0px 0px;
margin-top:16px;
}
.dxpgFLDefereDiv .dxbButton div.dxb
{
    padding:2px 14px 2px 14px;
}
.dxpgFLDefereDiv .dxbButton div.dxbf
{
    padding:1px 13px 1px 13px;
    border: dotted 1px black;	
}
.dxpgFLListDiv table 
{
 width:100%;
 table-layout:fixed;  
 overflow:visible;
}
.dxpgFLListDiv table table td
{
     overflow:hidden; 
}