<div id="TagManager" ng-controller="MyTagManagerCtrl" class="myTagManager" ng-init="resetViewToBase()">
    <button ng-click="showMenu()" ng-if="hideScreen" class="editTag roundedEdges">Edit Tags</button>
    <div ng-if="!hideScreen" class="editor">
        <table ng-if="showTagMenu">
            <tr>
                <th>Tag Caption</th>
                <th>Display</th>
            </tr>
            <tr ng-repeat="tag in allTags">
                <td>{{tag.Caption}}</td>
                <td>
                    <div ng-style="tag.Style" class="tagDisplayDot"></div>
                </td>
                <td>
                    <a ng-click="editTag(tag)">
                        <i class="icon-pencil"></i></a></td>
                <td>
                    <a ng-click="deleteGivenTag(tag)">
                        <i class="icon-cancel"></i></a></td>
            </tr>
        </table>


        <table ng-if="showingEditor" width="100%">
            <tr>
                <td>Text</td>
                <td><input ng-model="editingTag.Caption"/></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table>
                        <tr ng-repeat="row in GetColourRows(tagColours.length/5)">
                            <td ng-repeat="result in tagColours.slice(5*$index, 5*$index+5)">
                                <div ng-style="result" ng-click="changeColourSelection(result)">Text</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Example</td>
                <td>
                    <div ng-style="editingTag.Style" class="roundedEdges text-center">{{editingTag.Caption}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="save()" class="roundedEdges">Save</button>
                </td>
                <td>
                    <button ng-click="showMenu()" class="roundedEdges">Back</button>
                </td>
            </tr>
        </table>


        <button ng-click="resetViewToBase()" ng-if="showingEditor || showTagMenu" class="editTag roundedEdges">Cancel</button>
    </div>

</div>
