<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCONNECTION_ServiceArchitect" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id=ServiceArchitect;Password=Service1Architect;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="DBCONNECTION_EworkAdmin2" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id=eworkadmin2;Password=W0rdpass;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="DBCONNECTION_ServiceArchitect_Halo" connectionString="Data Source=DEVA03;Initial Catalog=2AM;Persist Security Info=True;User Id=ServiceArchitect;Password=Service1Architect;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="DBCONNECTION_ServiceArchitect_Capitec" connectionString="Data Source=DEVACDB01;Initial Catalog=capitec;Persist Security Info=True;User Id=ServiceArchitect;Password=Service1Architect;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="DBCONNECTION_ServiceArchitect_DecisionTree" connectionString="Data Source=SAHL-DT01;Initial Catalog=DecisionTree;Persist Security Info=True;User Id=ServiceArchitect;Password=Service1Architect;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    <add name="DBCONNECTION_Event" connectionString="Data Source=DEVA03;Initial Catalog=EventStore;Persist Security Info=True;User Id=Event;Password=W0rdpass;Connect Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  </configuration>
