<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
	<add key="UserProfileService" value="sahl-ws02/UserProfileService/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="HaloService" value="sahl-ws02/HaloService/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>