<SAHL.X2.Framework.Properties.Settings>
	<setting name="X2URL" serializeAs="String">
		<value>tcp://DEVA14:8089/X2Engine</value>
	</setting>
	<setting name="X2WebHost_Url" serializeAs="String">
    	<value>d101980/x2service/</value>
  	</setting>
  	<setting name="X2ProviderWeb" serializeAs="String">
    	<value>True</value>
  	</setting>
</SAHL.X2.Framework.Properties.Settings>
