<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<fieldset>
<div class="grid fluid">
    <div class="row"><#foreach(KeyValuePair<string,string> kvp in this.Model.Properties){#>
		<div class="span6"><label><b><#= kvp.Value #></b></label>
		<div class="input-control">
			<input name="_<#=kvp.Key.Replace(" ","")#>" ng-model='item.tileData.<#= kvp.Key #>' <#=GetHtmlAttributes(kvp.Value) #> />
			<i class="icon-warning <#=GetToolTip()#>" for="_<#=kvp.Key.Replace(" ","")#>" ng-show="input.$invalid && (input.$dirty || form.$dirty)" error-hint>
				<div>
					<ul>
						<#foreach(var attribute in Model.GetPropertyAnnotations(kvp.Value)){#><li ng-if='input.$error.<#=attribute.NGErrorTag#>'><#=attribute.NGErrorMessage#></li>
						<#}#>
					</ul>
				</div>
			</i>
		</div>
	</div>
	<#if((Counter % 2) != 0 && kvp.Key != this.Model.Properties.Last().Key){#></div>
		<div class="row">
<#}#>
<#}#>
    </div>
</div>
</fieldset>
