@model SAHL.Core.UI.Halo.Tiles.LegalEntityRiskDetail.Default.LegalEntityRiskDetailMinorTileModel
<span class="badge badge-important pull-right"><i class="icon-small icon-exclamation "></i></span>
@Html.Title("Risk Details")
@Html.DisplayLabelModelPairFor("Date of last ITC", x => x.LastITCDate)
@Html.DisplayLabelModelPairFor("Empirica Score", x => x.EmpiricaScore)
@Html.DisplayLabelModelPairFor("Basel Score", x => x.BaselScore)
