<nav class="horizontal-menu compact">
    <ul id="userNav">
        <li ng-repeat="menuItem in menuItems" ui-sref-active="active">
            <a ui-sref='start.portalPages.myhalo({modulename: menuItem.ModuleName})'>
                {{menuItem.Name}}
            </a>
        </li>
    </ul>
</nav>
<div id="userContent" class="myHalo">
    <div ui-view class="full-height-view portalGrid">
        <div id="portalGrid" class="scrollable grid full-height-view">
            <div class="panel panel-w{{item.noOfColumns}} panel-h{{item.noOfRows}} position-column{{item.startColumn}} position-row{{item.startRow}}" ng-repeat="item in rootTiles">
                <div class="panel-content full-height full-width" ng-include="view(item.dataModelType)"></div>
            </div>
        </div>
    </div>
</div>
